[2016-01-06 03:50] isohedral opened #4223 "Symlinks in sketchbook window?"
For teaching purposes, I have my sketchbook set up in a funny way. The sketches related to the course are in their own directory, and I have a symlink from my main sketchbook directory over to that one. This worked fine in Processing 2.2.1 -- the hierarchical Sketchbook menu would follow the symlink transparently. But it seems as if the "Sketchbook..." window in Processing 3 doesn't.  As a result,

[2016-01-06 06:25] danomatika opened #4224 "Find in reference for size() opens StringList.size()"
Just a small thing, but I keep getting bitten by it when demoing "Find in reference".

Highlighting size() and choosing "Find in reference" opens the page for the StringList size() member function, not the P5 size() function.

Tested in P5 3.0.1

[2016-01-07 20:07] popodidi opened #4225 "Retina display: pixelDensity() and PGraphics not working properly"
I tried to make a high resolution sketch, it turned out strange.
I've tried both in PDE and Eclipse with Processing 3 on my Macbook Pro Retina.
In PDE, i executed the following codes

[code]

The drawing was good, but the PGraphics wasn't.
<img width="500" alt="untitled" src="https://cloud.githubusercontent.com/assets/8709463/12181455/91c40f44-b582-11e5-81fe-6c6c73bbda36.png">

In Eclipse, I used

[2016-01-08 19:12] hype opened #4226 "cam.read() ArrayIndexOutOfBoundsException: -1"
I'm working with Stefano Baldan author of IPCapture (https://github.com/singintime/ipcapture)

and when using the Axis IP Cam... if you leave it running for several hours eventually you get an... ```ArrayIndexOutOfBoundsException -1``` on ```cam.read();```

sample code :
[code]
catch output :

[code]
Stefano was maybe under the assumption that it was maybe a "bug in the JPEG reader of the standard

[2016-01-08 20:19] codeanticode commented on #4226
Hi, I re-opened this issue in the procesing-video repo https://github.com/processing/processing/issues/4226

[2016-01-08 20:19] #4226 closed

[2016-01-08 21:07] hype commented on #4226
cheers... thank you.

[2016-01-09 05:36] Akarshit commented on #4224
The cause of this is that in the keywords.txt file there are many occurrences of size like these
[code]
So when constructong the map of the keywords to the html files the value of the size keyword gets repeatedly overwritten and is set to StringList_size at last. That's why the reference for StringList:size() is opened when opening reference for size().

A solution could be to take account of the

[2016-01-09 09:14] pr1est0r commented on #4189
I have the same error with Processing 2.2.1.
1.5.1 doesn't work anymore either. 3.0.1 does work, but my sketches don't with Processing 3.
Suddenly the error just appeared, I don't know what has changed in my system.

[2016-01-09 10:40] Akarshit commented on #4223
@isohedral I set up my sketchbook in a similar way, and the symlinks were recognized.
I have the following directory structure
Sketchbook location -> /home/akarshit/sketchbook
This directory contains a symlink by the name `link`
The link points to a directory that has the sketch abc
Now the `Skaetchboook...` gives me the following tree
sketchbook

Is there something i am missing ?

[2016-01-09 15:02] isohedral commented on #4223
@Akarshit You're absolutely right.  I tried it again this morning, and it seemed to work. Either there was some kind of spurious bug last time, or I hadn't set things up the way I thought I had. Not sure. Anyway, thanks.

[2016-01-09 18:29] aengelke commented on #4223
You can click the Close button below the comment box.

[2016-01-10 06:44] RudnikNelson commented on #4170
Aeryn, I've been having the same problem. I believe your problem is the same as outlined here: https://github.com/processing/processing/issues/3391

I concur that in 2.2.1, the alpha of our transparent PNG's blended and displayed properly-- but is broke in 3. I'm trying to develop a work around in the meantime, but hope this is eventually fixed, as my workaround will no doubt have some performance

[2016-01-10 09:48] gohai commented on #4205
@muhammadtahir Need more info to look into this. Closing for now.

[2016-01-10 09:48] #4205 closed

[2016-01-10 10:39] maxbul commented on #4189
That helped to me

https://github.com/processing/processing/wiki/Troubleshooting
"Try moving or renaming your Sketchbook."

(Problem was in "contributions" file)

[2016-01-10 18:34] Cvcolod opened #4227 "Svg export library"
Hello,

Is there any library for Processing 3 to export as .svg file like the PDF Export one ? Cheers,

D

[2016-01-11 11:21] kasperkamperman opened #4228 "Throw friendly error message instead of “The nested type cannot hide an enclosing type”"
Hi,

A student got this error because she named the class the same as the filename of the main sketch. Would it be possible to throw a friendlier error message? Like: "A class cannot have the same name as your the name of your sketch".

[code]

http://stackoverflow.com/questions/33902511/the-nested-type-cannot-hide-an-enclosing-type-class-java-processing

[2016-01-11 13:34] AerynMartin commented on #4170
I haven't found a work around yet. And my app is already pretty heavy on the memory so I doubt I have much wiggle room there. For now I am avoiding the issue by always adding a background colour to the pg, and removing it in time for the export. Messy, but it'll do for now.

Thank you so much for responding! I was beginning to think I was overlooking something blatantly obvious. ^^

[2016-01-11 17:55] GKFX commented on #4187
@brentcarpenter Could you close this issue? Thanks.

[2016-01-11 18:33] RudnikNelson commented on #4170
Aeryn, I found that you can set the background color with an alpha of 0-- and it works for better alpha mixing between the layers, probably without requiring you to remove the background color later:

[code]

Alternatively, if you have a background image drawn that you need to mix with, you can do this:

[code]

These are hacky solutions at best and doesn't accurately depict the color but it's muc

[2016-01-12 10:28] tomschofield commented on #4189
I receive the same error on processing 2.2.1 processing 3 opens fine. I've updated java, binned the preferences.txt and renamed the sketch folder. No change. I'm running OSX 0.11.2. On a high spec retina MBP. Any thoughts?
![screen shot 2016-01-12 at 10 27 55](https://cloud.githubusercontent.com/assets/897687/12261141/2a23ae6a-b917-11e5-9874-f7474b009de9.png)

[2016-01-12 10:42] maxbul commented on #4189
Deletion of "preferences.txt" does'nt helped to me, but when I deleted a "contributions.txt" - everything is fine now.

I tryied to start Processing 3 - that caused the same error message (I use the  Win32 version)

[2016-01-12 10:45] tomschofield commented on #4189
Ah, thank you Maxbul, confirmed here. Deleting contributions.txt in ~/Library/Processing solved the issue.

[2016-01-12 13:47] pr1est0r commented on #4189
You saved my life! On Windoze, removing / renaming the Processing folder in C:\Users\<*>\AppData\Roaming did the job. That's where contributions.txt is...

[2016-01-12 23:47] marado opened #4230 "Distribute .deb packages"
According to #2972 there is the possibility to generate .deb packages on build time.
Can you please distribute them, on the download website?

[2016-01-13 17:09] maxdee opened #4231 "PShape.scale() affects strokeWeight differently in P2D and P3D"
When using `PShape.scale()` in P2D, the strokeWeight is also scaled, with P3D the strokeWeight does not change.

[code]

[2016-01-14 21:55] codeanticode commented on #4231
Nice one, thanks for the report! Taken care with https://github.com/processing/processing/commit/a20de58be3e622ea7cf4054acaa45a782a254ca1, fix will be available in next release of Processing.

[2016-01-14 21:55] #4231 closed

[2016-01-15 14:50] emnullfuenf opened #4232 "Processing 2.2.1 OS X 10.9.5: We're off the wrong foot"
After i installed Apple's "Java for OS X 2015-001" update, Processing 2.2.1 does not start anymore.
![screen shot 2016-01-15 at 15 19 31](https://cloud.githubusercontent.com/assets/909774/12355238/a92b9232-bb9b-11e5-8665-a764c17cea0d.png)
This happens under OS X 10.8 and 10.9. Processing 3.0.1 still works fine.
I tried to delete the libraries, tools and modes libraries without success. Installing

[2016-01-15 17:13] maxdee commented on #4231
Awesome!
Y'all rock.

[2016-01-15 17:51] emnullfuenf commented on #4232
Update: It works again after deleting the folder
~/Library/Processing

[2016-01-15 17:52] #4232 closed

[2016-01-17 05:44] amonwong opened #4233 "HELP!"
Good morning all,

I am trying to figure out https://www.youtube.com/watch?v=RDrHHsez3nU this code for Processing 3.0.

int allxpoints[] = new int[50];
int allypoints[] = new int[50];

//boolean fullScreen() {
//return true;
//}

void setup() {
  fullScreen(P3D);
  background (249);
  stroke(21);
  smooth();
}
void draw () {
 // delay(30);
  background(222);
  for (int n = 0; n<50; n++) {
    allx

[2016-01-17 09:57] #4233 closed

[2016-01-17 19:33] mrzl commented on #4233
lol

[2016-01-17 20:13] RadianSmile opened #4234 "createFont nullPointerException"
V3.0.1  mac OSX  and Window 10. (I tried at both systems)
My program works fine in v3.0.0, after upgrade createFont throws me nullPointerException, and I have no idea with this. And I did't change any of my code. Please tell me why. There is no imfomation on google.

[2016-01-18 22:34] garciadelcastillo commented on #4218
@JakubValtar @benfry I just ran into this issue. I agree with Ben, it is probably more convenient to leave `saveFrame()` async behavior by default, which will benefir 98% of the cases... But then it creates a weird asymmetry with `loadImage()` default sync behavior. What would such a synced `saveFrame()` function be called? 'snapFrame()`?
[code]

Node.js solves this issue by adding a suffix to the

[2016-01-19 16:02] jsuijs opened #4235 "java.lang.IllegalArgumentException on resize of window."
Hi,

When you setup a window to be resizeable and move the lower edge of the window all the way up, the program throws an exception:

java.lang.IllegalArgumentException: Width (500) and height (0) cannot be <= 0
	at java.awt.image.DirectColorModel.createCompatibleWritableRaster(DirectColorModel.java:1016)
	at java.awt.GraphicsConfiguration.createCompatibleImage(GraphicsConfiguration.java:186)
	at

[2016-01-20 03:35] DavidB-TPW commented on #4218
@garciadelcastillo What would be the advantage of using the latter option?

[2016-01-20 13:42] Akarshit commented on #4235
I was testing this issue on Linux but was unable to reproduce this but in the effort got some weird result while resizing the window using the same code as above. Following are the screenshots of the window while resizing:
![screenshot from 2016-01-20 18 53 02](https://cloud.githubusercontent.com/assets/7762605/12450253/8d454a66-bfa8-11e5-9e45-93f72fc88e47.png)
![screenshot from 2016-01-20 18 53 1

[2016-01-20 14:13] Akarshit commented on #4234
@RadianSmile Thanks for reporting the issue.
Can you please provide some more information, like the code that you were trying to run or the stack trace of the error?

[2016-01-20 15:10] garciadelcastillo commented on #4218
@DavidB-TPW I find it more coherent with the way the Processing syntax is designed. Plus it establishes a SYNC/ASYNC logic that could be easily implemented into other functions (`loadShape(), loadFont()`, etc.)

[2016-01-20 16:19] jsuijs commented on #4235
Got the issue on win7...

Joep

[2016-01-20 17:57] payal97 commented on #4235
Got the same result as Akarshit on ubuntu 14.04

[2016-01-20 19:02] Akarshit opened #4236 "Resizing causes surface to behave weirdly"
The sketch to reproduce the issue:

public void setup() {
size(500, 360);

surface.setResizable(true);

}

public void draw() {
}

When running the above code on Linux, I got some weird result while resizing the window that is opened. Following are the screenshots of the window while resizing:
![screenshot from 2016-01-20 18 53 52](https://cloud.githubusercontent.com/assets/7762605/12459719/229cba

[2016-01-21 04:29] iamutkarshtiwari commented on #4184
https://github.com/processing/processing/issues/3830

[2016-01-21 17:27] Akarshit opened #4237 "CM-dealy when CM is opened even though list is downloaded beforehand"
Even after the number of updates available is displayed in the editor(that means that the list has been downloaded) there is still delay when opening CM

[2016-01-22 05:18] nkolban opened #4239 "Processing P3D windows takes 30 seconds to 1 minute to appear ..."
I am new to processing and have been running it just fine on my Windows 7 laptop. I decided I wanted to run it on my deskside which has dual monitors and a high end graphics card and runs Windows 10. I installed processing without incident but when I try and run a sketch ... and I hit the play button ... the display windows takes 1-2 minutes to appear. After that, I can interact with the display p

[2016-01-22 17:45] alignedleft commented on #4239
For a few weeks, Processing 3.0.1 was super slow on initial open on my Mac. But then eventually it went back to its usual, speedy self. Could have been that I applied a Java update or something else behind the scenes.

[2016-01-23 06:24] upcomingGit opened #4240 "Ketai custom library not functioning (Android Mode)"
After downloading the 'Ketai' library from the contribution manager, the 'KetaiSensor' class is not recognized in Android Mode

[2016-01-23 09:26] Akarshit commented on #2189
@benfry I think that this issue is not relevant now as the CM has been changed.

[2016-01-23 09:32] Akarshit commented on #3407
@jamesjgrady I would be willing to the implement the designs.

[2016-01-24 08:13] Akarshit opened #4242 "Provide option to update a single contribution in CM"
Right now the Updates tab in the contribution manager shows all the contribution for which the updates are available but provides only the option to update all contributions together through a Update All button.
If someone has to update only a single contribution he would have to go to the respective tab and then search for the contribution and then update it. This is a rather long procedure and s

[2016-01-25 10:15] kontur commented on #2199
This still seems to be an issue. Is there a way to overwrite the shortcut combinations for keyboards that don't have these key combinations available in some configuration file for the user?

For me, too, @designhofmann 's suggestion works and when I press `cmd` + `-` on my Finnish keyboard I get the functionality of `cmd` + `/`, because the keyboard positions seem to coincide - but unless I've ty

[2016-01-25 15:27] jamesjgrady commented on #3407
This looks to be a closed thread. I can’t respond on GitHub. Do you need design files from me?

Let me know if I can help move this along.

James

[2016-01-25 15:31] Akarshit commented on #3407
@jamesjgrady I don't think the issue is closed yet.
The design files would be a great help if you can manage to post them.

[2016-01-25 15:43] jamesjgrady commented on #3407
Sorry, I was not logged in. I'll post the files today.

[2016-01-25 15:57] jamesjgrady commented on #3407
[PDE-Sketch-r16-import-suggestion-002.psd.zip](https://github.com/processing/processing/files/103441/PDE-Sketch-r16-import-suggestion-002.psd.zip)

[2016-01-25 16:42] PARAG00991 opened #4245 "Warning returned after running example 'MoveEye'"
Steps to reproduce:
1. Start Processing-3.0.1
2. Go to File->Examples->Camera->MoveEye
3. Click Run
After clicking run button on my Intel® Core™ i5-3230M CPU @ 2.60GHz × 4 processor(Ubuntu 14.04 LTS), example runs but `libEGL warning: failed to create a pipe screen for i965` is returned in console and when I close the example, the below mentioned thing also gets displayed in the console.
[code]

[2016-01-25 17:52] alignedleft commented on #3407
@jamesjgrady To clarify the behavior here, would this gray overlay appear when you hover over the blue "import suggestion" text in the error console? If so, wouldn't mousing toward the "click to insert" button make the overlay disappear (because you would have moused-out of the blue link)?

This looks good visually; I just want to understand the interaction logic. Thanks!

[2016-01-25 18:28] jamesjgrady commented on #3407
@alignedleft I believe it's the same way it's working now. I just cleaned up the design. Could you possible send me a sketch that would have and import option? I can also ask @benfry to see if he could show me quickly.

[2016-01-25 20:29] alignedleft commented on #3407
@jamesjgrady I'm actually not sure how to trigger that message.  I tried @shiffman's code from the mockup above:

[code]

I also tried this, which produces a similar error, but not the same one:

[code]

@shiffman, could you provide another example to trigger this?

[2016-01-25 20:40] JakubValtar commented on #3407
Go to errors tab and double click a class name which is not know. (I guess using List from java.util.List would do.)

[2016-01-25 20:57] sebastiangonzalezbotasi commented on #4104
Hello, I am Sebastian. I am from Argentina. Processing error:
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x000000012f2f9083, pid=2475, tid=61967
#
# JRE version: Java(TM) SE Runtime Environment (8.0_51-b16) (build 1.8.0_51-b16)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.51-b03 mixed mode bsd-amd64 compressed oops)
# Problematic frame:
# C  [

[2016-01-25 22:21] 94Conti opened #4246 "mousePressed() not working well - Android Mode"
Hi! I am doing an Application for Android. I am using a Samsung Galaxy Tab 3 (Android 4.4.2) and last version of Processing.

I have read some people saying that Android 4.1+ versions have some issues with some Processing events (like mousePressed...). In Java Mode works perfectly, but when using Android Mode I have to tab two times instead of one click as in Java Mode.

I was using this example c

[2016-01-25 22:23] codeanticode commented on #4246
Hi, please report Android mode-related issues in the [processing-android repo](https://github.com/processing/processing-android). I just re-opened this issue there: https://github.com/processing/processing-android/issues/186

[2016-01-25 22:23] #4246 closed

[2016-01-26 03:17] nkolban commented on #4239
Let me know if I can provide any diagnostics or if you need help recreating.  I will be delighted to work with you live to open up screen shares or capture docs ....

kolban1@kolban.com

[2016-01-26 05:12] GoToLoop commented on #4190
@hamoid , `22e3` isn't interpreted as `double` in the PDE. We have to suffix it w/ `d` or `D` for it:

[code]

PDE's  pre-processor visits each literal in the ".pde" code and suffix every 1 which got a `.` or an `e` in it.
Of course, as long as it doesn't have 1 already.  ;-)

[2016-01-26 05:17] GoToLoop commented on #4190
The actual compile error is: *"The method parseFloat(int) in the type PApplet is not applicable for the argument (float)"*

[2016-01-26 09:52] StanLepunK opened #4248 "Memory leak w/ app on OSX"
I make a complex programme with Processing https://github.com/StanLepunK/ROMANESCO/tree/master/Software_28 It's three sketches who work together. One is controller, the two others are a display rendering in P3D. The sketches work together with OSC protocol. When the sketch run in processing there is no problem, but when I build the OSX application, that's work but there is a big memory leak in the

[2016-01-26 09:55] #4248 closed

[2016-01-26 09:56] StanLepunK commented on #4248
Close, because maybe the frameRate is the origin of this memory leak.

[2016-01-27 14:23] gdsentropy opened #4249 "Comment/uncomment removes indenting"
Version 3.0.1, running on Mac Mini El Capitan.
I have not tried to reproduce this on any other platform.

I have the processing preference editor.tabs.size set to 4.

When I comment/uncomment, each time one space is removed from the indentation of curly brace contents until such is eventually aligned with the braces. It does not proceed further. In the case of deeply nested code, the issue gets a

[2016-01-27 14:24] gdsentropy commented on #4249
Crap stupid iPhone submitted in the middle of editing the comment. Sorry for the butchery.

[2016-01-27 14:36] gdsentropy opened #4250 "Column edit inconsistency"
Version 3.0.1, running on Mac Mini El Capitan.
I have not tried to reproduce this on any other platform.

There is an inconsistency in the behavior of column edit between removal and addition.
Removal works as expected; selecting a column and backspace correctly removes the contents of that column. However addition will only apply to the top line.

I can submit my preferences and theme files if ne

[2016-01-27 14:43] gdsentropy opened #4251 "Comment/uncomment garbles improperly nested indenting"
Version 3.0.1, running on Mac Mini El Capitan.
I have not tried to reproduce this on any other platform.

Given the following example:
(note it doesn't show up correctly in Github forum view mode, but the inner if is 4 spaces to the left of the outer)
    if (true)
    {
if (true)
{

}
    }

Commenting produces the following result:
    //if (true)
    //{
if (//true)
{
  ////
}
  ////  }

Select

[2016-01-27 14:51] gdsentropy opened #4252 "Copy/paste as well as increase indent sometimes appends spaces"
Version 3.0.1 on Mac Mini running El Capitan; no attempt to reproduce on other OS was made.

Frequently when copy/paste a block of code, spaces equal to the tab size are appended to the laste line pasted.

The same behavior manifests when increasing indent.

Neither behavior happens 100% of the time, it is closer to 50%.
Reproduction of this issue is really annoying, and likely the best informatio

[2016-01-28 11:32] Akarshit commented on #3407
@JakubValtar I tried the code above but was unable to find the popup for importing the library.
I am posting a screenshot of  the screen below.

![screenshot from 2016-01-28 15 59 49](https://cloud.githubusercontent.com/assets/7762605/12643187/a47128de-c5e0-11e5-8fe0-63d67d30883b.png)

Am i missing something?

[2016-01-28 11:35] JakubValtar commented on #3407
Do you have video library installed? Also try with 3.0.1, I'm sure it works
there.

On Thu, 28 Jan 2016, 12:32 Akarshit Wal <notifications@github.com> wrote:

[2016-01-28 12:26] Akarshit opened #4253 "Implement right click functionalities in the sketchbook"
When the sketchbook is opened basic functions should be provided on right clicking the sketches like
* Open
* Delete
* Rename
* Run
* Copy
* Paste
* Properties
* Move(?)

I will try to implement these features and create a PR.
If some has any other feature in mind i would be happy to incorporate it.

[2016-01-28 12:37] Akarshit opened #4254 "Implement click functionality on the whole width of selection in sketchbook"
For the items in the sketchbook, they only open when the name is double clicked. Instead of this they should open whenever the user double clicks anywhere on the selection(the horizontal highlighted area)
For example
![screenshot from 2016-01-28 17 59 51](https://cloud.githubusercontent.com/assets/7762605/12644581/cbd43408-c5e9-11e5-96cb-99a02dbdbbc9.png)
In the screenshot above only if the area i

[2016-01-29 10:31] BorisKourt opened #4257 "[JavaFX] Application.launch / Running Processing (FX2D) in the same VM more than once."
I am running processing form java.

I've found that FX2D is the only renderer that currently does what I need in 2D space and is also performant enough.

One of the conditions in JavaFX is that `Application.launch` [can only be called once](https://docs.oracle.com/javafx/2/api/javafx/application/Application.html#launch%28java.lang.String...%29) in the same JVM.

So if I am starting and monitoring

[2016-01-29 10:33] BorisKourt commented on #4251
In your issues and comments on GitHub you can use [this syntax](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to provide properly indented code.

[2016-01-29 10:37] BorisKourt commented on #4240
As `custom library` implies it is probably better to submit this issue to [Ketai](http://ketai.org/) as they would know more. This repository is just for base Processing.

[2016-01-29 18:17] trevorsee commented on #4093
This has also happening to me, using a Dvorak layout. All shortcuts including paste, save, etc. are duplicated.

OSX 10.11, processing 3.0.1

<img width="267" alt="screen shot 2016-01-29 at 1 08 07 pm" src="https://cloud.githubusercontent.com/assets/3882115/12683963/702f7166-c68a-11e5-98a1-6d1ebf735f4c.png">

[2016-01-30 07:31] Akarshit commented on #3407
Thanks @JakubValtar
I didn't had Video installed. After installing I am getting the import suggestion box.

[2016-01-30 09:38] Akarshit commented on #3407
@jamesjgrady In the current implementation the import suggestion box appears on double clicking a error. Should i keep the current behavior or should i make the box appear on mouse hover ?

[2016-01-30 13:17] payal97 commented on #4186
I could work on this. Where do you suggest it be placed? At the end of the line maybe?

[2016-01-30 16:13] StanLepunK opened #4259 "Huge memory Leak with createFont() in P2D and P3D"
Mac OSX 10.8 / Processing 3.0.1
When font is created with createFont() in the draw() and used with textFont(), the method textFont() open a memory leak.
Only with P2D, P3D not with FX2D, JAVA2D and default Mode

[code]

[2016-01-31 10:15] PARAG00991 commented on #4253
@Akarshit I agree completely with you that functions should be provided for sketches in sketchbook. What I was thinking to add to this list is, there should be 2 options for **open** :-

- Open in same window
- Open in new window

At present , when we click a sketch in sketchbook, by default ,it gets opened in new window of processing. It could be implemented such as to give user two options, eith

[2016-01-31 21:31] iamutkarshtiwari commented on #4242
@Akarshit Would you like me to work on this?

[2016-02-01 03:26] Akarshit commented on #4242
@iamutkarshtiwari It would be nice to first get this approved by @alignedleft as this is just a idea that popped into my mind. Also if this gets approved, the UI need to be designed and i think that area is the expertise of @jamesjgrady

[2016-02-01 08:06] suheb commented on #4259
I think this is more of a programming error on your side. Since draw() executes continuously, you shouldn't call createFont() inside it as this creates a new PFont object on every call.

[2016-02-01 09:18] StanLepunK commented on #4259
@suheb I understand, it's obvious when you think about the problem :) It's just to notify the huge leak with P3D and P2D and not with the other renderer.
Plus maybe that's can be good to indicate that in the https://processing.org/reference/createFont_.html

[2016-02-01 15:52] codeanticode commented on #4259
@StanLepunK can you give more information on the specifics of the memory leak? createFont() initializes a number of underlying OpenGL resources, which are destroyed as the font objects become dereferenced. However, they are not destroyed immediately, but as the GC considers that the available memory is becoming too low. Creating fonts continuously in the draw loop might be clogging the CG...

[2016-02-01 19:33] shiffman commented on #3407
My apologies for missing this thread before, do you still need help producing a sequence to generate the pop-up?  Looks like you have it covered, but I'm here to help if I can.

[2016-02-01 21:36] ekeneijeoma opened #4260 "parseJSONArray example missing escape characters"
The data variable values are missing the escape characters for the double quotes. It should be:

[code]

[2016-02-01 21:42] ekeneijeoma opened #4261 "better error message when creating class w/ same name as the sketch"
I hadn't used Processing in a while and forgot how it puts all your code into a class with the same name as your sketch... So when I saw this error "The nested type classname cannot hide an enclosing type" it took me a few to figure out what it meant. I think there should be a better error message for this.

[2016-02-02 03:10] Akarshit commented on #3407
@shiffman No i figured that out. Thanks.
Though what are your views on the question asked in my previous comment.

[2016-02-02 09:04] Akarshit commented on #4261
Thanks for reporting.
This issue is a duplicate of #4228

[2016-02-02 11:27] StanLepunK commented on #4259
@codeanticode I don't know which kind of information you need. I make a screen shot of the memory evolution of the running sketch. May be that's can help you to manage the GC ?
![70 seconds of leak](https://cloud.githubusercontent.com/assets/3332269/12748056/28f0c612-c9a8-11e5-8138-a36b73c26d94.png)
![170 seconds of leak](https://cloud.githubusercontent.com/assets/3332269/12748058/28fb4a2e-c9a8-11

[2016-02-02 14:59] PARAG00991 opened #4262 "Debugger icon showing irregular behaviour"
I just opened processing-3.0.1 and clicked on the debugger icon. After clicking, debugger icon is getting visible in place of stop icon on stop button and sometimes in place of continue icon on continue button. Even when debugger is closed , then also debugger icon is visible on stop button. I'm using Linux operating System. Screenshots that would justify this issue---
![screenshot from 2016-02-02

[2016-02-02 15:04] shiffman commented on #3407
I think hover makes sense but defer to @alignedleft and @jamesjgrady

[2016-02-02 17:20] SilverWingedSeraph opened #4264 "Makefile or other obvious build method?"
Processing.org is down so I tried to build from source, and got:

[code]

[2016-02-02 17:20] ekeneijeoma opened #4265 "consistency between loadString and loadJSONObject/loadJSONArray error message formatting"
For consistency I think it'd be good if loadStrings and loadJSON functions had the same error messages had the same format. At the moment for loadStrings it says
The file filename.txt is missing or inaccessible, make sure the URL is valid or that the file has been added to your sketch and is readable.
and for loadJSONObject/loadJSONArray its
filename.json does not exist or could not be read

[2016-02-02 23:08] codeanticode commented on #4259
If you stop stop creating fonts in draw() at some moment, does memory usage eventually goes down?

[2016-02-03 04:23] Akarshit opened #4266 "Feature - Install Processing from debian repository"
It would be a nice feature if Processing could be directly installed from debian repositories or something similar using commands like `sudo apt-get install processing`, etc.
This would also help users to upgrade processing easily.

@shiffman Do you think this is a good feature to have ?

I would like to implement this but am having some problem as to where to start from. I will keep digging but a

[2016-02-03 15:26] JobLeonard opened #4267 "Feature: customisable line-height in the editor"
I love trying out different monospace fonts in the editor, but some don't work very well with the standard line-height. For example, currently I'm giving [Fantasque](https://github.com/belluzj/fantasque-sans) a try, for that casual Comic Sans feeling without the bad parts. It looks nice, but I feel like a bit more height between the lines would really help this font.

[2016-02-03 23:56] mjs513 opened #4269 "Crash Error: Another Could not run the sketch (Target VM failed to initialize) error"
Hi All.
I am running Process 3.0.1 on a new windows 10 Toshiba laptop.  I did update the graphics library based on other issues I have seen here.  What I am doing is running the sketch the is running another window using runsketch.  The runsketch window is an p3d simulator of a robot arm that imports obj files. It happens after a period of time that I am rotating the arm based on input from the ma

[2016-02-04 02:37] carlguoshanghai commented on #4166
Same here. I also have the same problem. It works perfectly fine when running using processing, but it just won't work when I export it as application. (only background is shown) Is your problem fixed yet?

[2016-02-04 04:51] REAS commented on #4166
I didn't catch this when it was first posted in November. Please file this error in the processing/processing-sound repo.

[2016-02-04 04:52] #4166 closed

[2016-02-04 09:06] payal97 commented on #4267
This looks like a nice feature. I would like to implement it, if it is so decided.

[2016-02-04 14:13] JobLeonard commented on #4267
Can I be greedy and also request custom letter spacing? ;)

[2016-02-04 14:52] shiffman commented on #4266
I'm not enough of a linux user to know, but I can see how it would be useful.

[2016-02-04 15:47] aengelke commented on #4266
There is support for building .deb packages using `ant deb`.

[2016-02-04 16:38] Akarshit commented on #4266
Thanks @aengelke

[2016-02-04 18:09] Idrias opened #4270 "Search and replace infinite loop"
When using the search and replace feature of the editor, clicking "replace all", the editor does not respond anymore. This happens when the replacement term contains the term we search for itself.

For example:
Search for: bcd
Replace with: abcd

-> Replace all

Will end up crashing Processing because it always finds the term "bcd" and puts another "a" in front of it (like "aaaaaaaaaaaaaaaaaaabcd"

[2016-02-04 18:47] payal97 commented on #4267
I'll look into it. :)

[2016-02-04 19:45] Akarshit commented on #4270
@Idrias I was testing this(with the above example) but am unable to reproduce the issue. I when select `Replace All` `bcd` gets replaced with `abcd` only once and the editor is fully responsive. Could you please post a snippet of the code that is causing the error.

[2016-02-04 19:57] Idrias commented on #4270
@Akarshit I think my description did not accurately meet the problem, because it only seems to happen when you check the "all tabs" box, no matter if you actually have more than one tab open or not.
It freezes for me once it finds "bcd"  AND "all tabs" is checked"

![screenshot 10](https://cloud.githubusercontent.com/assets/13923216/12827805/c0d7b7ee-cb81-11e5-9833-390341e79411.png)

[2016-02-04 21:07] Akarshit commented on #4270
Thanks @Idrias
This has been fixed in #4271

[2016-02-05 15:10] JobLeonard commented on #4270
I could swear I remember this being an issue in Processing 2 and it having been fixed at some point. Did it somehow sneak back in?

[2016-02-06 13:57] PARAG00991 opened #4272 "'Background Color when Presenting' not visible on Preferences window"
When we select the background color used when using present from color selector in preferences window, it doesn't get displayed in the color selector icon. This could be illustrated from the following snapshots:
![screenshot from 2016-02-06 19 03 20](https://cloud.githubusercontent.com/assets/8044561/12866978/1da4981c-cd07-11e5-972b-397e7e913c8e.png)
![screenshot from 2016-02-06 19 03 56](https://

[2016-02-07 06:27] PARAG00991 opened #4274 "Feature Request- Start processing using desktop icon or menu icon in Linux"
I think it would be nice to have PDE getting started by clicking its desktop icon or menu icon instead of starting it from command line by typing in the command *./processing* everytime in linux. I would like to work on this. Any help in the context would be appreciated.

[2016-02-07 09:14] mjs513 commented on #4269
Ok.  I resolved this issue after a couple of days of poking around the forum - actually found it by accident.  Anyway the sketch uses runSketch to open a second window.  I had both windows setup to run P3D.  What I found out is that one window has to run JAVA2D.  This made the problem go away.

[2016-02-07 09:14] #4269 closed

[2016-02-07 16:14] KnutHartmann opened #4275 "Convention for directional lights in OpenGL-Binding for GLSL"
The standard GLSL shader uses the homogeneous component of the uniform variable lightPosition to differentiate between point and directional light.

uniform vec4 lightPosition

core/src/processing/opengl/shaders/LightVert.gls
line 101: bool isDir = zero_float < lightPosition[i].w;

Many textbooks in computer graphics suggest to differentiate between points and vectors by setting the homogeneous co

[2016-02-07 22:50] painterpeintre commented on #4222
Hi i have the same bug on a Mac book Pro OS 10.11.3

When // SoundFile sound file; is commented out it works but with the sound crashes straight away.

import processing.sound.*;

Process:               java [655]
Path:                  /Applications/Processing 3_1.app/Contents/PlugIns/jdk1.8.0_51.jdk/Contents/Home/jre/bin/java
Identifier:            net.java.openjdk.cmd
Version:               1.0

[2016-02-07 23:57] codeanticode commented on #4275
@KnutHartmann I think this would be a reasonable improvement so Processing follows the accepted on convention on the use of the w coordinate to differentiate directional from point lights. I don't see any unintended consequences from inverting the convention, as these values are not used for anything else. I will go ahead with the change. Thanks for bringing this up!

[2016-02-08 05:25] satoshiokita commented on #3860
I installed Korean input method in my window8.1 64bit(japanese). and tested above probrem.
current processing3 following method  is only support Japanese.  this logic can not handle korean input method correctly.

InputMethodSupport#inputMethodTextChanged
[code]

[code]

Hangul - ascii type.
----------
헬 gpf
로 fh
,
제 wp
임 dla
스 tm

[2016-02-08 05:45] satoshiokita commented on #3860
I rewirte to CJK support now. i wll send the pull-request.

https://github.com/satoshiokita/processing/tree/FIX-IM-CJKSupport/

Korean support!
![issue3860_01](https://cloud.githubusercontent.com/assets/16870334/12879102/db5ad0e0-ce71-11e5-853f-29022a6c1f2d.png)

#2968 maybe same problem.

[2016-02-08 07:11] monkstone commented on #4274
If you are a linux user, you really should know how to create a desktop entry. Right click mouse on desktop select `Create new Launcher here` , the fill out the launcher properties. For the icon choose `/home/tux/processing-3.0.1/lib/icons/pde-48.png`, assumes you are using mint with cinnamon desktop or similar (eg ubuntu), if you are using anything else you are probably using the wrong distro for

[2016-02-09 10:38] Jackbennett opened #4276 "Custom location for modes and plugins for all users"
I have processing running from a network share for all users, we would like to use the python mode here as the rest of out computing is all python.

I can't see a way to add python to the mode folder on the share that the clients will read from. Each user has to have the mode downloaded into home:/documents/processing/mode.

If I could change these paths to the unc location that would be fantastic

[2016-02-09 11:54] kushrami opened #4277 "error after installing and rebooting in raspberry pi."
![processing problem](https://cloud.githubusercontent.com/assets/9589020/12915465/83ebbdfc-cf51-11e5-9247-98624a7dd976.JPG)

any idea what is remaining?
i have entered this command :
curl https://processing.org/download/install-arm.sh | sudo sh

What is the problem. i have fresh raspberry pi. and raspbian-whezzey loaded on it

[2016-02-09 12:19] bluefin88 commented on #3784
Currently it is still not working for me in the latest version of Processing 3.0.1 (23 October 2015).

[2016-02-09 13:23] PARAG00991 commented on #4274
@monkstone , Well as of now I'm using Ubuntu 14.04 LTS (pinguy) and sorry, but I don't get any such option after right clicking on desktop. Moreover, I was talking about optional desktop icon and menu icon feature to come along with processing software, so that a user using any of the distros of linux would be able to make it (may be using some `make install-desktop-icon` command).

[2016-02-09 13:45] monkstone commented on #4274
You can't honestly expect support for  such a low ranked distro http://distrowatch.com/ linux is great for individuals, so expect to do some work unless you are using bog standard mainstream distro.

[2016-02-10 11:27] lpdunwell opened #4279 "Misguided "find in reference""
here's an example: if the cursor is on int and I right click double and select "find in reference" I end up at the reference entry for int instead of double.

[2016-02-10 11:30] lpdunwell opened #4280 "Undo misbehaving"
to undo replacing text one needs to undo at least twice, as in the case of copy pasting undoing once only deletes the text pasted.

[2016-02-10 11:42] lpdunwell opened #4281 "handleCtrlClick misbehaving"
double clicking a word and copying it (ctrl + c) often throws me to the definition of the word.
it's probably handleCtrlClick(evt) in JavaTextAreaPainter.java on line 86.

playing around I noticed a quick sequence of one left mouseclick -> ctrl + c does the same, but timing is essential.

What I'd expect here is: this should only happen if ctrl is held down before actually clicking.

[2016-02-10 11:45] lpdunwell opened #4282 "random "'variable' is not defined in this sketch""
the red error message at the bottom. I have no idea what triggers it, but I know the sketch with a total of beyond 2000 lines of code including all tabs is actually large, and the stated object is defined as the code runs. running it also clears that message.

[2016-02-10 11:47] lpdunwell opened #4283 "quickly clicking Stop after Run will prevent sketch from being stopped"
clicking on 'run', remembering what I forgot, clicking on 'stop' leads to a free-running sketch I cannot close using stop anymore, if done fast enough. this is annoying in the case of slow loading sketches that need some time to start and react to input.

[2016-02-10 11:53] lpdunwell opened #4284 "syntax check displays confusing message"
have this (this comes from something slightly more elaborate) somewhere:
`public class something
{
  public something()
  {
  }

  String thisandthat()
  {

  }
    return "string";
}`

this will throw a "Found one too many { characters without a } to match it." message, which somehow just isn't quite right.

[2016-02-10 11:58] lpdunwell opened #4285 "variables window mess"
the variables window in debugging mode seems to try and sort the variables when clicking on the headers, but it ends up in a non-alphabetic mess anyway

[2016-02-10 12:01] lpdunwell opened #4286 "syntax highlighting messed up"
syntax highlighting confuses code for comments every now and then.
a solution is to scroll past the beginning or end of a multiline comment.

[2016-02-10 12:03] lpdunwell opened #4287 "jump to variable declaration miss"
ctrl + clicking a variable name randomly jumps anywhere. this includes to the wrong tab and/or selecting text a couple lines above the actual target.

[2016-02-10 12:05] lpdunwell opened #4288 "import in tabs"
as far as I know this should not be done. I may be wrong.
however it seems to work and run in some cases, to then suddenly fail for whatever reason I haven't found yet.

[2016-02-10 12:11] lpdunwell opened #4289 "Random system freeze"
I have a sketch with a couple of 1000 lines in multiple files that is being used in multiple kiosks.
The machines run windows 10 x64, Processing is the recent x64 release.
Now I'm absolutely not going to say my code is fault free, but every now and then (like 3 machines within 2 days, while 700 users logged in and out) a machine totally hardlocks/freezes.
this can only be solved by hard resetting

[2016-02-10 15:42] Prabhnith opened #4290 ""Font Sadness" - unable to start "processing 3 - 64bit" under Ubuntu 14.04 LTS"
trying to execute the processing file

`bash processing`

trying to open after giving the execute permission ,the processing file display this error.

![font sadness](https://cloud.githubusercontent.com/assets/11560449/12951908/89456caa-d03a-11e5-81f9-d155757322e9.png)

[2016-02-10 16:49] gohai commented on #4290
Is it the same if you simply download and extract the 64-bit Processing for Linux (w/ `tar vfx processing-3.0.1-linux64.tgz`), then `cd` into the new directory and then simply run `./processing` (without bash)?

[2016-02-10 16:51] gohai commented on #4289
Are you using 3D graphics? Could be a driver issue - I'd check if it also occurs with a GPU from a different vendor.

[2016-02-10 16:55] gohai commented on #4274
Thanks @monkstone - that's indeed a packaging & distribution issue, and outside of the scope of the (tar-ball) release. Processing ships with a .desktop file btw.

[2016-02-10 16:55] #4274 closed

[2016-02-10 16:55] Prabhnith commented on #4290
yes, i have tried all that you have mentioned, it doesn't work.
and the ./processing (without bash) says: command not found (given the +x permission doesn't work too)

[2016-02-10 16:58] gohai commented on #4290
If `./processing` does not work then something is wrong with your current directory, which also would explain the font sadness. Are you inside the same directory as the `processing` script? What does `pwd` say?

[2016-02-10 17:00] lpdunwell commented on #4289
We're using a compact asus computer, no chance to exchange graphics cards.
It's 2d only. I'll have a go with rendering modes on a couple of them
tomorrow in the field and see what happens. Drivers should be up to date.

On Wed, Feb 10, 2016, 17:52 Gottfried Haider <notifications@github.com>
wrote:

--

---
Printed on recycled electrons.

[2016-02-10 17:01] gohai commented on #4264
It's back up.

[2016-02-10 17:01] #4264 closed

[2016-02-10 17:15] gohai commented on #4289
Applications on modern OS are sufficiently isolated from the actual hardware, so that should be able to cause a hang themselves. I'd try running some other software, that stresses the memory and/or GPU, and see how long it stays up. Similarly, you could try running the same Processing sketch on different hardware. Closing.

[2016-02-10 17:15] #4289 closed

[2016-02-10 17:32] Prabhnith commented on #4290
yes sir, it's in the same folder
![processing is1](https://cloud.githubusercontent.com/assets/11560449/12955276/49da2c96-d048-11e5-9e2d-54e9ab0308a8.png)

[2016-02-10 20:25] gohai commented on #4290
Are you by chance trying to run the Windows version of Processing under Linux (since your folder on the external media is called Program Files)? What happens when you move Processing to a path that doesn't have a space character in it? What happens when download and unpack Processing to a location on a file system that is not FAT - e.g. in your home directory?

[2016-02-10 22:10] Prabhnith commented on #4290
1.no sir, actually the package is the linux one but I thought of extracting it in the "Program Files" folder rather then extracting it in the drive itself.
2. It's the same for the other directory too.
-----------------------------------
3. Hurray!!! that worked at the end. Extracting it in the home folder does the magic and without throwing any errors.

Thanks @gohai sir :)

[2016-02-10 22:10] #4290 closed

[2016-02-11 14:30] PARAG00991 opened #4292 "Error while building Processing-3.0.1 from its source code"
When I try to build processing using command `ant run -autoproxy`, after some time I get,
[code]

[2016-02-12 05:34] REAS commented on #4222
Please log sound bugs in the Sound repo: https://github.com/processing/processing-sound
We're trying to fix these.

[2016-02-12 05:34] #4222 closed

[2016-02-12 06:21] suheb commented on #4292
Try running `ant  clean` before `ant run`.
And if that doesn't work, delete `../processing/java/reference.zip` then try again.

[2016-02-13 04:26] ld26464 opened #4294 "Multiple Sketchbook recommendation not working"
Processing 3 install linked me to https://github.com/processing/processing/wiki/Multiple-Sketchbooks. Both recommending that separate sketchbooks be used for Processing 2 and 3 sketches (to ease transition). But both versions 2 and 3 use the same preferences.txt to define their path to Sketchbook used, so this can't be done. Can the different versions perhaps refer to different preference files...

[2016-02-13 05:03] PARAG00991 commented on #4292
Thanks @suheb , it worked.

[2016-02-13 05:03] #4292 closed

[2016-02-13 05:14] PARAG00991 opened #4295 "Error while running a program in Processing(built from its source code)"
When I run a program in Processing(which I built using its source code), I'm getting the following error in the console of Processing -
[code]

[2016-02-13 08:36] gohai commented on #4295
Does it work when you use a (downloaded) release?

[2016-02-13 11:13] PARAG00991 commented on #4295
Yes, @gohai it works when I use a (downloaded) release.

[2016-02-13 12:07] satoshiokita commented on #3475
I dont test on Ubuntu 14.10. I tested 15.10. above my pull request will fix this problem.

[2016-02-13 13:20] benfry commented on #4288
`import` is fine inside tabs, especially with `.java` tabs, it's necessary to pull in required libraries.

[2016-02-13 13:20] #4288 closed

[2016-02-13 13:20] benfry commented on #4279
"Find in Reference" will show the reference for whatever is currently selected.

[2016-02-13 13:20] #4279 closed

[2016-02-13 13:27] benfry commented on #4294
They use the same preferences file, but 2.0 and 3.0 use different entries from that file to determine the sketchbook location.

[2016-02-13 13:27] #4294 closed

[2016-02-13 13:31] benfry commented on #4295
Looks like the JRE didn't install properly. You should remove the `work` folder and try `ant run` again. Outside of that, it's not a bug, it's something better discussed on the forum.

[2016-02-13 13:31] #4295 closed

[2016-02-13 13:43] benfry commented on #4257
This isn't a bug or an issue with the software; a better place for this discussion is the forum.

[2016-02-13 13:43] #4257 closed

[2016-02-13 13:47] benfry commented on #4260
Moved: https://github.com/processing/processing-docs/issues/392

[2016-02-13 13:47] #4260 closed

[2016-02-13 13:50] benfry commented on #4266
The feature is implemented (#114); it's just a matter of having a consistent maintainer.

[2016-02-13 13:54] benfry commented on #4230
https://github.com/processing/processing/issues/4266

[2016-02-13 13:54] #4230 closed

[2016-02-13 13:56] #4223 closed

[2016-02-13 13:57] benfry commented on #4227
Please use the forum for questions.

[2016-02-13 13:57] #4227 closed

[2016-02-13 13:58] benfry commented on #4189
Nothing we can fix here; closing.

[2016-02-13 13:58] #4189 closed

[2016-02-13 14:01] #4187 closed

[2016-02-13 14:11] benfry commented on #4209
It's not something we can fix. The actions of `surface.setSize()` are handled by the OS, so we're at its mercy (and that of JavaFX) when that happens. It won't be instantaneous, and happens separately from the drawing thread, so you may have a couple cycles before it changes.

[2016-02-13 14:11] #4209 closed

[2016-02-13 14:11] #4219 closed

[2016-02-13 14:18] benfry commented on #4211
The error message says `settings()` because it sees that you're not running from the PDE. I've added another line to that warning for clarification: `"When run from the PDE, %s() is automatically moved from setup() to settings()"`

[2016-02-13 14:20] benfry commented on #3736
The original problem was fixed, so open a new report.

[2016-02-13 14:21] benfry commented on #4214
Yeah, that's why we have that ridiculously long block of text in the Export window. It's a headache on OS X, but we can't do much else.

[2016-02-13 14:21] #4214 closed

[2016-02-13 14:22] benfry commented on #4213
No response; closing.

[2016-02-13 14:22] #4213 closed

[2016-02-13 14:23] benfry commented on #4208
Might be a problem with the version of Java you're using when running outside the PDE. Unfortunately, when outside the PDE, you're on your own with this sort of thing.

[2016-02-13 14:23] #4208 closed

[2016-02-13 14:25] benfry commented on #4206
It's already covered in the reference: https://processing.org/reference/beginShape_.html

[2016-02-13 14:26] benfry commented on #4206
(Re-opening so that @JakubValtar can add that warning.)

[2016-02-13 14:28] marado commented on #4266
A first step would be what I asked in #4230 : without the overhead of maintaining a repository and all of that, just `ant deb` each time there is a new version, and add the resulting .deb next to the other files in the downloads section.

[2016-02-13 14:33] benfry commented on #4202
Don't do that? You deleted necessary files from the download, and you're complaining that it's broken.

[2016-02-13 14:33] #4202 closed

[2016-02-13 14:34] benfry commented on #4203
Duplicate of https://github.com/processing/processing/issues/2946

[2016-02-13 14:34] #4203 closed

[2016-02-13 14:49] benfry commented on #4175
Is this on Windows or Linux?

[2016-02-13 14:56] benfry commented on #4183
No upstream patch from the Arduino folks, unfortunately.

[2016-02-13 14:57] #4261 closed

[2016-02-13 15:02] benfry commented on #4250
Column edit?

[2016-02-13 15:05] benfry commented on #4251
Duplicate of https://github.com/processing/processing/issues/4249

[2016-02-13 15:05] #4251 closed

[2016-02-13 15:08] benfry commented on #4234
No reply; closing.

[2016-02-13 15:08] #4234 closed

[2016-02-13 15:10] benfry commented on #4197
This isn't something that was ever supported or documented. It's still sort of possible but will only work with the default renderer, and requires digging into how `PSurface` works to make it happen. But that's a better question for the forum.

[2016-02-13 15:10] #4197 closed

[2016-02-13 15:11] #4185 closed

[2016-02-13 15:12] benfry commented on #4185
Incorporated fix from @GKFX for 3.0.2.

[2016-02-13 15:19] benfry commented on #4163
That URL redirects to Github, so yeah, we need a mirror.

[2016-02-13 15:21] benfry commented on #4236
Put something in `draw()`, like a single `background()` call. We can't magically know what you want, and can't pick an arbitrary default because folks who have a proper `draw()` will see flickering.

[2016-02-13 15:21] #4236 closed

[2016-02-13 15:28] #3836 closed

[2016-02-13 15:35] benfry commented on #4138
Moved to the correct repo: https://github.com/processing/processing-docs/issues/393

[2016-02-13 15:35] #4138 closed

[2016-02-13 15:36] #3590 closed

[2016-02-13 15:36] #4116 closed

[2016-02-13 15:39] benfry commented on #3286
Let's see if this is fixed by #4113 in 3.0.2.

[2016-02-13 15:40] #1940 closed

[2016-02-13 15:40] #3940 closed

[2016-02-13 15:45] benfry commented on #4153
That's a problem for the library authors, or an error in your code. Not a Processing bug.

[2016-02-13 15:45] #4153 closed

[2016-02-13 15:46] benfry commented on #4137
That looks like you have a bad library installed that includes an old version of `pde.jar`. You should get troubleshooting help on the forum.

[2016-02-13 15:46] #4137 closed

[2016-02-13 15:53] benfry commented on #4272
Fixed in https://github.com/processing/processing/pull/4278

[2016-02-13 15:53] #4272 closed

[2016-02-13 16:00] gohai commented on #4245
The second (shutdown) message I also see a lot on the Pi, but it seems pretty harmless (so far)

[2016-02-13 20:07] BorisKourt commented on #4257
For anyone that finds this via search here is the forum thread: https://forum.processing.org/two/discussion/14896/javafx-application-launch-running-processing-fx2d-in-the-same-vm-more-than-once

[2016-02-13 20:45] gdsentropy commented on #4251
I haven't looked at the source, so I suppose it is possible it has the same root cause, but to the user this and the one asserted to be a duplicate are separate behaviors.

Ian McDonald
----------------------------------------
Senior Software Engineer Lead,
Architect and Security Analyst
ASP.NET | MVC | MVVM | WCF
.NET 4.5+, Mono, C#, F#, C++
Web, Win, iOS, Linux, Android
Cell: (919)-830-4606 M-F

[2016-02-13 20:47] gdsentropy commented on #4250
Vertical text edit across multiple rows.

Ian McDonald
----------------------------------------
Senior Software Engineer Lead,
Architect and Security Analyst
ASP.NET | MVC | MVVM | WCF
.NET 4.5+, Mono, C#, F#, C++
Web, Win, iOS, Linux, Android
Cell: (919)-830-4606 M-F 365d
------------------------------------------
Please consider this email before printing the environment.
(ノಠ益ಠ)ノ彡┻━┻

[2016-02-13 21:32] benfry commented on #4201
Please use the forum for questions; this is for bug reports in the software.

[2016-02-13 21:32] #4201 closed

[2016-02-13 21:35] benfry commented on #4184
Closing; duplicate of https://github.com/processing/processing/issues/3830

[2016-02-13 21:35] #4184 closed

[2016-02-13 22:04] benfry commented on #3923
May be fixed with #3590.

[2016-02-13 22:11] benfry commented on #4266
Same issue; needs a consistent maintainer. I'm not eager to add another step to the already long build process of releasing and testing on 5 different platforms (OS X, Windows 32 and 64, Linux 32 and 64).

[2016-02-13 22:35] benfry commented on #4098
Fixed for 3.0.2, see discussion in #4103.

[2016-02-13 22:35] #4098 closed

[2016-02-13 22:48] benfry commented on #4072
This is entirely an issue with the library; please get in touch with the library author.

[2016-02-13 22:48] #4072 closed

[2016-02-13 22:50] benfry commented on #4071
Closing this since it's a problem with the libraries, not the PDE.

[2016-02-13 22:50] #4071 closed

[2016-02-13 22:57] benfry commented on #4135
This is the sort of thing we leave out of the PDE on purpose. Advanced users who would want something like this can use another editor (i.e. Sublime) or a full-fledged IDE (Eclipse, IntelliJ).

[2016-02-13 22:57] #4135 closed

[2016-02-13 23:02] benfry commented on #4235
Sounds like a window manager problem on Linux, that it's letting you resize windows so that they have a height of zero. I don't know what we'd even do in that case—it's sort of a nightmare fix to try to support an edge case where your window is not visible, since a sketch is fundamentally about making things show up on the screen.

[2016-02-13 23:02] #4235 closed

[2016-02-13 23:15] benfry commented on #3795
Fixed in 8u72, and Processing 3.0.2 will ship with 8u74 so we're all set on this one.

[2016-02-13 23:27] benfry commented on #4104
OS X 10.7 isn't supported—it looks like there was a glitch with the build process since Processing.app shouldn't even run there. Apple has done 4+ OS X releases since 10.7 and we can't possibly support back that far: https://github.com/processing/processing/wiki/Supported-Platforms#mac-os-x

As for the HD 3000 problem on newer OS releases, @JakubValtar is looking into it. Unfortunately this sort o

[2016-02-14 00:08] benfry commented on #4282
Please include some code that actually causes the problem; without it, I have no way to even begin looking into this issue.

[2016-02-14 00:09] benfry commented on #4270
Fix incorporated for 3.0.2.

[2016-02-14 00:09] #4270 closed

[2016-02-14 00:52] benfry commented on #3831
Any upstream JOGL fixes yet?

[2016-02-14 01:05] benfry commented on #4125
@galsasson We have lots of code for parsing `setup()` and friends inside the Java Mode code... You should be able to make use of that. Check out `PdePreprocessor` in particular.

[2016-02-14 01:06] #2189 closed

[2016-02-14 01:07] benfry commented on #4254
That's non-standard UI behavior. It's even weirder on OS X where trees like this aren't single-touch like they are on Windows and Linux.

[2016-02-14 01:07] #4254 closed

[2016-02-14 01:08] benfry commented on #3706
Incorporated for 3.0.2.

[2016-02-14 01:08] #3706 closed

[2016-02-14 01:12] benfry commented on #2968
Closed with https://github.com/processing/processing/pull/4293 for 3.0.2.

[2016-02-14 01:12] #2968 closed

[2016-02-14 01:12] benfry commented on #3860
Closed with https://github.com/processing/processing/pull/4293 for 3.0.2.

[2016-02-14 01:12] #3860 closed

[2016-02-14 01:12] benfry commented on #3475
Closed with https://github.com/processing/processing/pull/4293 for 3.0.2.

[2016-02-14 01:12] #3475 closed

[2016-02-14 01:21] benfry commented on #4277
@gohai Have you seen anything like this?

I'm stumped, because it's an NPE suggests that the keywords haven't been loaded, but that happens when the Mode is created, which is way before any of this other code should be getting called. But who knows, maybe there's a race condition in `PdeKeywords`.

[2016-02-14 01:29] benfry commented on #4105
Simple version from https://github.com/processing/processing/pull/4154 now merged for 3.0.2. Not quite the full download indicator thing, but it's a start.

[2016-02-14 06:16] jsuijs commented on #4235
Hi Ben,

I think your comment refers to the adittional issue, reported by others.
The original issue is definitly *not* a linux issue. It is about an
exception in processing, while running on Windows 7 and Windows 10. This
exception terminates the execution of the sketch.

My sketch is used for logging of test cycles and this issue means that
resizing the sketch window could terminate data collect

[2016-02-14 06:33] kritixilithos commented on #4197
@benfry Thank you for your help.

[2016-02-14 06:49] iamutkarshtiwari commented on #4262
Looking into this.

[2016-02-14 09:32] jsuijs commented on #4235
Hi Ben,

Just verified with the new version of processing and, as expected, the
issue is still there.
Below a screenshot from the crash on my Win10 pc. Note that this is with my
large program, but the issue has been verified with a small program too to
exclude issues with the libraries used and minimize those of my own (see my
first posting).

I would be happy to look into this in more detail, but

[2016-02-14 09:45] gohai commented on #4277
@benfry No :/

@kushrami Which version of Raspbian are you running? Have you expanded your boot partition after installation using the *Raspberry Pi Configuration* tool? (Thinking that you could perhaps have run out of storage space unpacking Processing.) Thanks!

[2016-02-14 12:16] gohai commented on #4266
I just tested `ant deb` on ARM w/ PR #4300, and it worked well (thanks, @kfeuz)!

I want to work towards getting a .deb into one of these Debian spin-offs for small devices, since that's where my focus is.

[2016-02-14 14:17] benfry commented on #4235
Linux or not, the problem is that there isn't a good way to not have a renderer that has size zero. Processing assumes that a renderer is always present, and some part of the screen is drawable. Changing that assumption would be a really messy fix.

The bottom line is that users shouldn't resize the window until it can't be seen... You could instead do something like set the minimum size of the wi

[2016-02-14 14:19] benfry commented on #4266
@gohai So maybe I could convince you to handle the ARM release and also the desktop .deb release? :smile_cat:

[2016-02-14 14:46] gohai commented on #4266
*Look behind you, a three headed monkey!* \*runs\*

I'll think about it.. I'd do it in a heartbeat if I was running Debian on my own machine, but I unfortunately it's Fedora (.rpm) and OS X.

I agree that it'd be nice to have, but I don't think it's uncommon for projects to only publish tar-balls, plus packaging metadata in the sources, that can be used to automatically generate distribution packa

[2016-02-14 15:26] benfry commented on #4266
I'm not gonna fall for the three-headed monkey trick again.

FWIW, the difference for the .deb is that Ubuntu is our only "officially" supported Linux flavor, and it seems like .deb distributions (Ubuntu, Mint, Debian) are most prominent. But obviously, we've also been fine with the tarball to date.

[2016-02-14 15:55] Myriads opened #4301 "caret position and caret background color issues in IDE 3.0.2 for Korean IM"
During Korean character is composing, normally caret locates at the right side of composing Korean character. But in IDE 3.0.2 caret locates at the left side. And the background color of composing Korean character is different.

Please refer to the attached pictures: One is IDE 3.0.1 and the other is IDE 3.0.2.

![processing_caret_01](https://cloud.githubusercontent.com/assets/9634845/13034654/cc8

[2016-02-14 20:15] iamutkarshtiwari commented on #4267
@benfry Sounds cool! What do you think about this feature?

[2016-02-14 20:22] iamutkarshtiwari commented on #4242
@Akarshit I don't think that we need to do some major changes to the UI. All we can do is just make the 'exclamatory(update available)' icons in front of each contribution clickable so that each contribution can be updated indivisually depending upon user's choice. @benfry What would you suggest?

[2016-02-15 05:33] kushrami commented on #4277
raspberry pi B+(512Mb RAM), os version: 2014-12-24-wheezy-raspbian, 8gb memory card for OS.

Completely new process has been done. Writing OS on memory card and than installed processing. Nothing like expanded boot partition.(Actually Don't know about it)

About Run out of storage thing. There was no exception in installation like"No space left on Device".

So may be i think i would be Raspbian ve

[2016-02-15 08:06] gohai commented on #4277
@kushrami None of this explains the error you were seeing, but you're running a very outdated version of Raspbian. Have a look [here](https://github.com/processing/processing/wiki/Raspberry-Pi) for a more up-to-date image that also contains Processing. (The page also has some other information about running Processing on this hardware.)

Expanding the boot partition: when you write the image onto

[2016-02-15 14:30] nad5305 commented on #4286
Same problem here.  One of the ways to trigger the bug is to create a new tab.  Click in a commented section of code.  Then, go back to the first tab.  The code in the first tab shows as all commented color coded.  The user must scroll to the fifth line at the top to get rid of the coloring effect.  All other tabs are unaffected by the glitch.

[2016-02-15 14:33] JakubValtar commented on #4286
Thanks, I noticed this was happening before, will try reproduce it with your instructions.

[2016-02-15 16:16] iamutkarshtiwari commented on #4262
@PARAG00991 I am not able to reproduce this bug. Is there any specific to get around to it?

[2016-02-15 16:56] PARAG00991 commented on #4262
@iamutkarshtiwari Well, I opened the PDE and clicked on the debugger icon without typing in any code and got this weird behavior. It doesn't happen everytime but yeah, in majority of cases. I found it this way only and don't know if there would be some other way to reproduce it also.

[2016-02-15 18:16] GABBAR1947 commented on #4266
I'd like to work on this. Can anyone help me initiate the work...?

[2016-02-15 19:48] joelmoniz commented on #4281
Hmm... I can't seem to reproduce this easily. But when I do, I think what is happening is that I hit `ctrl` _just_ before I do the second click in a double-click sequence.

Also, I can do this with a `one left click`+`ctrl` sequence, but it triggers but only when done really, _really_ fast, at which speed I think I might be hitting `ctrl` first by accident.

Or perhaps this has been solved in the

[2016-02-15 19:58] joelmoniz commented on #4284
Interestingly enough, Eclipse seems to be throwing the same errors, so this might have something to do with Eclipse's AST parser?

[2016-02-15 20:44] lpdunwell commented on #4281
I'm totally sure I'm not hitting ctrl first.

---

Luke P. Dunwell

Sent from my toaster
On Feb 15, 2016 20:48, "Joel Moniz" <notifications@github.com> wrote:

[2016-02-15 21:39] joelmoniz opened #4302 "Undo is a little "jerky" in insert mode"
Steps to reproduce the error:

1. Enter some text
2. Make the editor in Insert mode (by hitting the `insert` key)
3. Type to overwrite text entered in `1.`
4. Undo

PS: I think I've identified the root of the issue. I should hopefully have a fix in soon.

[2016-02-16 02:51] joelmoniz opened #4303 ""Replace" and "Replace All" do not undo in a single step"
When using the `Replace` and `Replace All` options in the `Find and Replace` dialog, and then subsequently undoing these changes, the `Undo` does not take place in a single step.

This issue, #4280 and #4302 are along the same lines, I think.

[2016-02-16 07:31] brendanmatkin opened #4305 "Capture not working with FX2D"
Processing 3.0.2. OS X 10.11.3.

Can't seem to get capture to access a camera when using the FX2D renderer. Movie() works, Capture() does not.

Can reproduce this by loading the example sketch "GettingStartedCapture" and adding in the FX2D renderer.

Thought it might just be a problem with Capture.list(), but if I do Capture(this, 1280, 720, 30), camera seems to load be cam.available() always retu

[2016-02-16 17:55] kfeuz commented on #4266
Just to clarify, the current `ant deb`  build process produces a binary .deb file.  This is great for having an installable .deb file but is nowhere close to what would need to happen to get this into an official repo (so you can apt-get install).  If someone wants to start down that road I'll provide what assistance I can (which isn't much that's why I didn't pursue it).  I am happy to maintain t

[2016-02-16 23:07] BeauTurner opened #4306 "Default Template?"
Is there a template that controls the startup sketch shown? I would like to add a starting bit (Arduino now doing something similar) instead of being blank having the following on new sketches:

void setup() {
  // put your setup code here, to run once:

}

void draw() {
  // put your main code here, to run repeatedly/loop:

}

[2016-02-16 23:19] alignedleft commented on #4306
This isn't a bug, and therefore is a great question for: forum.processing.org

But no, right now, I don't think there is a "template" feature.  New sketches are always empty.

[2016-02-16 23:19] #4306 closed

[2016-02-17 01:59] BeauTurner commented on #4306
Thank you for the pointer.

[2016-02-17 02:42] s777s opened #4307 "Font problem in menu on linux"
When I start Processing on my Arch Laptop (15'', 1366x768, KDE), Processing 3.0.1 from repos. Font on menus and buttons is almost unreadable. It is too small and it looks like there is some kind of problem with antialiasing. It looks like a letter from font size 6 is stretched to 10. I've played with config files in `/usr/share/processing/lib/` directory, but it doesn't look like something changed

[2016-02-17 06:03] kfeuz opened #4308 "ant deb no longer works for non-arm based processors."
Commit 8f30d42672734466ef1d8f4a3814cd36c9cec454 adds conditions that are always true.  i.e. "linux-arm32" always equals "linux-arm32".  I am guessing that one of those is supposed to be a property/variable instead.  Something along the lines of `<equals arg1="${linux-arm32}" arg2="linux-arm32" />` .  A pull request will follow shortly.

[2016-02-17 14:56] benfry commented on #4266
Exactly; which is why it's not supported now. Fixing `ant deb` is super easy. Being the maintainer, getting things into apt-get, and maintaining that over a long (multiple releases) period of time is a lot more work.

[2016-02-17 14:59] benfry commented on #4267
This sounds like something better handled by a full-featured editor; let's keep the PDE simple. Doing this means messing with an additional setting, a new preference, making sure it works with Chinese/Japanese/Korean input methods, and so on. More effort to maintain than what we'd be getting out of it.

[2016-02-17 14:59] #4267 closed

[2016-02-17 15:01] benfry commented on #4307
Sounds like a problem with the repo or your window manager. We don't provide any sort of installer that puts anything in `/usr/share/processing/lib`. Maybe a better question to debug via the forum until you can determine if it's actually a Processing issue?

[2016-02-17 15:01] #4307 closed

[2016-02-17 22:27] iamutkarshtiwari commented on #136
@benfry Is there any way to add delay to the compilation time? I want to test my patch for this enhancement.

[2016-02-18 12:10] GKFX commented on #4250
I can confirm it on Debian Linux, so don't worry about sending your files.

[2016-02-18 17:40] GKFX commented on #4250
Just fixing it now.

[2016-02-18 20:28] sebastiangonzalezbotasi commented on #4104
Thanks for your answer @benfry!!!

[2016-02-18 20:54] toolness opened #4312 "P3 IDE on Windows doesn't support screen readers"
Hello!

I am working with @cleezyitp and the Processing Foundation to attempt to make the Processing 3 IDE work with--at the very least--screen-readers on Windows.

Currently, the P3 IDE doesn't work well with screen-readers on Windows: on both [NVDA](http://www.nvaccess.org/) and [JAWS](http://www.freedomscientific.com/Products/Blindness/JAWS), the screen reader is only able to see the title bar

[2016-02-18 21:08] toolness commented on #4312
**Update:** The StackOverflow thread [*does* mention one workaround](http://stackoverflow.com/questions/20655101/jabswitch-not-working-in-bundled-jre#comment48963857_20655101) whereby downloading and installing the JRE system-wide and running the Java Access Bridge on it allows screen-readers to penetrate apps that use private bundled JREs (e.g., the P3 IDE). It's not a particularly user-friendly

[2016-02-18 22:16] DarkPrince304 commented on #4249
Hello, with the PR #4313 this issue is fixed if I am correct. Please review it and let me know :)

[2016-02-18 22:21] toolness commented on #4312
Just verified that globally installing the Java SE Runtime Environment (Version 8 Build 73 / build 1.8.0_73-b02, in my case) and following the steps outlined in [Enabling and Testing Java Access Bridge](http://docs.oracle.com/javase/7/docs/technotes/guides/access/enable_and_test.html) makes Processing's standard Swing components visible to NVDA! Specifically, I followed these steps to enable the J

[2016-02-18 22:26] kurtwerbrouck opened #4314 "Adpe on Android and processing.net lib"
How to install the net lib on Adpe?

[2016-02-18 22:27] kurtwerbrouck opened #4315 "Adpe on Android and processing.net lib"
How to install the net lib on Adpe?

[2016-02-18 22:58] iamutkarshtiwari commented on #136
Here is the PR to add this requested feature. https://github.com/processing/processing/pull/4316

Waiting for reviews. :)

[2016-02-18 23:32] REAS commented on #4306
This is the kind of thing we'd like to be covered with a contributed Tool. In fact, there used to be a nice tool, but the developer stopped maintaining it. Sometimes you don't want a setup() and draw() in your program, so we don't think it's good to have it there by default.

[2016-02-19 02:36] almoce opened #4317 "problem with "translate and rotate" that will draw wrong coordinate?"
[code]

version 3.0.1

is that normal when you translate the view then rotate the angle, each draw or the ellipse is positioned in different coordinate?

as i run the code as above, the ellipse is not the same as previous ellipse was drawn.

[2016-02-19 05:03] kfeuz opened #4318 "symlinking to an exported linux application fails"
Although you can now run exported linux applications from outside of their application directory, you cannot do so using a symlink.

Steps to reproduce:
1. Export an application in linux
2. Create a symlink to the exported application outside of the application directory.
3. Attempt to execute.

Expected result:
The exported application launches and runs.

Actual result:
Error: Could not find or l

[2016-02-19 05:38] kfeuz commented on #4167
I have implemented this for both the network and serial libraries.  I have tested the network version and it works well but I have not been able to test the serial library.  I'll submit two separate PRs, one for each library.

[2016-02-19 14:09] gdsentropy commented on #4249
None of my machines are setup to build this repo, but I will have a go at it this weekend, unless there is a binary I can easily acquire and test.

[2016-02-19 15:47] codeanticode commented on #3831
no new JOGL releases, but look into it again as I got [some feedback](https://jogamp.org/bugzilla/show_bug.cgi?id=1224) from the developers. There might be a way to get GLWindow to play nicely with the AWT dialogs.

[2016-02-19 23:05] DarkPrince304 commented on #3926
Hello,

You mentioned that something had to be done on the server-side of the contribs file. Did you mean to make a size parameter for each entry and then retrieve it like everything else is retrieved on client-side (PDE Manager) ?

Like this:

"
library
minRevision=0
name=Simple Multi-Touch (SMT)
maxRevision=228
sentence=Multi-touch prototyping and development made simple.
url=http://vialab.scien

[2016-02-20 11:37] aengelke commented on #4249
This issue is rooted at 81fce07 where the behaviour was changed to `// ` (with space). However, the space was removed later in ebbbdc6. The question is whether there should be a space after the comment or not.

[2016-02-20 12:21] casyazmon commented on #3831
HI
i am a second year computer engineering student. I have python java
and C programming skills.
i have been following up discusions concernning the Processing
Development Environment (PDE) project on the mailling list and find it
interesting. i will like to participate fixing bugs and building
patches.
thanks
Azmon

On 2/19/16, codeanticode <notifications@github.com> wrote:

[2016-02-20 20:04] #4317 closed

[2016-02-21 03:08] Manindra29 commented on #4312
Processing uses a bundled JRE to avoid the hassle for users to install a JRE themselves and any incompatibility issues that may arise with that. Since this is a very specific scenario, it may be worth considering. @benfry may want to chip in here.

As for the toolbar, I believe it shouldn't be a too much work to reimplement it with a swing components version with the same functionality and look an

[2016-02-21 18:43] vormplus commented on #2411
Looks like this bug is back. Some of my students have a Dell Inspiron 15 7000 with a 4K UltraHD touch screen. (Resolution 3840 x 2160 pixels). These machines are running Windows 10.

Writing code works if you bump the editor font size to the maximum, but the biggest problem is that the menu items and tabs are too small to click with a trackpad. Sketches are also way too small, making it difficult

[2016-02-22 00:32] zdjurisic opened #4322 "3.0.2 IDE - code disappears"
I am not sure I can reproduce the problem but this is the second time it happened in a week, so here it goes:

While editing code in 3.0.2 IDE, the code window goes completely white, but as I press the up/down arrow to move cursor across lines, the lines of code appear. Here is the console contents that appeared at the moment the code window went white:

Error repainting line range {80,121}:
java.

[2016-02-22 13:12] combS8214808 opened #4323 "Is there any way to switch whether sketch is full screen mode or not?"
I want to switch full screen / non-full screen sketch, or decorated / undecorated frame while running using a specific key or something.
I know there's `fullScreen()` method in Processing 3, but it can be used no more than once.  Is there any official way to switch it using Processing 3?

[2016-02-22 14:37] REAS commented on #4323
Please ask questions on the forum: https://forum.processing.org

[2016-02-22 14:37] #4323 closed

[2016-02-23 01:08] qiubit commented on #4322
Bug can be artificially reproduced in the following way (I have seen it during normal use as well too): https://github.com/qiubit/processing/commit/62138e78dc75506b690401a027271e7b60907bb8

Basically it is caused because code manipulating errorPoints is not thread-safe (although the cause is quite subtle, I'll write details in my pull request shortly).

[2016-02-23 06:37] JakubValtar commented on #4322
Thanks @qiubit, I know where the problem is.

I'll post some comments to your pull request.

[2016-02-23 16:15] qiubit commented on #3851
It is easy to implement by adding a simple if-statement for color there - https://github.com/processing/processing/blob/master/java/src/processing/mode/java/pdex/ErrorMessageSimplifier.java#L214, but maybe we should catch all primitive types, not only color here?

For example, when user types `double foo = new double(42.0);`, it receives a rather unhelpful message `Error on "double"`. It's even wo

[2016-02-24 08:26] processo commented on #4284
A simpler example:
[code]

[2016-02-24 17:56] GKFX commented on #4315
This is not the place to ask for help with Processing. In addition, we don't make APDE. Use Stack Overflow or the official forum for help. An answer to this question from APDE's developer is [here](https://forum.processing.org/two/discussion/comment/28937/#Comment_28937) on the forum though.

[2016-02-24 17:57] GKFX commented on #4315
Please close this issue and the duplicate #4314.

[2016-02-24 21:47] crazymaster commented on #4266
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=433270

There is no progress recently.

[2016-02-25 16:02] hype opened #4327 "glPolygonMode() + glLineWidth() not working in 3 (but worked in 2)"
@codeanticode can you look at this ? I just noticed that opening a file that worked fine in 2.2.1.

when calling this in 2.2.1 with...

`import javax.media.opengl.GL2;`
`GL2 gl = ((PJOGL)beginPGL()).gl.getGL2();`
`gl.glPolygonMode( GL2.GL_FRONT_AND_BACK, GL2.GL_LINE ); `
`gl.glLineWidth(3.0f);`
`endPGL();`

you could change the `glLineWidth` and the stroke of the mesh adopts whatever line weight s

[2016-02-25 18:34] Pomax opened #4328 "Possible regression: size() with final ints as input seems to fail"
The following code refuses to compile in Processing 3.0.2, despite the fact that the `final` keyword is used to create constants, not variables.
[code]
The error is "the size of your sketch could not be determined", but reasonably speaking it should be entirely possible to.

It feels like this is either a regression w.r.t Processing 2.x, which compiled this code just fine, or is an issue with the

[2016-02-25 18:39] Pomax commented on #3243
I ran into this too. This warning gets triggered for code outside class definitions, which shouldn't be a warning.

[2016-02-26 13:21] suheb commented on #4328
The `size()` method accepts only numbers as input. There's a specific check for this in `PdePreprocessor`. Although I can't seem to find a reason for such behavior.

[2016-02-26 16:06] GCCInformationTechnology opened #4329 "Mac Pro Mid 2012 - Sample Sound file crashes"
Our Art Department is teaching a course using Processing 3.0.2.  When we try to open and run the Sound Sample file, it crashes.  (crash details below)

It works on the Instructor's MacBook Pro (2012), works on an iMac we purchased last year, but doesn't run on iMacs from 2010.   All of the Macs are running El Capitan.

Mac Pro model:  Mac Pro (Mid 2012) ATI Radeon HD 5770 1024 MB

Any suggestions

[2016-02-26 16:15] FrankOcean11 opened #4330 "x"
x

[2016-02-26 16:35] joepekoe opened #4331 "linuxarm export application with serial communication not working"
Serial communication from exported applications using processing-3.0.2-linux-armv6hf on Raspberry Pi 2 does not work, however the same sketch works as expected when run from within the IDE.  The exported application fails regardless of whether java is embedded in the application or not.

HOW TO REPRODUCE:
1) Install Processing 3.0.2 on a Raspberry Pi 2 running either Raspian JESSIE or Ubuntu MATE

[2016-02-26 17:02] clayheaton opened #4332 "Syntax for TableRow methods aren't recognized by the highlighter"
The `TableRow` methods `setDouble()` and `setLong()` are not highlighted by the syntax highlighter in the IDE. They're also not listed in the documentation. The problem holds for the getters, too: `getLong` and `getDouble`.

Other `TableRow` methods may have the same problem -- haven't tested them all yet.

[2016-02-26 17:45] GKFX commented on #50
I'm working on this.

[2016-02-26 18:00] PARAG00991 commented on #4285
@ipdunwell, I'm unable to reproduce the bug. Could you provide some other info like the code with which such behavior is coming?

[2016-02-26 19:53] Pomax commented on #4328
(note that this could be considered a regression wrt to 2.x, which accepted "fixed numbers", so variables that were `final int` did not lead to errors)

[2016-02-27 11:52] suheb commented on #4332
Can you provide an example of the code you used?

[2016-02-27 12:06] suheb commented on #4328
Perhaps @benfry has some thoughts on this?

[2016-02-27 17:41] clayheaton commented on #4332
You've probably resolved this by now, but here are some examples with `getLong()` and `setLong()`:

<img width="487" alt="screen shot 2016-02-27 at 12 40 15 pm" src="https://cloud.githubusercontent.com/assets/205364/13374326/5c6ab38a-dd4f-11e5-9386-ada112cfd8ef.png">

<img width="718" alt="screen shot 2016-02-27 at 12 40 21 pm" src="https://cloud.githubusercontent.com/assets/205364/13374328/608dfc

[2016-02-27 19:58] jarkman opened #4334 "JSONObject get() method is private"
The JSONObject get() and put() methods are alluded to in the docs - see the text at the top of http://processing.github.io/processing-javadocs/core/processing/data/JSONObject.html - but they both seem to be private in the source and can't be used in a Processing app (with an error about visibility).

They need to be public to allow any work with JSON files of unknown content. Which we're a bit in

[2016-02-27 21:30] frenchDolphin opened #4335 "NullPointerException while reloading a sketch that was modified externally"
[code]
This occurred after dropping a new .pde file into the sketch folder.

[2016-02-28 06:39] Akarshit commented on #4285
@lpdunwell The current order for sorting is capital  letter < small letter.
Like in the example below `Processing` < `Radius` < `arrowImage` < `choseFunction`  ...

![screenshot from 2016-02-28 11 59 14](https://cloud.githubusercontent.com/assets/7762605/13377856/6e0d0984-de13-11e5-865b-20bd5e2c7412.png)
![screenshot from 2016-02-28 11 58 47](https://cloud.githubusercontent.com/assets/7762605/1337

[2016-02-28 09:02] hamoid commented on #4330
You know Ex_04A is Arduino code, right? It's not Processing code. Notice it uses loop() instead of draw(). To make Ex_04B work, check Examples > Libraries > serial > SimpleRead / SimpleWrite. Specifically, see how Serial is instantiated.

This is not a processing bug. You should ask general questions in the forum. If you ask here you're distracting developers from improving Processing.

[2016-02-28 09:04] jarkman commented on #4334
Ugly workaround found, in case anyone comes here with the same problem  - it's possible to write a get() by calling getBoolean, getDouble, etc in turn until one of them doesn't throw an exception.

It would be a lot nicer to just call get(), though... :-)

[2016-02-28 11:46] Akarshit commented on #4334
@jarkman I am not sure of the reason the get() method was private. Though i have created a fix which, if merged, would make get() public in future release.

[2016-02-28 13:24] jarkman commented on #4334
@akarshit - thanks! Could you do the same for put() ?

[2016-02-28 13:45] rzats commented on #4328
@suheb : this appears to be intentional as per https://github.com/processing/processing/wiki/Changes-in-3.0#things-that-may-break-your-2x-sketches

[2016-02-28 13:51] danismithcheapdeals opened #4338 "processing-sound library on raspberry pi 2"
As it stands the processing-sound library is unavailable for arm devices such as raspberry pi. Is there another library that can provide simple sound in a processing 3 sketch, or is there a way this library can be compiled for arm devices?

[2016-02-28 16:06] Akarshit commented on #4334
@jarkman Done.

[2016-02-28 16:50] FrankOcean11 commented on #4330
wow, can you NOT assume that arduino is what i was talking about when im pointing out a group of sketch that dont compliment each other?  how about you download those section i highlighted and find out what is the issue im referring before you go and call me out

[2016-02-28 17:42] Pomax commented on #4328
That text is about variables. The `final` keyword changes all of that: `int x = 100` can change at any time. It should absolute be rejected as input to `size`. `final int x = 100` is a primitive constant, not a variable. It cannot change, and is symbolically identical to the primitive value it aliases.

[2016-02-28 17:59] suheb commented on #4328
I know it's intentional but why?
Why variables should absolutely not be allowed in `size()`?

[2016-02-28 18:20] Pomax commented on #4328
The main rationale is because `size()` is not just another function, it's essentially the executable entry point, responsible for bootstrapping the entire graphics environment for the sketch, so its input should be computationally stable. Calling it with variables as arguments makes very little sense: you cannot do compile-time analysis to guarantee the sketch won't crash immediately, which you *c

[2016-02-28 19:30] HostileRobot opened #4339 "FX2D does not have exception handler"
Hello,
When attempting to run my sketch, everything seems to work fine, but about 5 seconds later, I am greeted with a crash coupled with the following error message:

I have a general suspicion of what's causing it, but I can't really say for sure why it's happening, as the error points to a non-existent line in my code(`EvolutionSimulator.java:42` while my file is only 37 lines long).

I have at

[2016-02-28 19:49] hamoid commented on #4330
Sorry but I think you got it wrong. I would say it's your task to be precise, not others to assume things :) Issues should include the necessary details to know what and how it was tested, what was the expected result, and what was the actual result, so others can help.
But please don't get offended and excuse me if I sounded harsh. You can just improve the issue title and description. "found some

[2016-02-28 20:02] FrankOcean11 commented on #4330
dude if your looking for an argument i have no issue here doing just that...

[2016-02-28 20:07] FrankOcean11 commented on #4330
what do you mean what was i expecting ? its that a rhetorical question ? i dont have to expect nothing nothing every sketch YOU guys upload has a description telling you what to expect so that i dont have to figure shit out so when you asking me "what was the expected result," im not sure if your being funny or just not reading my initial post and when you're saying "what was the actual result, so

[2016-02-28 20:12] FrankOcean11 commented on #4330
there really aint nothing else to say here the sketch dont do what it says it does, what setup i follow and what was i expecting falls back on what the written sketch says it does and how it works, so if im telling you that it does not work "check it out then" dont try to call me out as if im not being descriptive enough because there is nothing else i can say or do to elaborate on my simple state

[2016-02-28 20:16] FrankOcean11 commented on #4330
the arduino algorithm makes sense and compile despite the fact that who ever uploaded that code did not include the library, the processing mouse function work fine at run what doe not work is the Transmitting via serial to control the arduino i will say that the arduino led is flickering meaning it is getting something but i cant debug it because when you run processing serial you cant open ardui

[2016-02-28 20:28] rzats commented on #4328
Upon further research you can still call `size()` with variable-defined parameters using `settings()`:

    final int foo = 30;
    int bar = 40;

    void settings() {
        size(foo, bar);
    }

The [reference page](https://processing.org/reference/settings_.html) specifically mentions this usecase so it shouldn't cause any issues.

[2016-02-28 20:47] hamoid commented on #4330
It seems we are on different wavelengths. I spent more than 30 minutes with your issue. I never ask rhetorical questions. I'll let others comment.

[2016-02-28 21:22] FrankOcean11 commented on #4330
Thank you and that being said please delete your comments "i don't want tarnished communication from the next commenters"

[2016-02-28 21:33] Pomax commented on #4328
that should be an unnecessary workaround for true numbers, which normally would include named numeric constants.

[2016-02-29 01:18] JakubValtar commented on #4328
HI @Pomax, you have to type the numbers into the size() directly. The reason is that we need to extract the size with the preprocessor, which becomes difficult and error-prone when we have to deal with any identifiers (people do crazy stuff with them, which breaks things). If you want to use size() in some other way, please put it into settings().

[2016-02-29 01:28] JakubValtar commented on #4339
Can you please post your code?

[2016-02-29 01:42] JakubValtar commented on #4178
Could it be caused by the JIT bug #4079 (and thus already fixed/worked around)?

[2016-02-29 02:01] JakubValtar commented on #4339
All of it would be great.

[2016-02-29 02:14] JakubValtar commented on #4339
The problem is here, you can't remove from collection while looping over it:
[code]
IF you need more help with your code, please visit https://forum.processing.org

Default renderer will highlight the line where the problem is. However, FX2D does not have exception mapping yet. Thanks for your report, it will be added!

[2016-02-29 06:21] Akarshit commented on #4105
@benfry Should i continue working on #4229 or you have something else in mind ?

[2016-02-29 06:25] Pomax commented on #4328
Can the error for this at least be changed, then? Any tool that is supposed to make things easy for people should never only say "this is wrong", but should always say "this is wrong, but you can do the following things instead: ... ". Mentioning or linking to the `settings()` function is no effort on the IDE's part, but will save *a lot* of people from not understanding what they should be doing

[2016-02-29 17:04] FrankOcean11 opened #4342 "example code does not do what it says it does in the sketch description"
im not sure if there is a bigger problem to what i can see or if this was a simple mistake by the one who made this available to anyone downloading the libraries from the install manager ?

both of this examples aren't working at all though i must say they do compile, they just dont do what it says it should plus one was missing a library.

would love to hear back from someone about this getting a

[2016-02-29 17:05] #4330 closed

[2016-02-29 19:57] sehlstrom opened #4344 "PApplet is not a java.awt.Componet?"
According to the PApplet [documentation](https://processing.googlecode.com/svn/trunk/processing/build/javadoc/core/processing/core/PApplet.html), PApplet extends java.wt.Component. However, I get the following error when trying to add a PApplet to a Frame object:

Code:

    public class ToolPalette extends Frame {
      public ToolPalette() {
          super("Tool palette");
          setLayout(n

[2016-02-29 20:00] sehlstrom commented on #4344
I just [found out](https://github.com/processing/processing/wiki/Changes-in-3.0) that the PApplet is no longer extending java.awt.Applet as of version 3.0. The documentation should be updated accordingly.

[2016-02-29 20:59] codeanticode commented on #4327
Hi, are you looking at changing the stroke weight of the shapes drawn with Processing's API, or trying to set the line width for your own GL calls?

[2016-02-29 21:12] hype commented on #4327
`gl.glPolygonMode( GL2.GL_FRONT_AND_BACK, GL2.GL_LINE );`
`gl.glLineWidth(3.0f);`

this would turn a mesh into wireframe mode basically and set the wireframe line weight to 3 - worked fine in 2.2.1 with `import javax.media.opengl.GL2;` but after updating to 3 to `import com.jogamp.opengl.GL2GL3;` line weight never updates `gl.glLineWidth(3.0f);` you can change that to any number and it never leave

[2016-02-29 22:29] codeanticode commented on #4275
I went ahead and made the switch with commit https://github.com/processing/processing/commit/59dd00fe8db63a8e2a9b8b923bd586fdc36c1edc, as it does not break any API and the shader code follows accepted CG conventions.

[2016-02-29 22:29] #4275 closed

[2016-03-01 08:36] aengelke commented on #4344
The documentation is up-to-date, but the link you are using is outdated. The new JavaDoc is [here](http://processing.github.io/processing-javadocs/core/). You might also want to check out [this page](https://github.com/processing/processing/tree/master/core).

[2016-03-01 20:58] satoshiokita commented on #4301
Myriads, I have a question. I will be able to fix caret locate problem.
but I don't know a Korean composing color. like a Window's notepad?

blink black or white rectangle.
![001](https://cloud.githubusercontent.com/assets/16870334/13441279/adb51aa4-e039-11e5-93cd-53ebd4e73122.png)
![002](https://cloud.githubusercontent.com/assets/16870334/13441451/8d4f655c-e03a-11e5-979a-0e3728de4991.png)

## pro

[2016-03-02 02:15] adamribaudo commented on #2411
Just repeating what others have found...same issue on a Microsoft Surface Pro 4 which has a high density screen. Screen shot attached showing Processing next to this post for reference.

![processing size](https://cloud.githubusercontent.com/assets/295592/13448625/9d406936-dff2-11e5-8084-2c54b4b79b5a.PNG)

[2016-03-02 13:47] alignedleft commented on #4342
Duplicate of https://github.com/processing/processing-docs/issues/399

[2016-03-02 13:47] #4342 closed

[2016-03-02 13:49] alignedleft commented on #4338
This is a great question for the forum: forum.processing.org

…but as long as we're here, @gohai may know the answer.

[2016-03-02 13:49] #4338 closed

[2016-03-02 23:25] rohitsam opened #4345 "Unable to add .pde file to web page"
here is my html code
<html>
  <head>

<script src="game/processing.min.js"></script>
<canvas data-processing-sources="game/game.pde"></canvas>

  </head>
  <body>

  </body>
  </html>
error i was getting:
Uncaught Processing.js: Unable to load pjs sketch files: game/Game.pde ==> XMLHttpRequest failure, possibly due to a same-origin policy violation. You can try loading this page in another browser

[2016-03-03 01:39] satoshiokita commented on #2886
@crazymaster , I have a question. What your environemnt font setting?
I can be reproduced codeanticode's header. but I cant reproduced your screenshot .

[2016-03-03 01:56] crazymaster commented on #2886
It is "Takao Gothic" with Japanese on Ubuntu 15.10.

P.S. Those strings are not translated in Japanese.
Search 'FIXME' in https://github.com/processing/processing/blob/master/build/shared/lib/languages/PDE_ja.properties.

[2016-03-03 05:26] Myriads commented on #4301
Hi,

In the attached the picture, the composing character has a white background
color different with others: "// 한".
The composing character "글" also has to have same cyan color.

[image: 본문 이미지 1]

I didn't mention like Windows Notepad block cursor. Actually Windows
Notepad uses the block cursor composing Korean character, so the background
color of composing Korean character looks like a black.

[2016-03-03 05:27] AeroX2 opened #4346 "AttachingConnector not attaching"
Hello,
So I have been trying to get Processing 3.0.2 working on my laptop, currently running ArchLinux
And the issue is that when I click on the run button in the IDE the program refuses to run.
I get no error messages or any message at all.

System details:
[http://pastebin.com/RdHb8trA](http://pastebin.com/RdHb8trA)

Things I have tried:
- Running with present mode
- Using Oracle and OpenJDK
- T

[2016-03-03 06:16] satoshiokita commented on #2886
Thanks, I could find 'FIXME' comments in PDE_ja.properties.
I will send a PullRequest in a few days.

![001](https://cloud.githubusercontent.com/assets/16870334/13486237/8aa0ae60-e152-11e5-9cb3-0880311f4b5f.png)

[2016-03-03 12:00] JamesJDillon commented on #4345
I've encountered this error before using a different Js library. What I assume you're doing is just trying to open you're index.html file directly in your browser? What you should try is setting up a local webserver (such as XAMMP if you're on windows), and try running it through that. For instance, on windows:

1.Download XAMMP.
2. Install XAMMP.
3. Navigate to the htdocs directory (in your xammp

[2016-03-04 04:38] pentaphobe opened #4347 "Allow library access to registerMethod(), handleMethod(), etc.."
When applications increase in complexity, it would be beneficial for non-`PApplet` classes to listen to events (beyond the builtin ones).

ControlP5 currently registers a `draw` method, which allows clean sketch code since the library can default to handling its own updates.

Having similar capabilities for (eg.) `Serial`'s `serialEvent` and `Capture`'s `captureEvent` would allow far more interope

[2016-03-06 18:51] benfry commented on #4322
Is this a regression in 3.0.2 or something since 3.0? How serious is it? If it's actually destroying code in a non-recoverable way, then we need to push 3.0.3 asap. Or if it's an occasional annoyance introduced in 3.0.2 then 3.0.3 just needs to happen "soon."

[2016-03-06 19:27] JakubValtar commented on #4322
This is a problem with redrawing lines, e.g. displaying. No code should be harmed. Error checker updating errors fighting with redrawing on EDT. I think it got introduced Aug 21 in https://github.com/processing/processing/commit/55713f8915940b14a4e185c8936634f2f9775341 by some synchronization juggling, so it's pre 3.0. I never encountered it, I don't think this is very common, however if it happen

[2016-03-06 20:33] benfry commented on #4345
Wrong project. This repository has nothing to do with processing.js.

[2016-03-06 20:33] #4345 closed

[2016-03-06 20:37] benfry commented on #4322
Got it, thanks. Will try to do a release soon but won't drop everything today to handle it.

[2016-03-06 20:39] benfry commented on #4346
Sounds like you have a firewall or something else that's preventing the PDE connect to the java process via the debugger. Regardless, it's not a bug, but something happening on your machine. forum.processing.org is a more appropriate place for troubleshooting.

[2016-03-06 20:39] #4346 closed

[2016-03-06 20:47] benfry commented on #4329
Moved to https://github.com/processing/processing-sound/issues/72

[2016-03-06 20:47] #4329 closed

[2016-03-06 20:47] #4314 closed

[2016-03-06 20:47] #4315 closed

[2016-03-06 20:57] benfry commented on #4312
Probably better to implement the correct interfaces in the custom components rather than re-implement the components using Swing. Swing is kind of a nightmare, which is why `JButton` et al weren't overridden in the first place. (Witness the difficulty of getting the Contribution Manager to not look like a complete mess over the last year or so.)

On the other hand, it might be better to create a s

[2016-03-06 21:01] benfry commented on #4308
Incorporated for 3.0.3 with https://github.com/processing/processing/pull/4309.

[2016-03-06 21:01] #4308 closed

[2016-03-06 21:13] joernroeder opened #4349 "Raspbian image is incompatible with Raspberry Pi 3"
Hey,
I've just got the newly released raspberry pi v3 and tried to run the image found on the [Pi wiki page](https://github.com/processing/processing/wiki/Raspberry-Pi). This didn't work as expected ([got 8 flashes on boot](http://elinux.org/R-Pi_Troubleshooting#Green_LED_blinks_in_a_specific_pattern)) and the pi needs a newer firmware which i've found at https://github.com/raspberrypi/firmware/tr

[2016-03-06 22:57] joelbaumann commented on #4349
I tried installing the latest version of Raspbian and then adding the latest processing build via the terminal. But I ran into problems. Processing could not start because it could not write prefs in /home/pi. I tried changing the permissions to no avail. Any pointers welcome...

[2016-03-06 23:17] satoshiokita commented on #1633
comment memo

[2016-03-07 15:05] nbourre opened #4352 "Add option for use to set a default sketch template"
This is an enhancement request for a future version or a plugin. Add the ability to save a default template when starting a new sketch.

The user could save a sketch as a template and optionnally set it as the default template.

[2016-03-07 15:31] CleezyITP commented on #4312
@Manindra29, @toolness and @benfry , I have just had a conversation with the incredibly knowledgable @sinabahram, with respect to the processing  IDE’s accessibility!

All things considered, we agree with Ben that making a standalone editor might be the easiest and most impactful way to bring accessibility to Processing. Swing has done all the heavy lifting for us and if we could put together some

[2016-03-07 21:47] codeanticode commented on #4327
I you are doing everything through GL, including the geometry mesh, then the line width should work... Could you post some code for me to loo at?

[2016-03-07 22:32] hype commented on #4327
sure no problem... lets take your blue marble example / https://github.com/codeanticode/pshader-experiments/tree/master/BlueMarble

for processing 2 sketch lets...

`import javax.media.opengl.GL2;`

`  shader(earthShader);`
`  pushMatrix();`
`  rotateY(earthRotation);`
`    GL2 gl = ((PJOGL)beginPGL()).gl.getGL2();`
`      gl.glHint( GL2.GL_POLYGON_SMOOTH_HINT, GL2.GL_NICEST );`
`      gl.glPolygo

[2016-03-07 23:58] sinabahram commented on #4312
Nice to meet everyone, albeit virtually. I’d also like to mention one tool that may be helpful in investigating the accessibility information exposed via the Java Access Bridge on Windows:

https://github.com/google/access-bridge-explorer

From: Claire K-V [mailto:notifications@github.com]
Sent: Monday, March 07, 2016 10:32 AM
To: processing/processing <processing@noreply.github.com>
Cc: Sina Bahr

[2016-03-08 10:12] vormplus opened #4353 "Contents of Help Menu disabled (Mac OS X)"
The content of the Help menu sometimes gets disabled on Mac OS X (see screenshot below). Pressing the backspace key in the Search field also doesn't work when the menu items are disabled.

<img width="444" alt="Processing Help Menu" src="https://cloud.githubusercontent.com/assets/805141/13598258/28162b02-e51d-11e5-91c9-68b376774112.png">

[2016-03-08 17:46] kahermans opened #4354 "Cannot Run Processing.exe"
I downloaded the zip, extracted the files to a folder, and tried to run processing.exe. I get an error that says Processing cannot run because it could not create a folder to store your sketchbook. I have attempted to look for a preferences.txt file in order to redirect to a folder that I've created. I'm on a lab computer, but I do have administrator privileges.

[2016-03-09 16:46] ZachSundberg commented on #4354
Try [right-click]->Run as administrator
If that works you can then [right-click]->properties->compatibility
Check []run as administrator

[2016-03-09 16:48] ZachSundberg opened #4355 "KeyPressed() and KeyReleased() not firing in FX2D"
What the title says.  keyTyped() fires but the other two do not.

[2016-03-09 16:59] ZachSundberg commented on #4355
Well that was a quick turn. They are firing. I was running a switch(key) in the function and nothing was happening.  Evidently when using FX2D, the global key variable is stored as uppercase.  So case 'a': wasn't working, but case 'A' does. odd.

[2016-03-09 16:59] #4355 closed

[2016-03-09 19:22] codeanticode commented on #4327
Ok, I got it now. The problem is that in Processing 3, the default profile is [GL2ES2](http://jogamp.org/deployment/jogamp-next/javadoc/jogl/javadoc/). This is a fully programmable profile without support for GL lines() (strokes are generated by Processing's built-in shaders, so the old fixed-function glLineWidth() has no effect.

An easy solution could just be to initialize the sphere PShape with

[2016-03-09 19:22] #4327 closed

[2016-03-09 19:33] hype commented on #4327
awesome sir. I've already moved most of my 2.2.1 files to 3 using void settings() is there any disadvantage to forcing the profile.

[2016-03-09 19:47] codeanticode commented on #4327
From the perspective of the Processing API, none I can think of. Of course, you won't be able to use newer versions of GLSL, nor GL functionality available in 3+ (such IBOs, geometry & tessellation shaders, etc). Also, there is a slight overhead when using the fixed-function pipeline, because the old projection and modelview matrices are still being copied over to the GPU, while Processing handles

[2016-03-10 09:26] SetupandDraw opened #4356 "sketch worked yesterday but not today"

[2016-03-10 09:42] #4356 closed

[2016-03-11 17:55] quarks opened #4357 "rect fill glitch when using translate with negative x"
The expected output is a single solid white stripe, but what I get is a stripe with a few lines of pixels missing. This only happens at certain (unpredictable) transform rotations, and only when the translate has a negative x value. The greater the negative value, the wider the line of missing pixels. It also doesn't happen when using the P2D renderer.

This was first noticed by Basroks and report

[2016-03-15 17:16] codeanticode opened #4358 "NPOT support is not properly detected in Raspberry Pi"
The name of the NPOT extensions in GLES are GL_IMG_texture_npot and GL_OES_texture_npot, so the PGL.hasNpotTexSupport() function does return false even if the device supports NPOT textures.

[2016-03-15 17:17] codeanticode commented on #4358
Fixed with https://github.com/processing/processing/commit/f6fb24b750743ac95c9060b73cf0f955a84967a9

[2016-03-15 17:17] #4358 closed

[2016-03-16 01:03] Leonelolelo opened #4359 "loadpixel() returns nullpointerexception"
i was using processing in netbeans to play a movie on an array of ledstrips and i am using OPC.class for ledstrip fadecandy mapping. This code works on the processing sketch, but when i tried to use it on netbeans the loadpixel() in draw() method of OPC.java throws a nullpointer exception.

Stacktrace:

	at processing.core.PApplet.loadPixels(PApplet.java:10625)
	at com.processing.OPC.draw(OPC.java

[2016-03-16 14:14] martiSteiger opened #4360 "Calling texture2D() in shader script do not work as expected."
Shadertoy is the leading shader collection with thousands of brilliant shader examples.
Most impressive shaders are using the shader programming statement ...

   vec3 color = texture2D (texture, position);

If the texture coordination 'vec2 position' are outside the range 0.0 .. 1.0
they will be internally mapped to '0.0 <= position < 1.0' from Shadertoy.
It would be very helpful that processing

[2016-03-16 18:09] codeanticode commented on #4360
I think you should be able to achieve the wrapping of the texture coordinates by using in the sketch textureWrap(REPEAT), for example inside setup().

[2016-03-17 06:45] iizuna opened #4361 "Renderers but JAVA2D have problem for mouseButton under P3"
while left mouse button is plessed, mouseButton ignores that right mouse button plessed or released.

[code]

for more details here: https://forum.processing.org/two/discussion/15531/how-to-detect-right-mouse-button-press-release-while-left-mouse-button-is-plessed-in-p3d-mode

[2016-03-17 08:07] Thegamerplus1 opened #4362 "Downloads page typo"
Earlier releases have been removed because we can only support the current versions of the software. To update old code, read the changes page. **_Per-release_** changes can be found in revisions.txt. If you have problems with the current release, please file a bug so that we can fix it. Older releases can also be built from the source. Read More about the releases and their numbering. To use Andr

[2016-03-17 10:54] martiSteiger commented on #4360
Thank you very much!
With **textureWrap(REPEAT)** it is now running as expected!

Wouldn't it be better to set the REPEAT mode as default texture wrapping mode ?

However, texture wrapping is a often used technique for 2d and 3d shaders and there is no basic shader example within processing how to use it.
Can you include a shader example like this at the next release?

[code]

[code]

[2016-03-17 12:19] codeanticode commented on #4360
Cool, good to know that textureWrap(REPEAT) solves the issue! Marking it as an enhancement now. Yes, I think adding your example to the Shader topics on how to use the REPEAT wrapping is a good idea, thanks a lot for your contribution!

[2016-03-17 12:23] cansik opened #4363 "parseXML returns void instead of XML object"
In the [documentation](https://processing.org/reference/parseXML_.html) there is written that parseXML returns an XML object:

[code]

But Processing complains about that it just is a void method. I can't find the method in the source code of processing, maybe it's a magic function?

[2016-03-17 15:17] alignedleft commented on #4363
Sorry, can you clarify what the problem is? Are you seeing an error message?

When I paste the example code from that page into Processing, it runs as expected, with no errors:

[code]

[2016-03-17 15:30] cansik commented on #4363
Ok that's really strange because it now works. Maybe there was something wrong with the processing code verifier.

[2016-03-17 15:30] #4363 closed

[2016-03-17 17:08] REAS commented on #4362
This is correct, but I see how it's confusing. I just modified the wording to clarify for the next update.

[2016-03-17 17:08] #4362 closed

[2016-03-18 13:39] vormplus commented on #4239
Some of my students have the same problem, but it can take up to 5 minutes for sketches to start.
Working with the regular `size( 200, 200 )` is ok, adding the **P2D** or **P3D** renderer makes startup real slow.

[2016-03-18 13:42] codeanticode commented on #4361
Must be related to the event handling in JOGL's NEWT. Will look into it. This is on windows, right?

[2016-03-18 13:42] codeanticode commented on #4360
Add your example to the shaders topic: https://github.com/processing/processing-docs/commit/3708be262b80d210597dceeb933feb46fac54e71

Thanks again!

[2016-03-18 13:42] #4360 closed

[2016-03-18 13:48] codeanticode commented on #4359
This should be reported in the processing-video repo. Reopening there: https://github.com/processing/processing-video/issues/45

[2016-03-18 13:48] #4359 closed

[2016-03-18 13:49] codeanticode commented on #4239
That's odd, what's the hardware/OS you are using?

[2016-03-18 15:18] vormplus commented on #4239
One student has a Lenovo Y50, and one has a HP Pavilion. Both running Windows 10.
Processing 2.x seems to work fine, problem only exists with Processing 3.

[2016-03-18 16:47] nkolban commented on #4239
It seems that the common thread is Windows 10.  As mentioned previously, I will be happy to do a screen share to show the failing issue on a Windows 10 environment.

[2016-03-18 16:57] ZachSundberg opened #4364 "FX2D only accepts last call to tint() for a given frame"
This sketch demonstrates the error:

[code]

We should see 7 differently tinted images.  Instead all seven are tinted to colors[7].  Change the size call to
[code]
And the bug goes away.

[2016-03-20 06:39] codeanticode commented on #4361
It looks like this is due to an upstream bug in JOGL, see [this thread](http://forum.jogamp.org/MouseListener-mouseWheelMoved-and-Shift-td4031233.html), in particular [this comment](http://forum.jogamp.org/MouseListener-mouseWheelMoved-and-Shift-tp4031233p4031247.html). I can reproduce this behavior, i.e.: releasing the right button when both left and right are pressed does not differentiate betwe

[2016-03-20 14:28] codeanticode commented on #4349
I have been using this Raspbian image that @gohai put together for the RPi3:

http://sukzessiv.net/~gohai/p5-arm/processing-3.0.2.1-linux-raspbian.tar.bz2

[2016-03-20 15:40] codeanticode commented on #4239
I have a windows 10 machine, will run some tests and will move from there. We can do the screen share if needed to.

[2016-03-20 16:51] neilcsmith-net commented on #3437
@codeanticode any further thoughts on this?  Is there likely to be a fix or should I just invent a public facing API for my own purposes?  It's a really useful thing missing from the current PShader API.

[2016-03-20 20:11] codeanticode commented on #3437
I agree that that having Processing automatically generating the texture offset and matrix uniforms could be useful, but at the same time I would like to avoid making new additions and/or changes to the API.

The least intrusive way to implement this proposed enhancement could be to calculate the offset and matrix in set(name, tex) and then pass the values through uniforms named name + "Offset" an

[2016-03-21 03:46] RomainAuroro opened #4365 "Launch() does not work for .cmd files"
I am using processing 3.0.2 and when i use the following
launch("C:/Users/Oral/Documents/Processing/to_test_launch/data/createMusicList.cmd");
it doesn't launch. however when i do this:
launch("C:/Users/Oral/Documents/Processing/to_test_launch/data/Music.txt");
or
launch("C:/Users/Oral/Documents/Processing/to_test_launch/data/createMusicList.txt");
it launches both.
Im wondering if launch works fo

[2016-03-21 09:12] neilcsmith-net commented on #3437
No, looks perfect!  It's exactly what I had in mind by the "automagic" approach in my original issue report.  As you say, this keeps it consistent with the default texture behaviour.  Not sure I'd agree with it not adding to the API, just pushing it into the GLSL layer, but probably less intrusive.  Thanks!

[2016-03-21 10:52] CoenB95 commented on #4169
Why has this bug not been fixed yet? Because of this i am forced to use JAVA2D (or P2D or P3D) in order to receive scroll-inputs. But I would really want to use FX2D because of its fastness (sorry for my English). Looking through the code I discovered that mouse wheel events are handled by `fxMouseWheel(ScrollEvent)`, which does nothing (read: is an empty method). Some testing made it clear that o

[2016-03-21 23:33] BunnyhopGames opened #4366 "Exported application fails to run when a "+" is present in the filepath"
It appears that when an exported application contains a "+" anywhere in it's filepath. This only seems to happen when the sketch calls loadImage(), and I've only tested this on windows 8.

[code]

[2016-03-23 09:46] gohai commented on #4163
I am in Shenzhen right now, using filtered hotel WiFi - and currently github.com and the Contribution Manager seems to work, so perhaps the Chinese authorities came to the conclusion that GitHub was too big a fish to ban...

(Closing this issue for now)

[2016-03-23 09:46] #4163 closed

[2016-03-23 17:53] gpcmax opened #4367 "processing runs but i have to close it for it to run what ever im working on"
same as in title.

it works perfectly but when ever I hit run it says its running but it wont show anything until i close the sketch.

what can i do about this? thanks for the help

[2016-03-23 18:22] benfry opened #4368 "Adding .java files to a sketch that didn't have any cause the Error Checker to weird out"
Making a note here since I saw this the other night. Suspect that the `javaTabs` thing isn't getting set to turn off the ECS when a .java file is added to a sketch (if there weren't already any .java tabs).

<img width="812" alt="added files" src="https://cloud.githubusercontent.com/assets/1623101/13996081/90682dcc-f102-11e5-8a2d-a6dc598f7242.png">

[2016-03-23 22:55] Chuugoku opened #4370 "Python error"
I download the processing successfully but when I use the Python mode it always shows an error:

java.lang.NullPointerException
	at jycessing.Runner.runSketchBlocking(Runner.java:303)
	at jycessing.mode.run.SketchRunner$3.run(SketchRunner.java:114)
	at java.lang.Thread.run(Unknown Source)

or

java.lang.IllegalArgumentException: Cannot create PyString with non-byte value
	at org.python.core.PyStri

[2016-03-24 16:51] q2dg opened #4371 "Library not found in "Contribution Manager" but listed"
When I want to download Andrew's Utilities (AULib) library from  "Contribution Manager", I get a 404 error when I want to go to https://imaginary-institute.com/resources/AULibrary/AULib.php and an error message like this: "Could not find a library in downloaded file".

If a library is not available, should not be there some method to delete it (or at least, disable it) from the list?

Thanks!

[2016-03-24 17:34] GKFX commented on #4367
Is this for all sketches, or just for one? If just the one, can you post the sketch below? Does any text appear in the console, and if so can you post that? And what's your OS and Processing version? I don't see it on my machine with a current copy.

[2016-03-24 17:45] GKFX commented on #4365
This feels more like a request for help than a bug, and so should probably be in the [forum](https://forum.processing.org/two/), although it's possible that Processing should have made this easier so you can leave this open as a feature request if you like.
For the time being, follow http://stackoverflow.com/a/616014/798223. You can use `exec()` as a shortcut for `Runtime.getRuntime().exec()` in P

[2016-03-24 17:50] gpcmax commented on #4367
i have a ASUS 17.3" Republic of Gamers G752VL Gaming Notebook which runs windows 10 and it does it for all sketches. but it didn't do this originally. i use to be able to use it before but than it just randomly changed even though i didnt do anything

[2016-03-24 19:27] algoint opened #4372 "Rendering glitch"
I was doing colour exercises when I came across a rendering glitch that seems to affect the Red channel.

[code]

The above code renders just fine:
<img width="1112" alt="screen shot 2016-03-24 at 12 03 51 pm" src="https://cloud.githubusercontent.com/assets/18057289/14028206/98fdc0c6-f1b8-11e5-8a25-6b1119ae730b.png">

However when a second colour wheel is added a glitch appears.
[code]

<img width

[2016-03-25 19:20] fiawn commented on #1940
Same problem is happening here (Windows 10, Processing 3.0.2):

Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: -1
	at java.util.ArrayList.elementData(ArrayList.java:418)
	at java.util.ArrayList.get(ArrayList.java:431)
	at processing.app.syntax.Brackets.findMatchingBracket(Brackets.java:54)
	at processing.app.syntax.JEditTextArea.updateBracketHighlight(JEditTextAre

[2016-03-25 20:16] GKFX commented on #4367
Okay, thanks. I guess the next thing to try is to move your Processing settings folder, which will cause Processing to be reset to how it was when installed. If that makes it work as it did initially, then comparing the two folders before and after will help us diagnose the fault.
Open Processing and press `Ctrl`+`,` to open the settings dialog (Don't change anything now!). Click the link at the b

[2016-03-25 20:36] RomainAuroro commented on #4365
Thank you very much. The link you send me lead to about a hour of research that eventually solved my problem. I hope i don't run into any issues when I complete and export the program. I also agree that processing should have made this a lot easier. cause I'm not the only one having this problem. I solved it using
exec(new String[] { "cmd", "/c", "start", "/w", cmdPath0});
where cmdPath0 is a stri

[2016-03-26 00:38] boubpopsyteam commented on #4372
A question for the forum as it's not a processing bug.

startingangle and incrementangle aren't re-initialized on each loop of
draw.

Add noLoop(); in your setup ...

2016-03-24 20:27 GMT+01:00 algoint <notifications@github.com>:

[2016-03-26 01:14] algoint commented on #4372
Thanks boubpopsystem!

[2016-03-26 01:14] #4372 closed

[2016-03-27 12:28] douira commented on #2926
This error still occurs with me like @shiffman described at the beginning. It shows up a few hundred times in the console and lags the Editor for a few seconds printing it all out. I'm running 3.0.2 on OS X 10.11.3 (El Capitan) but it has also happened on other versions of both PDE and OS X. Full error: (almost the same) https://gist.github.com/douira/55aea671a9c8a3d0fe72

[2016-03-27 21:16] ragekit opened #4374 "Ortho() + noSmooth() + point() don't show anything"
Hello all
It seems that since processing 3, using ortho combining with noSmooth and then trying to write point doesn't write anything to PGraphics (wether the main scene or an offscreen buffer)
Not using Ortho or nosmooth work fine though.

I'm on windows 10 using the processing 3.0.2

[2016-03-28 03:44] jsundram opened #4375 "java.lang.ArrayIndexOutOfBoundsException"
I repeatedly get exceptions while editing (not running) my sketch (using Python mode, if that makes a difference): `Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException`

This seems to make the editor behave kind of oddly (some keystrokes to move the cursor around don't work, Cmd-A to select all doesn't work). This is on 3.02a

[2016-03-28 04:24] jsundram opened #4376 "blendMode operates differently in P2D vs default renderer"
`blendMode(SUBTRACT)` doesn't render the same results in P2D mode and default render mode. In fact, it looks like no subtraction is happening in the default renderer. Processing 3.0.2, OSX.

[2016-03-28 15:24] xiatianyu commented on #3318
I am glad to report, the problem no longer exists on 3.0.2.

[2016-03-28 20:50] HaydenHoran commented on #3935
I am merely trying to set up a window. However, when running void setup () {....}, I get an unexpected token {. Any idea why?

[2016-03-28 20:53] Niels-NTG commented on #4179
Thank you @jimcd, this was exactly what I was looking for. Processing really needs a standard `windowResized()` method that get's triggered automatically whenever a window resize event is detected. Functionally identical to [what p5 does already](http://p5js.org/reference/#/p5/windowResized).

[2016-03-29 16:02] grg2rsr commented on #4183
I have the same problem on dell XPS 13 with a QHD display, running Ubuntu 16.04. Scaling factor set via the Unity config GUI doesn't affect scaling in the Processing IDE.

[2016-03-29 21:53] paraclete-pizza opened #4377 "setStroke() does not work with imported OBJ Pshapes"
If I load in a *.obj file using loadshape(), I can bring the file in, and change its color using setFill(). However, setStroke() and setStrokeWeight() have no effect on the shape, whereas with shapes created using createShape, it would result in a 'wireframe' effect of every poly being outlined.

[2016-03-29 21:58] benfry commented on #4370
Please report to the Python folks: https://github.com/jdf/processing.py/issues

[2016-03-29 21:58] #4370 closed

[2016-03-30 00:23] paraclete-pizza opened #4378 "setTexture() does not work with imported OBJ Pshapes"
A texture cannot be applied to PShapes created by loading a *.obj file. SetTexture() does work for shapes created by other means, however. Here is some example code, where I load in a model, and create a sphere, and apply the same texture to both. In this case, only the sphere has a texture.

[code]

![image](https://cloud.githubusercontent.com/assets/6827480/14128140/15aae202-f5ec-11e5-89b7-7044a

[2016-03-30 16:48] REAS commented on #4371
I just checked and it looks like Andrew changed his files and didn't update the file he provides for linking through the contribution manager. The new file is https://imaginary-institute.com/resources/AULibrary/AULibrary.php

@prisonerjohn Can you have a look?

[2016-03-30 20:20] codeanticode commented on #4378
The .obj file needs to include texture coordinate data (UV values) for Processing to display the texture correctly. Built-in primitives have pre-calculated texture coordinates, that's why the texturing works on them.

Try setting an arbitrary texture in the Basics|Shape|LoadDisplayOBJ, and you will see it does work.

[2016-03-30 20:20] #4378 closed

[2016-03-30 20:27] codeanticode commented on #4374
What strokeWeight() are you using? If the stroke weight is small and you are also placing points far from the camera, they might end up taking less than a pixel when drawn on the screen, in which case they won't be visible if smooth is disabled. This is due to how graphics are rendered by OpenGL, and not an error in Processing.

[2016-03-30 20:27] #4374 closed

[2016-03-30 20:27] codeanticode commented on #4376
@JakubValtar Any comments about this?

[2016-03-30 20:47] JakubValtar commented on #4376
Hm. Could you post any code or screenshots for me, @jsundram? Are other blend modes ok?

[2016-03-30 21:00] #4377 closed

[2016-03-30 21:00] codeanticode commented on #4377
@paraclete-pizza thanks for reporting this. Actually, setStroke() works partially, if you do the following:

[code]

you should have green strokes applied to your obj shape. However, due to a bug in the logic, black strokes are ignored, this is taken care of with https://github.com/processing/processing/commit/2a8d62b3d84590c80621ccf23b2700ce15d58627

[2016-03-31 10:05] jwoLondon commented on #4225
A workaround appears to be to use the P2D or P3D renderer:

[code]
But this is rather limiting in preventing use of the default renderer or FX2D. It pretty much stops me using high density rendering in Processing as I make much use of offscreen graphics buffers with the default renderer.

Is anyone working on fixing this?

[2016-03-31 13:22] GoToLoop commented on #4328
Funnily Pre-Processor got no problems at accepting variables for the 3rd renderer parameter:
[code]

And that still works even w/o `final` or `static`!  O_o

[2016-03-31 13:57] prisonerjohn commented on #4371
Just fixed the link, it looks like he switched from http to https. It should download out of the PDE Contribution Manager again.

[2016-03-31 13:57] #4371 closed

[2016-03-31 14:50] REAS commented on #4371
Thank you!

[2016-04-01 08:00] HeinPauwelyn opened #4380 "IllegalStateException when run PApplet as Java application"
I'll try to use Eclipse IDE for Java Developers (version Mars.2) to make processing (version 3.0.1) applications. But when I run my application I've got this error:

If I place `size(200, 200);` in comment, my window is to title but it works.

I've follow the steps on this article [Processing in Eclipse](https://processing.org/tutorials/eclipse/). Here is the code I've made:

[code]

I've also add

[2016-04-01 09:17] hamoid commented on #4380
size() should be called inside settings() when using Eclipse.

See https://processing.org/reference/settings_.html

[2016-04-01 09:42] #4380 closed

[2016-04-01 14:23] jdf opened #4381 "PSurfaceJOGL dispose()s PApplet twice"
https://github.com/processing/processing/blob/master/core/src/processing/opengl/PSurfaceJOGL.java#L872

https://github.com/processing/processing/blob/master/core/src/processing/opengl/PSurfaceJOGL.java#L877

[2016-04-01 17:53] codeanticode commented on #4381
Thanks for pointing this out. However, I have been running some tests, and seems that these lines are never reached when closing a running sketch, either by clicking the stop button in the PDE, or closing the sketch window. Are these causing you trouble in the Python mode? Maybe related to https://github.com/jdf/processing.py/issues/197#event-609204151?

[2016-04-01 18:12] jdf commented on #4381
No trouble at all, other than having to write some guard code to prevent dispose from being called twice in Python Mode.

Because the sketch running process does not exit, dispose is actually called in Python Mode. I guess Java mode quits before any dispose happens. That's actually a bug, as far far as I'm concerned, in the case where someone has written a dispose handler that cleans up temp files

[2016-04-02 01:50] IAMFALL commented on #4128
bump

[2016-04-02 13:29] leadedge commented on #4381
Actually this could be related to to a problem I have been having with development of a library.

https://github.com/leadedge/SpoutProcessing

If I register a "dispose" method as indicated :

https://github.com/processing/processing/wiki/Library-Basics

it apparently never gets called.

I have noticed this before when I used an over-ride of the "Exit" method within the sketch itself. In Processing

[2016-04-02 17:09] jdf commented on #4381
Yes. Java-mode processing never calls dispose handlers.

--
Jonathan Feinberg  jdf@pobox.com  http://MrFeinberg.com/

[2016-04-02 17:15] jwoLondon opened #4382 "curveVertex() behaves differently in FX2D compared with other renderers"
In FX2D, a set of `curveVertex()` calls between `beginShape()` and `endShape()` result in a closed polygon when the line should be open.

Subsequent calls to a `curveVertex()` between a separate `beginShape()` -  `endShape()` pair are joined to the previous shape. There appears to be no 'pen up' between calls to `curveVertex()`.

Here's a minimal example:

[code]

(Tested on Processing 3.0.2, MacO

[2016-04-02 23:00] jsundram commented on #4376
@JakubValtar , here's code to repro: [jsundram/issue_4376.pyde](https://gist.github.com/jsundram/bc965876c3aba66c56217e3adba10b45)

You can see the results of the different renderers (4 is the blend mode for `SUBTRACT`, see PConstants.java#L260).

![issue_4376_4xprocessing awt pgraphicsjava2d](https://cloud.githubusercontent.com/assets/150536/14229484/e186efba-f8e9-11e5-8985-66b531079fab.png)

![i

[2016-04-02 23:10] nkolban commented on #4239
I installed 3.0.2 and there has been no change to the reported issue.  On my Windows 10 environment with an Nvidia graphics card and dual displays, it takes about 1 to 2 minutes for the "Primitives3D" example to open.

[2016-04-02 23:46] jsundram commented on #4376
@JakubValtar , I wrote [jsundram/render_all_blend_modes.pyde](https://gist.github.com/jsundram/c23575c00bc1b66270d903c055fd3af3) to run through all the blend modes for all of the renderers, and make 3 different graphics, so you can see where they differ. There are a bunch of differences between P2D/P3D and Java2D, although P2D and P3D appear to be the same everywhere (I didn't do any pixel diffing

[2016-04-03 02:06] JakubValtar commented on #4376
This is a duplicate of #4019, blendMode is basically reset between setup() and draw(). For now, set it in draw() each frame. It should be fixed in #4341, which is waiting to be merged.

[2016-04-03 02:06] #4376 closed

[2016-04-03 02:19] JakubValtar commented on #4376
And btw, thanks for making the comparison. You see differences because DIFFERENCE, HARD_LIGHT, SOFT_LIGHT, OVERLAY, DODGE, and BURN modes are supported only in the default renderer (you are supposed to get an error message when you try to set unsupported mode). I revised and optimised all modes last year and I'm fairly confident they do what they should.

[2016-04-04 00:59] leadedge commented on #4381
This is interesting and might give a clue for the Processing developers.

3.0.1, 3.0 and 2.2.1 do call the dispose method. I have checked by putting an infobox in the dispose function. But 3.0.2 does not. At least prior to 3.0.2 it half worked, so the question is what has changed. This could lead to finding a solution.

Also the long standing problem remains that dispose is only called by closing

[2016-04-04 01:20] codeanticode commented on #4381
@leadedge good lead, thanks. Actually, I did some tests and was wondering if that was actually the case.

The problem with dispose happens with all renderers or only with P2D/P3D? A few months back I committed [this change](https://github.com/processing/processing/commit/727c98a43ab990d16a70db3fcb17eeab30176fca), in order to fix https://github.com/processing/processing/issues/4156. I wonder if thi

[2016-04-04 06:49] leadedge commented on #4381
OK, it gets more interesting.

I set up a test sketch and registered a dispose method in the sketch as well as an exit over-ride, plus a dispose method in the library.

[code]

I tested with and without the library.

Processing 3.0.2
size(640, 360, P3D) (or P2D)
Close window with [X] - Exit IS called, Dispose is NOT
PDE stop button - nothing called

size(640, 360) or no Size statement at all
Close

[2016-04-04 08:56] leadedge commented on #4381
Update - with 3.0.2 if I do this  -

[code]
The sketch exit function is called and the dispose method in the library is called and then the registered dispose method in the sketch is called, but only once.

[2016-04-04 09:58] archgary opened #4385 "saveFrame could not work properly with P3D"
This problem has been bothering me for a while. I've been using saveFrame for exporting images in 3D (P3D) since Processing 2.X. But the results of saveFrame with P3D in Processing keep giving me weird results (background changing, line overlapping...etc), like the attached images.

Is it because I am running in Windows 10 in high resolution? sound stupid, but this is really bothering me for a whi

[2016-04-04 10:14] archgary commented on #4385
Find a solution with my Facebook friend, export in processing, Frederik Vanhoutte, pointed out it might be the problem with the graphic card.

In my case, I didn't have separated graphic card with my Lenova Yoga 900, so I just need to tweak setting of my intel graphic card.

There is a 3D option under my Intel HD Graphic Control Panel, and I just turn the "Conservative Morphological Anti-Aliasing"

[2016-04-04 10:21] archgary commented on #4385
People who helped me also writing their solutions and I decided to put it here for people who has other machines.

Basically, if you have 2 graphic cards, just force the better graphic card to run for java.exe.

1. Same problem on my Win10 portable. it has two video cards, an onboard Intel one and then a "real" NVidia. It is supposed to use the "right" card for each process. Processing seemed to u

[2016-04-04 10:34] JakubValtar commented on #4385
@archgary Do you please have a screenshot of the glitch?

[2016-04-04 10:38] archgary commented on #4385
@JakubValtar I've attached them within the question post. Thank you.

[2016-04-04 10:46] JakubValtar commented on #4385
@archgary Thanks! Hm, there are cubes and the code is just drawing a line. If you have screenshots of the line (or code of the cubes), it would help a lot, because I can't compare it now.

[2016-04-04 12:23] archgary commented on #4385
@JakubValtar Sorry about my stupid mistakes. Now it should be clear, I didn't use PeasyCam as a 3D camera because I would like to keep it simple to figure out the problem. Now it should be clear enough. Thanks again.

[2016-04-04 12:28] JakubValtar commented on #4385
@archgary No worries, thanks! :) This is something we can work with.

[2016-04-04 13:59] codeanticode commented on #4381
These tests are very informative, very much appreciated! I will see how the dispose/exit logic can be properly fixed, will keep you posted.

[2016-04-04 14:20] leadedge commented on #4381
OK, I hope this helps to sort it through.

Just now I realized that if I can detect the exit method in the sketch (3.0.2), I can create and call a cleanup function in the library. If exit is not called (3.0.1), the dispose method is caught OK, so I can still clean up. I have tested this idea and it works, so I have a solution is the user closes the window with [X].

A problem remains as before if

[2016-04-04 14:24] jdf commented on #4381
Yep, as I said in my comment 3 days ago, above, Processing's sketch runner exits without calling dispose handlers.

[2016-04-04 14:31] leadedge commented on #4381
Sorry I am slow to come to grips with this. Perhaps the question is whether something can be done before calling "vm.exit(0);". Maybe it is not possible at this point. It is something for the developers to know.

[2016-04-04 14:49] jdf commented on #4381
Oh, it's definitely a bug, and one that must be addressed by Processing's developers. I believe @codeanticode is looking into it now.

[2016-04-04 15:46] shivangg opened #4386 "How to send https request using Client in the Network library?"
`http` works fine with `Client()` but the `https` requests giving me a pain for the last few days.

[2016-04-04 21:20] MNAF opened #4391 "cast long to int failing for big numbers"
`  long a = 1662664642;
  int processingInt = int(a);
  int javaInt = new Long(a).intValue();
  println(a,processingInt, javaInt);`

gives this result:

`1662664642 1662664704 1662664642`

in Processing 3.0.2

[2016-04-05 02:17] codeanticode opened #4392 "Font corruption issue in OpenGL"
This was initially reported on Android: https://github.com/processing/processing-android/issues/199, but affects the OpenGL renderers in the Java mode as well. It does not manifest until a new texture holding the glyph images is created, which rarely happens on desktop since the texture sizes are much larger.

[2016-04-05 03:48] #4392 closed

[2016-04-05 23:26] JakubValtar commented on #4391
This is a bug, we are missing parsing functions which accept longs, so it gets converted to float and then parsed to int. Either we should remove the claim that we accept longs from [the reference](https://processing.org/reference/intconvert_.html), or implement long versions for all parseXXX functions.

@REAS @benfry?

[2016-04-06 00:20] REAS commented on #4391
It's seems easiest to remove the claim(s) from the Reference, but is that what we want to do?

[2016-04-06 12:34] JakubValtar commented on #4385
Any ideas @codeanticode? Driver problems, or are we doing something bad? (Apparently it works in 2 on the same machine.)

[2016-04-06 23:07] tewelltech commented on #3156
Just checking to see if any progress had been made on this issue.  I too am running into this with properly formatted .OBJ files... Thanks!

[2016-04-06 23:14] codeanticode commented on #3156
Thanks for bringing back to my attention will look into it.

[2016-04-07 01:43] codeanticode commented on #3156
I think this is not an bug, but a result of how the PShape object is constructed from the OBJ data: the the faces of the OBJ are stored inside a base group shape that does not contain any vertices. Try the following modified version of the built-in LoadDisplayOBJ example:

[code]

I'm getting the corresponding UV values printed to the console for each one of the child shapes.

[2016-04-07 02:09] Derpford opened #4394 "Missing text in UI elements, odd sizes"
So, I just installed Processing on Arch x64. I'm getting some minor weirdness with the menu bar.
![weird](https://cloud.githubusercontent.com/assets/10187719/14338324/c38b1c16-fc3b-11e5-9457-8ed23dce07fd.png)
Yeah. Weird.
Drop-down menu items are similarly blank and huge. This is kind of crippling.

WM is Notion. Again, running on Arch Linux x64. I'm using the standard repo's version of Processing

[2016-04-07 03:12] tewelltech commented on #3156
Thanks for the code example although I am still getting zeroes for u and
v.  Attached is a picture of the output and I have attached the .obj that I
am using.
The problem I am having is with the "stock" version of Processing
downloaded today - version 3.0.2
I am pulling a Git clone of the source and plan to build Processing from
source tomorrow and see what happens...

Thanks!

On Wed, Apr 6, 2016

[2016-04-07 08:32] Niels-NTG opened #4396 "Method that outputs contents of Table and TableRow objects into the console"
As someone who does many data driven projects I make a lot of use of the Processing `Table` object. But debugging a Table is always a very awkward exercice. Each time I have to write little helper methods like these:

[code]
… to get a sense of what's happening to my data.

It would be very nice if Processing Tables and TableRows had a build-in method that outputs the contents of these objects as

[2016-04-07 20:51] tewelltech commented on #3156
So - I got it working - but it took some digging.  BTW -_ I pulled the source and was able to build Processing and this allowed me to look into this with a lot more clarity._

The Processing .OBJ reader **requires** that you have a corresponding .MTL file that specifies the texture image.  Even though the texture coordinates might be in the .OBJ file (the "vt" entries) the obj parser / reader igno

[2016-04-08 03:43] alignedleft commented on #4394
Which version are you downloading from the website? Don't rely on building from the latest master branch; that may not be stable.

[2016-04-09 00:35] colinmorris opened #4397 "Multi-line comments ending in '**/' cause ArrayIndexOutOfBoundsException"
Small repro:

[code]

Pasting that into a sketch gives me exceptions galore when I try to move the cursor around or select a block of text. Same error message as #1940, but I figured I'd open a new issue since that one was closed, and looks like it probably was a different root cause.

[2016-04-09 08:55] weymouth opened #4398 "Problems editing files in the IDE (OSX)"
I copy/pasted a class and started editing the names. Very soon I was unable to select text or even move the cursor using the arrow keys. I believe this was from the automatic bug finding scripts going nuts.

This is processing version 3.0.2 on OSX 10.10.5

[2016-04-09 23:55] maxdee opened #4399 "Setting the alpha channel of a blue color returns grayscale color"
A fairly small and but weird bug. I use a method to set the alpha channel of a color, which works fine except when its `color(0,0,x)` and I set the alpha to 0, in which case it behaves like `color(x)`. With P2D the bug behaves differently with PShape. See the attached sketch.

[setAlpha_bug.zip](https://github.com/processing/processing/files/211541/setAlpha_bug.zip)

The method is basically:
`retu

[2016-04-10 01:35] RectangleWorld opened #4400 "[P3D] Strange behavior when saveFrame() called"
I'm drawing a point cloud with repeated calls to point(). For some reason, the look of the sketch changes when saveFrame() is called. The points get dimmer afterwards, and some of them even move to a slightly new position. Example code below (which uses PeasyCam) - try pressing a key to save the image when running the sketch. I'm on a Windows machine.

Before saveFrame() is called:
![before](https

[2016-04-11 13:49] Asendre opened #4401 "Alt + key commands non-functional in P3D mode?"
Hello, while developing an application in Processing I've ran across an issue regarding alt + key commands while using the P3D renderer. The problem is as follows:

Using this code:

void setup() {
  size(400,400);
}

void draw() {
  background(200);
}

void keyPressed() {
  println("pressed",key,keyCode,frameCount);
}

Code quoted from https://github.com/sojamo/controlp5/issues/61

When alt + key

[2016-04-11 17:36] GKFX commented on #4397
Thanks; I think I've fixed this now.

[2016-04-12 16:38] hawkw opened #4403 "IDE hangs on launch on OSX"
I'm using Mac OS X Yosemite version 10.11.3, and Processing 3.0.2. I first experienced this issue with Processing 3.0.1, but it persists upon updating.

When I open the Processing IDE, the window and menu bar are both completely unresponsive as soon as the IDE opens. Keyboard shortcuts are also unresponsive. After clicking on things for a short period of time, the app will display the spinning "be

[2016-04-12 16:40] hawkw commented on #4403
I have opened the Console, and it appears that launching Processing doesn't generate any log messages in the console.

[2016-04-13 03:40] dmcmillen commented on #44
I am looking for a first task. Any objects to me submitting a PR for a solution?

[2016-04-13 16:25] GKFX commented on #4386
Please use the forum or StackOverflow for technical support.

[2016-04-13 16:48] GKFX commented on #4375
Wasn't there a stack trace? It looks like a duplicate of https://github.com/processing/processing/issues/1940#issuecomment-201439573 but it's hard to  be sure without one.

[2016-04-13 18:12] GKFX commented on #4399
This is a known, probably never-to-be-fixed bug, described [here](https://github.com/processing/processing/wiki/Troubleshooting#color0-0-0-0-is-black). That page lists some workarounds; you can also override stroke with the code below, and similarly for fill.
[code]
 Sorry!

[2016-04-13 20:48] codeanticode opened #4404 "internal texture copy does not update immediately"
The Texture.copyTexture() method uses PGL.drawTexture() to copy a texture into another, however, the gl calls inside drawTexture() are not executed immediately, which might cause artifacts if the destination texture is subsequently modified in an are being copied over with the source texture (situation that takes place in font textures).

[2016-04-13 20:49] #4404 closed

[2016-04-14 10:34] brendanmatkin opened #4405 "cursor() and noCursor() not working on FX2D - OS X"
OS X 10.11.4, Processing 3.0.2

cursor(any argument including PImage) and noCursor() have no effect with FX2D. Work as expected with P2D/P3D (preset cursors) and default renderer (system cursors).

[2016-04-14 11:11] brendanmatkin commented on #4405
Looked into it to try to fix - looks like it's either just calling surface.setCursor() through inheritance (from PApplet I think?) or an empty override method in PSurfaceFX. JavaFX needs to be calling something like stage.scene.setCursor() (and with slightly different arguments). I'm not sure how to actually implement that fix, other than something like:

`Scene scene = stage.getScene();`
`scene.s

[2016-04-16 00:52] lbraginsky opened #4407 "loadPixels throws an exception when the window is resized"
This script starts and lets you resize the window but if you stretch it enough the script crashes with ArrayOutOfBoundsException: Coordinate out of bounds!.

    void setup() {
      surface.setResizable(true);
    }

    void draw() {
      loadPixels();
    }

[2016-04-16 11:20] gamecompiler commented on #3891
Same Problem under Windows 10 7 and 8 while having System-wide Proxy enabled.

[2016-04-16 21:10] SaiBhaskarDevatha opened #4408 "Processing is not opening the other GUI window when i'm Running the program......."
Whenever I am writing the code and pressing the Run button , no window is opening and even whenever i start the processing software it takes a lot of time to open and by the way my OS is Windows 10 !! Please help me in sorting that out !!

[2016-04-17 08:22] jwoLondon opened #4409 "numeric literals with underscores not handled consistently"
Processing 3 seems to be able to handle numeric literals with underscores with simple assignment:

[code]

But when combined with operators, Processing throws 'unexpected token: int' at runtime (but no red wavey line in the editor):
[code]

[2016-04-17 14:53] jarkman commented on #4331
I'm seeing exactly the same problem, Processing 3.0.2 on Pi. I'd love to hear of any possible fix or workaround.

[2016-04-18 10:08] OhSerk opened #4413 "How to compile processing-core.jar"
How can I make `processing-core.jar` by myself?

Thanks.

[2016-04-18 12:54] JakubValtar commented on #4409
Hi, thanks for your report. The preprocessor does not support all of Java 7 features, but error checker has full Java 7 support. This is something I'm working on right now. There is already similar issue (#3054), so I'm closing this as a duplicate.

[2016-04-18 12:54] #4409 closed

[2016-04-18 13:11] JakubValtar commented on #4413
Try build instructions: https://github.com/processing/processing/wiki/Build-Instructions

[2016-04-18 13:11] #4413 closed

[2016-04-18 13:50] JakubValtar commented on #4322
Fixed in #4325

[2016-04-18 13:50] #4322 closed

[2016-04-18 16:10] #3975 closed

[2016-04-18 16:11] #4405 closed

[2016-04-18 16:34] adc416 commented on #4104
Just chiming in to say I'm seeing the exact same issue — fatal error with P2D and P3D on my Mac laptop with an Intel HD 3000, OS X 10.11.3, Processing 3.0.2:

[code]

Strangely, I don't get this error when I Present in P2D or P3D instead of Run, however, the actual output  in Present mode does not match what I get with the default renderer (I'm using PShape, and I'm getting all sorts of duplicate

[2016-04-18 17:05] JakubValtar commented on #4198
Fixed in #4411

[2016-04-18 17:05] #4198 closed

[2016-04-18 17:05] JakubValtar commented on #44
@dmcmillen Hi, I'm currently doing large error checker overhaul, so I would suggest waiting with this after I'm finished, otherwise I won't be able to merge it.

[2016-04-18 17:52] lucid-kyle commented on #3156
Rick - You're my hero.

I ran into this a couple months back and had gone so far as to start writing my own loader. I totally see how someone who only uses OBJs in conjunction with an MTL file would see this as a logical way to approach the problem, but I'm right there with you in terms of having OBJs on their own.

Let me know how the process goes with changing the loader, and in a couple weeks I

[2016-04-18 18:54] sldx commented on #3975
U da man Jakeub

[2016-04-18 21:37] #4386 closed

[2016-04-18 21:41] benfry commented on #4408
Please use forum.processing.org to get support with questions like this.

[2016-04-18 21:41] #4408 closed

[2016-04-18 21:44] benfry commented on #4391
No, we should fix it.

[2016-04-18 21:47] benfry commented on #4019
Fixed for 3.0.3 https://github.com/processing/processing/pull/4341

[2016-04-18 21:47] #4019 closed

[2016-04-18 23:48] dmcmillen commented on #44
@JakubValtar sounds good! I have a PR somewhat ready, but I will wait for your overhaul. When will it be ready?

[2016-04-19 07:43] JakubValtar commented on #44
@dmcmillen I hope it'll be done by next week, but you will probably need to adapt your code. I'll let you know and I can help you with the PR afterwards.

[2016-04-19 08:30] LFBFerreira opened #4414 "Sketch output window size won't change"
I downloaded some of the most popular sketches from Openprocessing and 90% of them present the same problem when running. Independently of the size(...) i specify in the Setup phase, the output window is always about 100x100 px.

I was using Processing 3.0.2 and cannot solve this problem. Then i tried Processing 2.2.1 on the same machine and everything works as expected.

This is stopping me from

[2016-04-19 12:35] valerio-bozzolan opened #4415 "OpenJDK support"
(First of all, thanks to this awesome community!)

Trust me, I know that OpenJDK has strange behaviors, but think about avoiding Oracle's JRE for future versions of Processing.

Installing third-party software (or worse non-free as in freedom software) it's something normal for Microsoft Windows and OS X users, but this is a nasty thing for GNU/Linux distributions built over complex dependencies s

[2016-04-19 13:59] jarkman commented on #4331
I have a workaround for my use case, using processing-java to make the processing IDE load and run a sketch, as described here:
http://www.dsfcode.com/using-processing-via-the-command-line/

[2016-04-19 16:07] GKFX commented on #4266
@benfry I do use Debian as my main OS, and I'd be happy to be the maintainer for it. Can I restart the Debian intent-to-package linked by crazymaster?

[2016-04-19 16:20] DigitalPublishingToolkit commented on #4415
I'd also be interested in OpenJDK support on Linux. I'd be volunteering to help triage any Linux bugs that might be caused by using OpenJDK - but as far as I understand, the difference between Oracle's Java and OpenJDK isn't that substantial (anymore).

[2016-04-19 16:21] gohai commented on #4415
I'd also be interested in OpenJDK support on Linux. I'd be volunteering to help triage any Linux bugs that might be caused by using OpenJDK - but as far as I understand, the difference between Oracle's Java and OpenJDK isn't that substantial (anymore).

[2016-04-20 01:54] joepekoe commented on #4331
Interesting, there is not option to install processing-java in my IDE under any of the menus.  What version IDE are you using.  Also, are you developing on the PI, windows, or something else?  Can you develop on windows, export to arm, copy to the PI and execute that code with processing-java?

[2016-04-20 06:34] monkstone commented on #4415
Just a comment really but JRubyArt (a port of processing-3.0.2) to ruby works absolutely fine with openjdk (including javafx since 1.8.0_77). There may still be advantages to Oracle java however  the javafx bug ahead of openjdk for example.

[2016-04-20 07:21] jarkman commented on #4331
Sorry, I left out most of the useful details there... :-)
I didn't have to install processing-java, it seems to come with Processing.
I'm using Processing 3.0.2.
I'm developing on the Pi.
processing-java doesn't use the exported app, it fires up the IDE with your chosen sketch, then compiles and (if you use the --run flag) runs it
I'm just doing
$ processing-java --sketch=FootFallField --run
I'm n

[2016-04-20 09:16] valerio-bozzolan commented on #4266
I see that this is related to #4415.

[2016-04-20 13:34] Futuremanzero opened #4417 "Processing 3.0.2 Error"
Hello, I just got this error when trying to open 3.0.2 for the first time. Windows 10 64-bit.

![error](https://cloud.githubusercontent.com/assets/9246490/14676329/016f60b0-06db-11e6-9781-f06f7b9b0d17.jpg)

[2016-04-20 13:43] Futuremanzero commented on #4417
It might have been an issue with the install. Deleted and downloaded again and it's fine now.

[2016-04-20 13:53] Futuremanzero commented on #4417
I think I figured out what's happening. If the folder for processing 3.0.2 is on my desktop it will open and work but if I move it (or extract a new copy) into the folder where I organize previous versions of processing then I get this error. For now I'll run it off my desktop, but if anyone knows a solution so that I can move it and it will still work I would greatly appreciate it.

[2016-04-20 18:39] sgddfcgvjbk opened #4418 "rect & ellipse"
guys, can you please add these two methods to the core-library??
public void rect(float a, float b, float c)
  {
 rect(a, b, c, c);
}

and

  public void ellipse(float a, float b, float c)
  {
Ellipse(a, b, c, c);
}

this is so annoying everytime i just want a square or circle....
thanks

[2016-04-20 21:44] lteixeira0 opened #4419 "Error in Examples -> Network -> SharedCanvasServer and Client (Mac OS X)"
I am trying to run the code of the SharedCanvasServer in Mac OS X and I am getting the error
ArrayIndexOutOfBoundsException

I have the 2.07 version but after download the most recent version I am still getting the same error.
I have tried in Windows 8.1 and the example is running without problems.
Thanks

[2016-04-21 04:23] steve2718 opened #4420 "Scaling the Processing Editor window for HiDPI displays"
One of Windows 8/8.1 Achilles' heels is (in)appropriately scaling windows on high resolution displays. The Arduino IDE has a preference called "Interface scale", but I can't seem to find a way to scale the editor in Processing.

![processing_editor_scaling](https://cloud.githubusercontent.com/assets/18587573/14697940/db508bd0-073d-11e6-9216-bc75a721fb7d.JPG)

[2016-04-21 09:45] neilcsmith-net commented on #4415
+1 to this. Differences between OpenJDK and Oracle Java are minimal, and Oracle's Java build is based on the OpenJDK source - they develop in the OpenJDK tree.  OpenJDK is also the Java reference build, so _theoretically_ if there's a difference in behaviour it's a bug in Oracle's version :smile:

I'd love to see Processing fully open (as distributed).  There are also certified OpenJDK builds for

[2016-04-21 16:51] GKFX commented on #4181
Just to say I'm working on this.

[2016-04-21 16:54] steve2718 commented on #4420
I tried to see if there might be undocumented properties in "preferences.txt", such as editor.scaling=xxx, editor.scale=xxx, etc. But that didn't work.
Here are some images of the Aduino IDE. The scaling property in preferences is really handy.
![arduinoide_w_scaling](https://cloud.githubusercontent.com/assets/18587573/14717511/cb05adbe-07a6-11e6-83e3-70ea98d2ef73.JPG)
![arduino_prefs_scaling](htt

[2016-04-22 05:01] REAS commented on #4418
I appreciate the suggestion and the time taken to propose it. It's something that has been discussed in the past and we feel good about the current implementation. This is something that you can add to your own programs, but it's not something that we will modify with the core library.

[2016-04-22 05:01] #4418 closed

[2016-04-22 07:01] drp0 opened #4421 "PApplet.frame.setLocation(x,y) does not print deprecation warning in 3.0"
The setLocation code works in Processing 2.2.1.
It is ignored in Processing 3.x.x

[code]

[2016-04-22 09:38] drp0 opened #4422 "Example Advanced-Data, XMLYahoo Weather defunct"
Following a change in the Yahoo API weather servers, the weather example no longer works.
I have adapted the example code, so that it will work.
Note that the required location codes have altered.
The woeid ("zip") addresses can be found at:
[http://woeid.rosselliot.co.nz/](url)

Beware - Yahoo unit conversion has several problems- see
[https://developer.yahoo.com/forums/#/discussion/7968/weather-

[2016-04-22 14:16] JakubValtar commented on #4421
In 3.0 you should use `surface.setLocation(20, 20);` which works.

We have a dummy frame which printes warnings to the console when used, but it looks like setLocation can't be overridden:
[code]

[2016-04-22 14:22] JakubValtar commented on #4417
Hi, thanks for the report.

Could you please post full file paths where it worked and where it didn't work?

[2016-04-22 14:25] JakubValtar commented on #4414
Hi @LFBFerreira, thanks for the report.

Could you please post some example code which doesn't work?

[2016-04-22 15:08] drp0 commented on #4421
surface.setLocation(x,y) works-
However, the window initially opens (momentarily) in the centre of the screen and jumps to the x-y coordinates.
(Using processing 3.0.2, windows 7 or windows XP and latest java)

`boolean flag;

void setup() {
flag = false;
size(100, 400);
fill(#FFFF00);
stroke(#FFFF00);
background(#4040FF);
}

void draw() {
  if (!flag) {
    println("Setting position");
    surfac

[2016-04-22 19:38] benfry commented on #4417
That sounds like you're moving just Processing.exe to another location, not the entire folder. Is that the case? You have to keep the entire Processing folder intact, otherwise you'll see errors like this, which is happening because it cannot find its support files.

[2016-04-22 20:02] benfry commented on #4421
Cannot be fixed, and it's never been part of the documented API at processing.org/reference.

[2016-04-22 20:02] #4421 closed

[2016-04-22 20:20] benfry commented on #4398
There's nothing here that we can even begin to debug... If you have an example for how we can reproduce this, please file a bug that includes the details.

[2016-04-22 20:20] #4398 closed

[2016-04-22 20:27] benfry commented on #2411
Yes, this is a known issue, no need to repeat. Nobody has submitted a fix, and it will continue to be a problem until this bug is closed.

[2016-04-23 06:42] drp0 commented on #4421
Is surface.setLocation() a documented API and if so where?
This all begs the question, what is the correct/official method to set the initial frame position of a compiled executable? Preferably one that causes the window to appear directly at the specified coordinates, without first centering a default window.
David

[2016-04-23 14:40] steve2718 commented on #4183
I found the same issue and reported it in #4420, before I found this thread. Like grg2rsr, I have a high-density display. The issue is not just with Linux; it's also present in Windows (at least in 8.1). It might be more properly called a hi-dpi display issue. "...upstream patch"? Where did the Arduino folks add their "Interface scaling" property (<-which works like a charm)? Wouldn't that code be

[2016-04-23 21:36] thenderson opened #4423 "Wiki Troubleshooting Video Issues - page doesn't exist"
#The wiki page for troubleshooting (https://github.com/processing/processing/wiki/Troubleshooting), under the heading 'Problems with Video,' has a link to this  #page:

https://github.com/processing/processing/wiki/Video%20Issues

There's no such page.

[2016-04-24 04:08] laxdudeee opened #4424 "Error upon processing-3.0.2-windows64 install"
Hi,
I am receiving the following error message after installing the latest Processing version. Before I unpacked it I deleted a previous Processing version that I had installed.

http://imgur.com/flc1rQg

Thanks for any help.
Best,
Eric D

[2016-04-24 20:03] Futuremanzero commented on #4417
Hi all, the original path was:
C:\Users\Owner\Desktop

The problem appeared when I moved the processing-3.0.2 folder and its contents to a folder on the desktop where I've been keeping the folders with prior versions of processing to keep them organized. I tested 2.0 and 3.0b6 and both of those versions seem to work fine after moving them.

I played around with it a bit and I renamed that folder f

[2016-04-24 21:25] rkentmc opened #4425 "setIndex( ) not defined"
I am working a project that you have written support code for. I need a solution for the remapping code. I am new to programming and really don't understand how the setIndex( ) function in the GUI_EZ_Key_Remapper on the Processing IDE is supposed to work. It is giving me an error saying that it is not created. What do I need to do to create it. What is the function's purpose? I am trying to make a

[2016-04-24 23:18] JakubValtar commented on #4417
Thanks @Futuremanzero, there was a bug and paths with '+' characters were handled incorrectly. It's fixed in my PR and should be merged soon.

[2016-04-24 23:28] JakubValtar commented on #4425
Hi @rkentmc, this is a problem with your code and sadly we can't help you here.

Quick google search revealed this:

https://learn.adafruit.com/introducing-bluefruit-ez-key-diy-bluetooth-hid-keyboard/remapping-the-buttons-wireless

For any programming questions, please ask at https://forum.processing.org

[2016-04-24 23:28] #4425 closed

[2016-04-24 23:32] JakubValtar commented on #4424
Hi @laxdudeee, can you please post a full path of the folder where you have processing?

Looks like a duplicate of #4417, should be fixed by #4426.

[2016-04-25 07:47] LFBFerreira commented on #4414
I downloaded some sketches from the [best sketches in openprocessing.org](http://www.openprocessing.org/browse/?viewBy=most&filter=favorited)
[Plasma](http://www.openprocessing.org/sketch/7035) and the [output i get](https://dl.dropboxusercontent.com/u/3885768/imgs/plasma.PNG)
[doodle 3](http://www.openprocessing.org/sketch/6742) and the [output i get](https://dl.dropboxusercontent.com/u/3885768/i

[2016-04-25 08:00] JakubValtar commented on #4414
Thanks! This looks like a problem with parsing size() function. I'll try to reproduce it.

[2016-04-25 08:22] LFBFerreira commented on #4414
Alright, thanks for the quick reply, and good luck :)

[2016-04-25 08:37] StanLepunK commented on #4414
When you remove the folder code in the sketch folder after that's work.
For the other one there is problem with processing.xml you must comment the line
````// import processing.xm````
that's work at the first frame, may be there is something must be change in the code.

[2016-04-25 09:47] JakubValtar commented on #4414
@LFBFerreira Just delete/rename the code folder and delete the plasma4.jar file. They are not part of the sketch and processing is trying to use them as part of the sketch. Other change to make this sketch work is to add `updatePixels()` at the end of `draw()` so that the changes to pixels get written back. This is a problem of OpenProcessing, their downloads have bad structure.

@benfry Do we wan

[2016-04-25 13:33] siusoon opened #4427 "Carnivore for ARM"
I have been using Carnivore library in Mac with Processing, but recently I want to port to Pi. It doesn't really work as it says "A library relies on native code that's not available Or only works properly when the sketch is run as a 64-bit application". Obviously, the library is related to network architecture, that's might be the reason why it doesn't work in Pi processing ARM ver.

[2016-04-25 14:46] lwlt commented on #4239
I've seen this behaviour using the Processing IDE with the bundled JDK and also running as a standalone Java app with JDK 1.8.0u91 to make it easier to get to the debugger. The Java source I've been using is:

[code]

There is a burst of CPU activity when the JVM starts, enters the main method, then the CPU idles while the sketch waits for 30-90 seconds not apparently doing anything. Due to the la

[2016-04-25 16:09] laxdudeee commented on #4424
I am away from that computer but I will say that I simply turned it Off/On and the error went away. It must have had some residual from the previous version that was hanging on.

[2016-04-25 16:09] #4424 closed

[2016-04-25 17:48] StanLepunK opened #4428 "Test Render"
Maybe that's can be helpful to add method to test the renderer mode ?

[code]

[2016-04-26 03:29] ANKITSHA opened #4429 "Communication over SPI on Raspberry-Pi"
I am trying to send and receive data over SPI using processing. Although i am able to transmite data using command adc.transfer() but  i am not able to receive data. Also proper documentation related to receive part is not available. If any one has idea about it or has worked on it please help.

[2016-04-26 04:11] nodje opened #4430 "Upgrade from v2 to v3 reduces framerate from 9 to 4"
I guess it's a performance issue linked to 3.0. Maybe the display is smoother, but by just upgrading the environment to 3.0 the same code framerate has dropped from 9 to 4 frame/s.
My code just displays images (1024x666) at a asked frame/rate of 10frame/sec in fullscreen mode at a resolution of 1920x1200.
I'm using a 5 years old top of the line MacbookPro.

I don't see anyway in API to simplify or

[2016-04-26 06:25] nodje commented on #4430
I got good resulta by changing the renderer in the `size()` call.

     size(1024, 666, JAVA2D);//default, VERY slow ~4f/s
     size(1024, 666, P2D);//FAST, >11 <12 f/s for 10 demanded
     size(1024, 666, FX2D);//SUPER FAST, to the point it takes a long time for the frame rate to slow down from a few 100's to the demanded 10f/s

Adding the `noSmooth()` option, I get a solid 10f/s framerate with d

[2016-04-26 06:25] #4430 closed

[2016-04-26 16:01] gohai commented on #4429
Hi Ankitsha,

SPI is synchronous - so whenever you (the "master") sends a byte, you're at the same time also receiving a byte from the device you're talking to. The return value of the transfer() method is an array of bytes that got read in. Does this make sense to you?

If you're trying to communicate between two Raspberry Pis using SPI: this won't work, since both can only place the "master" rol

[2016-04-26 16:04] gohai commented on #4427
Hi Winnie! Since the Carnivore library makes use of native code, it would need to be modified to support other architecture, such as ARM. @RSG If I send you a libjpcap.so compiled on 32-bit ARM (armv6hf) - could you add support?

[2016-04-26 16:42] RSG commented on #4427
Carnivore is only supported on a small number of platforms, given the complications w/ compiling multiple native libraries. However if @gohai wanted to handle the library, i'd be happy to try to recompile a version of Carnivore that talks to it. no guarantees -- and i unfortunately don't have a Pi board at my fingertips to test -- but maybe we can make it work :)

[2016-04-26 16:55] gohai commented on #4427
@RSG I'd be happy to help - could also expose a vanilla Pi to the net and send you ssh access...

For compiling jpcap: I just tried compiling the most recent version from https://github.com/jpcap/jpcap, but running e.g. "ant all" (with libpcap & libpcap-dev installed), threw some errors in the Java part. Any suggestions? Is it possible that this doesn't work with Java 8?

[2016-04-26 17:09] RSG commented on #4427
[this file](https://github.com/RSG/Carnivore/blob/master/build/docs/README-Linux.txt) documents some of the fixes necessary to get jpcap to compile -- although your mileage may vary. and note: carnivore was made to use the sourceforge version of jpcap. i'm not sure if/how the github version is different or not. (i remember several years ago there actually used to be at least two completely differe

[2016-04-26 21:42] gohai commented on #4427
@RSG Thanks for the very helpful instructions! Uploaded the file here: http://sukzessiv.net/~gohai/p5-arm/processing-carnivore-native.zip

I haven't looked at the Carnivore source too closely, but I learned that one can also use simply System.loadLibrary(), and have Processing take care of setting the java.library.path to point per-architecture sub-folders inside the `library` folder. (E.g. [this]

[2016-04-26 23:24] RSG commented on #4427
@gohai cool thanks. try putting [these two files](http://R-S-G.ORG/carnivore/download/ArchiveTest26Apr16.zip) inside Processing/libraries/carnivore/library folder and let me know if it works. it would take a miracle ;) if not, then i might accept your ssh offer and figure out some way to test it remotely.

[2016-04-26 23:54] gohai commented on #4427
@RSG Thanks! I believe it worked, got this output from the first example sketch

[code]

@siusoon I uploaded a zip of the library for you to test to: http://sukzessiv.net/~gohai/p5-arm/processing-carnivore.zip
@RSG Will take it down whenever you get around to pushing a new release! Cheers again!

[2016-04-27 00:26] RSG commented on #4427
@siusoon @gohai great! yes if you're getting those lines that say TCP packet then it's working. that's what i call teamwork. i just pushed a new version (Carnivore 8). makes me want to pay around with Pi!

[2016-04-27 00:35] gohai commented on #4427
Record time, too!

@siusoon I took my preliminary zip file down - you can get the latest release, with support for the Pi and friends, through the Library manager or from http://r-s-g.org/carnivore/download/carnivore_p5lib.zip

[2016-04-27 00:35] #4427 closed

[2016-04-27 07:47] siusoon commented on #4427
@gohai @RSG Thanks both for your helpful support and quick responses. I am going to try it now, can't wait!!
Million thanks!!

[2016-04-27 11:50] Shorttail opened #4431 "Files get cleaned"
Processing Java for Windows 8.1, version 3.0b3.

A student of mine had his files end up empty a few times. The most recent had .pde files containing only spaces. It happened on opening the project in Processing, which has been just fine the day before. Is this a known issue?

Is there anything else we should supply?

[2016-04-27 21:19] clankill3r opened #4433 "setVertex issue with svg"
svg to test:
[a-01.svg.zip](https://github.com/processing/processing/files/239387/a-01.svg.zip)

First, it would be great if this just works:

[code]

But since processing has also the type PRIMITIVE, working with PShape's is a pain in the ass.
Both in using processing and developing libraries that work with the PShape.

To give more issues:

`s.getParams();`

throws a NullPointerException. It wou

[2016-04-28 00:47] ianlohjy opened #4434 "Resize cursor does not display with P3D/P2D in Windows"
[Link to Processing forum discussion](https://forum.processing.org/two/discussion/comment/66769#Comment_66769)

In Windows, when P3D/P2D is enabled the cursor no longer changes to the resize arrow icon when it is over the window border. Issue does not appear when using the default renderer, or on OSX as far as I can tell.

This is an issue in particular when surface.setResizable() is set to 'true'

[2016-04-28 17:31] gohai commented on #4431
3.0b3 is an old beta (as in "testing") version. I'd start with updating to a recent release, such as 3.0.2, which also got much better testing from actual users, compared to the test version.

[2016-04-28 17:32] gohai commented on #4429
Closing. Feel free to re-open if needed.

[2016-04-28 17:32] #4429 closed

[2016-04-28 20:28] StanLepunK commented on #4433
I work around the SVG, so maybe you can be interresting by my code : that's talk about the layer name, the different type of shape... https://github.com/StanLepunK/SVG_Vertex-Processing

[2016-04-28 23:01] algoint opened #4435 "Handbook_Examples_20150105.zip contains wrong code for sketch 28-17"
The file https://processing.org/handbook/Handbook_Examples_20150105.zip
contains wrong code in sketch 28-17 (the code is identical with 28-18).
Correct code for 28-17 from page 422 (1st printing), reads:

[code]

[2016-04-30 20:24] itzikt commented on #4417
Hi all !
problem not solved ! - I download today 'processing-3.0.2-windows64' - and the same problem that was describe by 'Futuremanzero' in the top of this issue occurs !  (in my case - I installed under folder named DCC++)

Meanwhile , I found a bypass
 To solved the problem - Just validate that the extract of zip file will be done in a folder that** his full path name will not include the sign

[2016-04-30 20:43] JakubValtar commented on #4417
Hi @itzikt,

1) my pull request it not merged yet
2) it will be fixed in next release (3.0.3 or 3.1)

[2016-05-01 06:13] itzikt commented on #4417
Than's
no problem, meanwhile can use the bypass

On Sat, Apr 30, 2016 at 11:43 PM, Jakub Valtar <notifications@github.com>
wrote:

[2016-05-01 12:43] #4417 closed

[2016-05-02 06:21] Splitter4 opened #4436 "Resizing sketch window produces crash in loadPixels()"
The crash in question happens in version 3.0.2 and is shown in the console as

Here's the code:

[code]

Then, with the sketch running, try resizing its window to make it larger.

This issue does not happen in an earlier version like 2.2.1 using `frame.setResizable(true)` instead of `surface.setResizable(true)`.

P.S.: I didn't know if this was worthy of another issue, but a crash also happens if

[2016-05-02 09:59] HeinPauwelyn opened #4437 "How are pde files compiled?"
I've a little but searching how processing _(version 2.2.1)_ compiles. I've looked into the `build-tmp/source` directory and I've found a file named `project.java`. This is the same file name (without extention) that I use for the pde file named `project.pde`.

I've open the java file and read the code. Around the methodes `draw` and `setup` is a class added named `project` that extends from `PApp

[2016-05-02 13:20] Shorttail commented on #4431
Thanks anyway. Closing.

[2016-05-02 13:20] #4431 closed

[2016-05-02 14:42] harshitvishwakarma opened #4438 "Processing not starting up."
<img width="653" alt="screen shot 2016-05-02 at 8 11 50 pm" src="https://cloud.githubusercontent.com/assets/19151763/14957284/24d278a0-10a2-11e6-8ac4-06526ac1199c.png">

[2016-05-05 23:01] dwansmith opened #4439 "keyPressed event does not fire until after mouse is pressed in 3.0.2"
The example on https://processing.org/examples/keyboard.html works differently in 1.5.1 versus 3.02.

1.5.1:  keyPressed() triggered immediately with keys pressed
3.0.2:  keyPressed() not triggered until after a mouse click

Notes:
  The keyPressed boolean system variable does not change either in 3.0.2 until after a mouse click
  Tested with asdf keys and left mouse click
  I did not test with an

[2016-05-06 22:10] JakubValtar commented on #4439
Hi @dwansmith, thanks for your report, I can reproduce it.

Looks like some problem with focus. The window decoration looks focused, I can move window around by holding it by title bar, I can Alt+Tab to different windows, but the keypresses don't work until I click inside the window once.

[2016-05-06 23:56] #3988 closed

[2016-05-06 23:56] #4368 closed

[2016-05-07 06:50] codeanticode opened #4441 "Make with/height/renderer public in SurfaceInfo"
@JakubValtar  @benfry  These fields in the class SurfaceInfo are currently [not visible](https://github.com/processing/processing/blob/master/java/src/processing/mode/java/preproc/SurfaceInfo.java#L34), but it would be very useful if they were (or the class had the corresponding getters) because this information might be needed in derived modes, for example if some build operation depends on the r

[2016-05-07 10:47] grvashu commented on #4400
Hi, I tried to experiment a bit with your code.The frames does not differ while using noSmooth().
However without it, the above behaviour is observed even with other formats .tif, .tga and .png. But this behaviour happens only once (first time) after running the code. I think it has something do with the screen antialiasing.

[2016-05-07 14:21] AntonioFroger opened #4444 "Interface glitches on Windows when changing Mode"
I just don't know why , it happens at every moment . anybody could tell me how to solve this ?
Now i am using the **V3.0.2 on Windows 10 X64**

Please help me !

![image](https://cloud.githubusercontent.com/assets/19239873/15092607/34836fc2-14a1-11e6-9e57-01b6b81eb648.png)

[2016-05-07 22:20] benfry commented on #4437
Please use forum.processing.org for questions.

[2016-05-07 22:20] #4437 closed

[2016-05-07 22:20] benfry commented on #4438
Already fixed for the next release (3.1) https://github.com/processing/processing/pull/4426

[2016-05-07 22:20] #4438 closed

[2016-05-08 04:35] JakubValtar commented on #4190
Fixed in #4440

[2016-05-08 04:35] #4190 closed

[2016-05-08 07:31] LujunWeng commented on #4239
Same problem. It takes a long time to start processing 3.

[2016-05-08 08:16] hamoid commented on #4381
Is there currently a workaround that can be implemented in a library to detect closing of the sketch?

I created the Video Export library, but it's apparently failing on Windows, if people close the sketch window or press ESC. It works fine when people use the stop button on the IDE. In Linux it seems to work always.

My library needs to be called when shutting down, otherwise the movie file that

[2016-05-08 10:44] jdf commented on #4381
You might try a ShutdownHook.

[2016-05-08 13:04] hamoid commented on #4381
@jdf Thanks for the tip. I tried ShutdownHook, and it made me realize that pressing stop on the IDE was actually not calling dispose(),  but for some reason produced videos still worked on my system (maybe on a quad core with SSD it manages to save the data on time, or maybe my video player plays incomplete videos fine).

Unfortunately ShutdownHook does not catch pressing stop on the IDE.

[2016-05-08 13:18] jdf commented on #4381
Yes, ultimately, the processing developers have to fix the lifecycle bug.

[2016-05-08 16:42] jdf opened #4445 "dispose handlers not called when stop button pressed"
In the following sketch, the dispose handler is called when the escape key is pressed, but not when the stop button is pressed.

dispose_bug
[code]

SampleLibrary.java
[code]

[2016-05-08 16:54] benfry commented on #4428
This is something that's possible by users, and unlikely to be used by the vast majority of them (because *they* set the renderer, why query it?), so not something we'll include in the API.

[2016-05-08 16:54] #4428 closed

[2016-05-08 16:58] benfry commented on #4420
Duplicate of https://github.com/processing/processing/issues/2411

The Arduino folks have made no effort to help us implement this, and nobody's taken the time to fix it themselves, so it's not fixed in Processing.

[2016-05-08 16:58] #4420 closed

[2016-05-08 17:01] benfry commented on #4435
Moved to https://github.com/processing/processing-docs/issues/426

[2016-05-08 17:01] #4435 closed

[2016-05-08 17:04] benfry commented on #4367
Closing; forum.processing.org is a better place for this discussion.

[2016-05-08 17:04] #4367 closed

[2016-05-08 17:06] benfry commented on #4285
Closing; no follow-up.

[2016-05-08 17:06] #4285 closed

[2016-05-08 17:07] benfry commented on #4349
@gohai Can you confirm or close?

[2016-05-08 17:10] gohai commented on #4349
@benfry Confirmed. The distribution used for the current image doesn't support the Pi 3. I'll spin a new one after the new Processing release.

[2016-05-08 17:11] benfry commented on #3926
Yes, or better, that it'd be added to the file automatically when @prisonerjohn is building the file. But that's be his call about his process for how the file is built.

[2016-05-08 17:16] benfry commented on #4414
Where the hell are people finding stuff that has core from Processing 1.0.9 embedded in the `code` folder? Not only is that a total nonsense practice, but 1.0.9 is seven years old (October 2009).

[2016-05-08 17:17] benfry commented on #4423
Moved to https://github.com/processing/processing-docs/issues/427

[2016-05-08 17:17] #4423 closed

[2016-05-08 17:18] JakubValtar commented on #4414
OpenProcessing.

http://www.openprocessing.org/sketch/7035, click on "download" link in the center of the screen

[2016-05-08 17:23] benfry commented on #4266
@GKFX By all means.

[2016-05-08 17:26] benfry commented on #4414
Yes, core is included in the exported jar files, but how is that jar file winding up in the code folder of another sketch?

Is this an openprocessing problem?

[2016-05-08 17:28] benfry commented on #4302
Zero effort has been made to even make the editor compatible with insert mode, but contributions welcome.

[2016-05-08 17:29] benfry commented on #4262
Definitely a serious problem if we could just find a way to reproduce it.

[2016-05-08 17:33] JakubValtar commented on #4414
The OpenProcessing downloads are structued like this:
- downloadedFolder
  - code
    - sketch.jar (exported sketch)
  - sketch.pde
  - sketch.java (exported java code)

When you open sketch by clicking on sketch.pde, java file gets loaded as a second tab and jar from code folder is added to classpath. Not sure how many downloads have this structure, but it looks like all exported from similar ver

[2016-05-08 17:36] gohai commented on #4331
@joepekoe @jarkman

I am having troubles reproducing the issue here with 3.0.2. The following steps work for me - can tell me what you're doing different, so that I can look into it? Thanks!

- Downloaded and installed http://download.processing.org/processing-3.0.2-linux-armv6hf.tgz
- Connected Arduino to Pi via USB
- Launched Processing IDE
- Opened SimpleWrite example from Serial library
- Chan

[2016-05-08 17:44] joelmoniz commented on #4302
Ah, I wasn't aware of that. Except for undo, though, insert mode seemed to work perfectly (although I don't think I tested all of its aspects, copy-paste being one of the first among these that come to mind, although I am not sure how pasting would work in this context, however). I think [PR #4310](https://github.com/processing/processing/pull/4310) helped fix this particular issue though (althoug

[2016-05-08 17:48] JakubValtar commented on #4287
Fixed in #4440

[2016-05-08 17:48] #4287 closed

[2016-05-08 18:01] benfry commented on #1633
@satoshiokita Thanks for tracking down the fix. Mac OS X (and Linux?) had the opposite problem, so the code was changed during the 2.0 release cycle to write UTF-8. We'll add this code so that it works properly (the old way) on Windows.

Fix incorporated for 3.1.

[2016-05-08 18:01] #1633 closed

[2016-05-08 18:06] #4281 closed

[2016-05-08 18:10] benfry commented on #4414
Ok, so it's an openprocessing problem. That's a nonsensical way to re-package a sketch.

Only issue for us is https://github.com/processing/processing/issues/95

[2016-05-08 18:10] #4414 closed

[2016-05-08 18:17] benfry commented on #4375
Maybe a Python Mode bug? Without a longer stack trace there's nothing we can do to begin looking into this.

[2016-05-08 18:17] #4375 closed

[2016-05-08 18:18] benfry commented on #1940
@fiawn That's not the same error or error message. Please file a new bug if you're seeing something like that.

[2016-05-08 18:31] benfry commented on #4396
Good idea, added for 3.1. You can use `print()` to print a `Table` or `TableRow`, or use `write(PrintWriter)` for more flexible use. They weren't included before since there isn't a natural "representation" of a table to be used. Both write out tab-delimited entries (though maybe `print()` should use a different representation that includes the column indices...)

Also remember `saveTable()` which

[2016-05-08 18:31] #4396 closed

[2016-05-08 18:34] benfry commented on #4318
Thanks for the fix. Now merged for 3.1.

[2016-05-08 18:34] #4318 closed

[2016-05-08 18:36] benfry commented on #3851
Hadn't thought of those other ones, but I agree: it'd be good to catch `new double()` and others like it.

[2016-05-08 18:38] benfry commented on #4332
They're not included since we don't use `long` or `double` anywhere in the core API. They're included in the `processing.data` classes for people who 1) know what they are, and 2) are probably (or at least can) work from the javadoc.

[2016-05-08 18:38] #4332 closed

[2016-05-08 18:41] benfry commented on #4328
Explained at length here: https://github.com/processing/processing/wiki/Changes-in-3.0#things-that-may-break-your-2x-sketches

[2016-05-08 18:41] #4328 closed

[2016-05-08 18:44] benfry commented on #4394
Looks like a problem with your Window Manager (or distro), not really something we can hope to fix. I only barely have time to support Ubuntu 14.04 and 16.04 with the default window managers.

[2016-05-08 18:44] #4394 closed

[2016-05-08 18:52] benfry commented on #2886
Should be fixed in 3.1 with https://github.com/processing/processing/pull/4348

[2016-05-08 18:52] #2886 closed

[2016-05-08 18:57] benfry commented on #4301
Please try with the 3.1 release when it's available—it may have the necessary fixes.

[2016-05-08 19:07] benfry commented on #4167
Now merged for 3.1. These didn't exist in the past because they're a good way to have beginners lock up their sketches while IO blocks for enough data, but hey, let's not let that get in the way of a useful feature.

[2016-05-08 19:07] #4167 closed

[2016-05-08 19:40] jarkman commented on #4331
@gohai - did you get successful communication ?

[2016-05-08 19:43] gohai commented on #4331
The RX light on the Arduino was flashing, didn't look closer. What are the exact symptoms you're seeing w/ exported applications?

[2016-05-08 20:01] jarkman commented on #4331
Hm. That is a good question, obviously. Sorry I didn't make a better record of it.

I think it was a giant crash on startup when running https://github.com/jarkman/FootFallField/tree/master/processing/FootFallField - would you like to give that a quick go ?

[2016-05-08 20:04] gohai commented on #4331
I will tomorrow. You could try to replicate my steps too, and see if they work for you?

[2016-05-08 20:15] JakubValtar commented on #4436
@Splitter4 Thanks for the report, we are already tracking this as #4407

[2016-05-08 20:15] #4436 closed

[2016-05-08 20:30] jarkman commented on #4331
Yes, I'll give it a go tomorrow evening.

[2016-05-09 00:11] benfry commented on #3543
To clarify [this comment](https://github.com/processing/processing/issues/3543#issuecomment-128410440) the issue seems to be happening where the character is *outside* the 8-bit version of the platform's default character set.

That is, if running on a cp1252 machine (i.e. US English), then characters that still fit into 128-255 (for instance, ü) will work fine. But [ě](http://www.fileformat.info/

[2016-05-09 00:14] #4228 closed

[2016-05-09 00:20] #4397 closed

[2016-05-09 00:30] benfry commented on #4354
Please use forum.processing.org for troubleshooting help.

[2016-05-09 00:30] #4354 closed

[2016-05-09 00:31] benfry commented on #4366
Please test with 3.1 when it arrives (shortly).

[2016-05-09 05:21] gohai commented on #4331
@jarkman FootFallField starts up for me when exported, but it does so regardless if I have an Arduino connected to ARM or not. Please send a minimal test case if you can. (also @joepekoe) Thanks!

[2016-05-09 06:32] gohai opened #4452 "InvocationTargetException when running processing-java"
[code]

Looking into it.

[2016-05-09 07:11] gohai commented on #4452
Actual exception is

[code]

Calling @JakubValtar (49823a0d8f512d68b837ddfdbbbe46bb8b794350?)

[2016-05-09 07:20] JakubValtar commented on #4452
Hm, looks like base.getEditors() returns null when there are no editors. Let me look at that.

[2016-05-09 07:22] gohai commented on #4452
`base` is null w/ `processing-java` it seems

[code]

[2016-05-09 07:31] JakubValtar commented on #4452
Ah, okay. The mode is instantiated through reflection and my scanners didn't catch that.

[2016-05-09 07:37] gohai commented on #4452
Always adventures with reflection! I am currently re-spinning the arm tar-ball with the same version number..

[2016-05-09 09:07] hamoid commented on #4445
Related dispose() issue: https://github.com/processing/processing/issues/4381

[2016-05-09 11:16] #4452 closed

[2016-05-09 12:42] joepekoe commented on #4331
@gohai

Thanks for looking into this.  It looks like your process of development and execution matches mine exactly.  However, did you run a program on the Arduino that also transmitted data back to the PI?

In my case, my application was run on the PI, made a request for data to the Arduino, and the Arduino would then return information to the PI.  This was the problem I saw...Tx PI -> Arduino wa

[2016-05-09 13:19] ybakos opened #4455 "processing-java: Commander raises java.lang.reflect.InvocationTargetException / NullPointerException"
On OSX, Processing 3.1
Ref: https://github.com/b-g/processing-sublime/issues/111

Command:
processing-java --force --sketch=/foo/bar/DeleteMe --output=/foo/bar/DeleteMe/build-tmp --run

Result:
err is java.lang.reflect.InvocationTargetException
Exception in thread "main" java.lang.NullPointerException
	at processing.mode.java.Commander.<init>(Commander.java:263)
	at processing.mode.java.Commander.

[2016-05-09 13:20] ybakos commented on #4455
I'm looking at the commit history to see what has changed, but if it's obvious and you can point me to the specific commit, please let me know. I'll send a PR.

[2016-05-09 13:32] ybakos commented on #4455
Also reproduced on Linux (Fedora 23).

[2016-05-09 13:58] ybakos commented on #4455
Confirmed that it's not a Java version issue (installed version is 8u92).

[2016-05-09 14:15] ybakos commented on #4455
I was suspicious of commit 90213d4b6f8e5416a7a5b1879018e03705154c1e but this doesn't seem to be the issue. A local build from source, followed by an installation of _processing-java_, works just fine.

[2016-05-09 14:31] JakubValtar commented on #4455
Hi @ybakos, sorry for inconvenience. It's already fixed, will be released soon in 3.1.1. Duplicate of https://github.com/processing/processing/issues/4452

[2016-05-09 14:31] #4455 closed

[2016-05-09 15:04] #4280 closed

[2016-05-09 15:04] #4302 closed

[2016-05-09 15:04] #4303 closed

[2016-05-09 15:09] benfry commented on #4249
There should not be a space, just as it was prior to that contributed commit that changed the original (no additional space) behavior.

[2016-05-09 15:09] #4249 closed

[2016-05-09 16:49] ashleyjamesbrown opened #4456 "P3D in processing 3.1 and also 3.0 constant crashing"
Consistently crashing when attempting to choose P3D as the renderer in the size() command.

Max OSC 10.9.5 Mavericks.
Macbook Pro 2011. Intel Graphics 3000 512MB
Java version 1.8.0_91
Processing Memory set to 512MB

Console Log from Processing attached.

[code]

[2016-05-09 16:57] ashleyjamesbrown commented on #4456
I should add that P2D does the exact same thing.

[2016-05-09 17:23] ashleyjamesbrown commented on #4456
This runs.

`void setup(){
 size(800,600,P3D);
 background(0);
}

void draw(){

}

`

This does not

`void setup(){
 size(800,600,P3D);
 background(0);
}

void draw(){
 ellipse(400,300,100,100);
}`

[2016-05-09 19:04] RectangleWorld commented on #4400
Interesting. Can confirm the same behavior here - no change in the graphics on a keypress when noSmooth() is in effect.

[2016-05-09 19:07] RectangleWorld commented on #4400
Woops...accidentally closed...reopening!

[2016-05-09 19:35] JakubValtar commented on #4456
I think this is duplicate of https://github.com/processing/processing/issues/4104 (i.e. dreaded HD3000)

[2016-05-09 19:44] #4456 closed

[2016-05-09 19:54] ashleyjamesbrown commented on #4456
damn you closed it - wanted to say that the new java update got applied and then after a reboot and also updating to 3.1 again and clearing out the old version off my machine seemed to fix it.

Its now running p3d sketches fine.

[2016-05-09 20:02] JakubValtar commented on #4456
Hi @ashleyjamesbrown, thanks for the report. The thing that we closed this as duplicate does not mean we don't want to hear from you... it means that there is already same issue and we don't want to have multiple issues which are about the same problem, so you should go there to post updates and new information.

Could you please repost your solution to the https://github.com/processing/processing

[2016-05-09 20:14] ashleyjamesbrown commented on #4104
Hey everyone I had the exact same issue.

OSX 10.9.5 Mavericks. Macbook Pro 13inch 2011
HD Intel Graphics 3000 512MB
Processing 2.2.1 on the system alongside 3.0 and the newly downloaded 3.1

running this code

`void setup(){
size(800,600,P3D);
background(0);
}

void draw(){

}`

would run fine yet any line of code even a call to the background whould result in similar crash logs as posted above.

[2016-05-09 20:19] gohai commented on #4349
Pi 3 should work with the 3.1 image available for Download [here](https://github.com/processing/processing/wiki/Raspberry-Pi#download).

[2016-05-09 20:19] #4349 closed

[2016-05-09 20:26] JakubValtar commented on #4400
Hm, probably some badness with multisampled bufffer. I can reproduce it on my machine.

[2016-05-09 21:17] JakubValtar commented on #4401
Which version of Processing are you using?

[2016-05-09 22:57] benfry commented on #4093
Can you try this with the 3.1 release?

[2016-05-09 22:59] benfry commented on #4403
Open Applications > Utilities > Terminal.app

Assuming you have Processing installed in Applications, type:
[code]
What messages does it print?

[2016-05-09 23:04] benfry commented on #4218
@JakubValtar How about we block until completion of all `saveFrame()` calls as soon as `loadImage()` is called?

[2016-05-09 23:16] JakubValtar commented on #4218
@benfry Hm, this could work. With a small change in async saver I can have a Map<String, Future> from filenames to running tasks and we can directly block on those.

[2016-05-09 23:31] hawkw commented on #4403
I actually fixed this issue pretty recently by deleting the Processing preferences.

[2016-05-10 00:14] benfry commented on #4218
Yeah, but I'm thinking that if you're trying to do a `loadImage()` inside of that, you're a tiny, tiny fraction, and probably deserve what you get.

[2016-05-10 00:15] #4403 closed

[2016-05-10 00:22] REAS opened #4458 "Hex values throwing errors in 3.1"
`
color c = #FFFEF2;
background(c);
`
This value is OK, but it throws an error in the latest release:

`The literal 0xffFFFEF2f of type int is out of range`

[2016-05-10 00:32] JakubValtar commented on #4218
I mean, we want the filename check because we don't want to block loadImage for no reason. It's like four lines of code.

[2016-05-10 00:35] JakubValtar commented on #4458
Ah, okay. I know where the problem is. I'll fix it first thing in the morning.

[2016-05-10 01:17] benfry commented on #4218
Eh, but why even bother? I don't think we need to add the complexity, but if you're up for it, just make sure you're using `ConcurrentHashMap` or something similar so that we're not introducing another race condition.

[2016-05-10 01:17] trevorsee commented on #4093
Still an issue for me on 3.1, is there any other information I could provide?

[2016-05-10 01:20] benfry commented on #4093
@JakubValtar I was hoping this was due to the poor listener handling that you excised in 3.1. Any thoughts? Something missed? Double listeners adding in the input method subclasses?

[2016-05-10 01:33] TheWiselyBearded opened #4459 "Booting of Processing"
Processing 3.1 on Linux 32-Bit system won't boot up, claims there's over 30+ errors all java based.

[2016-05-10 01:36] #4459 closed

[2016-05-10 03:42] shiffman commented on #4422
I'm going to move this to processing-docs and fix, thanks!

[2016-05-10 03:42] #4422 closed

[2016-05-10 09:58] hamoid commented on #3651
I get this error every time I copy text from vim and paste it into Processing. Pasting the same text into other programs like Eclipse works fine. On ArchLinux 64bit. Is there a way to analyze the content of the clipboard?

The exception is different from the ones above:

[code]

[2016-05-10 13:08] StanLepunK opened #4461 "PRocessing 3.1 with Sublim Text"
Processing 3.1 does not work Sublim text.
I reinstall java Processing as usual but now Sublim Text return this message :
[code]

I try to change the place of ProcessingJava but the result is the same.

I post this message on SublimText Processing too
![bug_sublimtext](https://cloud.githubusercontent.com/assets/3332269/15147437/f970437a-16c0-11e6-8878-0544a1f643b9.jpg)

[2016-05-10 13:43] JakubValtar commented on #4461
Thanks for the report, it's already fixed for 3.1.1, duplicate of https://github.com/processing/processing/issues/4452

[2016-05-10 13:43] #4461 closed

[2016-05-10 18:07] #4458 closed

[2016-05-10 18:14] #4250 closed

[2016-05-10 18:23] benfry commented on #1492
Fixed for 3.1.1 by https://github.com/processing/processing/pull/4191

[2016-05-10 18:23] #1492 closed

[2016-05-10 22:39] JakubValtar commented on #4093
No idea, I will try to reproduce.

[2016-05-11 00:37] ssilverman opened #4463 "Error with Processing 3.1 pom file in Maven repo"
Here's the error:
[code]