[2015-05-26 15:15] Akarshit opened #3320 "Local libraries that are installed get read many times while preparing contributions"
Can be seen by adding `System.out.println(name);` ![here](https://github.com/processing/processing/blob/master/app/src/processing/app/contrib/LocalContribution.java#L61)

[2015-05-26 15:55] aengelke commented on #3318
I cannot reproduce this issue on Fedora 21 (also using nautilus 3.14.2). Also, this should not have something to do with nautilus, but rather with GTK+. Could you try using Processing 3.0a9, which uses a newer version of Java?

[2015-05-26 18:19] codeanticode commented on #3308
@benfry this could be solved in the case of the GL renderer if surface.startThread() is called at the end runSketchEDT(), and only then making the window visible. In this way, it is never visible while it has its initial default location. However, for that to work I had to comment out the while (sketch.defaultSize && !sketch.finished) loop, which I'm not entirely sure if it is still needed after a

[2015-05-26 18:46] codeanticode commented on #866
I already started adding some materials to those wikis. We no longer need this issue.

[2015-05-26 18:46] #866 closed

[2015-05-26 21:11] AmnonOwed opened #3321 "Feature request: floating point textures"
I'm packing data in a texture (PImage) to send to a fragment shader. I'm running into the limitations of the 32bit RGBA format that seems to be the default for every texture in Processing. It's causing banding effects in my output. Switching to floating point textures will most likely solve these problems, because of the increased accuracy.

I have searched high and low (all the forums, the source

[2015-05-27 01:02] isohedral opened #3322 "Feature request: first-class Module system"
In the winter I used Processing to teach introductory programming to non-computer science students. I think it was mostly a positive experience, but I discovered one or two opportunities for improvements that I think would help Processing to develop further as a teaching language.

Obviously, Processing's built-in library system is terrific. It makes it easy to discover new libraries that integrat

[2015-05-27 03:30] REAS commented on #3321
@codeanticode will know the answer

[2015-05-27 04:04] sirhcsenots opened #3323 "If I wrote a "Run Processing Headless" how likely is it to be merged?"
I'm building various webapps and I need to render the sketches server side.
It is currently not possible since Processing rightfully expects to be hooked up to a monitor etc.
However, if I added this feature to processing what is the likeliness that my pull request would be merged back to master?

I'm aware there are alternative ways to accomplish this (Xvfb) but I can not install that on the the

[2015-05-27 05:17] codeanticode commented on #3321
Hi @AmnonOwed, it is not currently possible to define a floating point texture through Processing's API, the internal format can only be normal RGB or RGBA (i.e.: 1 byte per channel).

Quickly inspecting the code, seems like it shouldn't be too difficult to add GL.GL_RGBA32F or GL.GL_RGB32F as fp formats, but this would probably require an additional hint, or some other method to signal to the ren

[2015-05-27 05:29] pvrs12 commented on #3323
You might try editing the various config files which build the processing executable to add this option `-Djava.awt.headless=true`. This should 'ideally' set the output to be headless. I haven't had any luck so far though.

[2015-05-27 06:03] AmnonOwed commented on #3321
Hey guys,

Thanks for the quick response. Would be great to add this functionality. I think the two options to let the user set this would be either a) per renderer or b) per texture. With regard to these two options:

**a) per renderer**
This option could be something like textureFormat(int format) similar to the way [textureMode(int mode), textureWrap(int wrap)](https://github.com/processing/pro

[2015-05-27 07:42] joelmoniz opened #3325 "signer information errors in org.eclipse.jdt classes"
A sketch with only a setup() method in it does not seem to be displaying properly. The sketch used is:

[code]
The sketch throws the following error stack trace repeatedly:

[code]
The present output with the sketch is as follows:

![image](https://cloud.githubusercontent.com/assets/4526417/7831088/4cf3807c-0464-11e5-9a0f-7d879dff5ebf.png)

However, the following sketch works fine, but still throw

[2015-05-27 13:21] clankill3r opened #3326 "Comments influence code (void settings() related I guess)"
If I run the code below (in 3.0.9a) I get:

iLLegalStateException: size() cannot be used here, see https://processing.org/reference/size_.html

If I remove the comment the sketch runs fine.
(same thing can be reproduced with a block comment).

[code]

[2015-05-27 13:26] clankill3r opened #3327 "OpenGL Drawing to large"
3.09a

[code]

You can see a little from the line in the right top and left corner.

![screen shot 2015-05-27 at 3 25 33 pm](https://cloud.githubusercontent.com/assets/738650/7836988/b4c669d8-0484-11e5-86bd-8f2612cf8c7d.png)

[2015-05-27 20:30] benfry commented on #3312
Not a new design, just more strictly enforced in 3.0a9. The reference has said that for many years.

[2015-05-27 20:38] benfry commented on #3323
Unlikely to be merged. It's an absolutely enormous change, and just not something that I can support over the long-term in my spare time.

https://github.com/processing/processing/wiki/Running-without-a-Display

Your time would be better spent getting something like Xvfb to work statically, so that you don't need root permissions to use it.

[2015-05-27 20:38] #3323 closed

[2015-05-27 23:21] alignedleft commented on #3313
FWIW, @Akarshit reports this error is occuring in 3.0a9 (processing 235 - 3.0a9).

[2015-05-28 08:30] Akarshit commented on #3248
OK so i had a severe headache trying to fix this :sweat_smile:
@alignedleft @benfry you can read this for a better understanding of what i did and suggest if more has to be done.
The problem as far as i could understand was that the contribution that were being downloaded were getting added to the list one by one and after each one is added the list was made again from the scratch, that's why the

[2015-05-28 08:49] aengelke commented on #3325
I think that the AST exception is another issue. The setup issue is likely the same as #3315.

[2015-05-28 19:59] alignedleft commented on #3320
@Akarshit That image is broken for me. Can you clarify what you see here?

[2015-05-28 20:27] alignedleft commented on #3248
@Akarshit Thanks for this. I haven't tested your PR yet, but your description above make sense.

Since we are overhauling the UI of this piece, I think it will make sense to add a loading indicator (such as a spinner) or some other visual feedback to indicate the data is being loaded.

I'm drafting some UI concepts now and will check back with you. Thanks!

[2015-05-28 21:38] mtsio opened #3329 "incomplete error message in greek"
When you type in the editor a variable that hasn't been declared (with or without a semicolon) and the language is set in Greek, the error bar shows 'Σφάλμα στο'. It's like showing in English 'Error on' and nothing else after that. Obviously something is missing there. In English it says 'Error on "VariableDeclarators".

[2015-05-29 04:31] REAS opened #3331 "strokeWeight() in setup() not working for default renderer"
For testing:

[code]

[2015-05-29 04:33] REAS opened #3332 "Partial window appearing on Retina Display (10.8.5) if "_2X" renderer is not selected with P2D and P3D"
[code]

![screen shot 2015-05-28 at 9 32 10 pm](https://cloud.githubusercontent.com/assets/677774/7876479/2def0980-0581-11e5-88a1-3131bbedc50b.png)

[2015-05-29 04:36] REAS opened #3333 "How to manage images with "_2X" renderers"
When loading an image with a "_2X" renderer, should it be half the size as in the non "_2X" renderer or should it be half resolution, but the same size, as the rest of the sketch?

[2015-05-29 05:51] REAS commented on #3255
JAVA2D_2X works for saving frames in 3.0a9, but not with all of the OpenGL renderers.

[2015-05-29 06:17] Akarshit commented on #3154
@alignedleft The implementation i found most easy to implement is to have the <type>.properties file along with language specific files like <type>_<language>.properties. This way the current contributions won't have to be modified at all.  But the problem is that this would only let the contribs that are downloaded to display in the specified language rest of them would be in English as they are

[2015-05-29 08:56] Akarshit commented on #3320
I am not so sure about this but whats happening is that the libraries are getting read for every mode, so all the libraries get read as many times as the no. of modes, is this necessary ?

[2015-05-29 14:08] ciaron opened #3334 "save() and saveFrame() with OPENGL renderer fails (3.0a9)"
The following code fails with an exception, removing 'OPENGL' allows me to save the frame. This is a regression from 3.0a5

[code]

The exception(s) is/are:

[code]
Perhaps related to #3255 ?

[2015-05-29 17:16] codeanticode commented on #3332
I tested opengl non-retina rendering on a retina machine and didn't observe this issue, but I was using 10.9.5. @REAS do you have access to a retina machine with newer OSX version to verify?

[2015-05-29 17:18] REAS commented on #3332
Yes, I have been testing with 10.8.5 and 10.10.x. What else can I look for?

[2015-05-29 17:22] codeanticode commented on #3327
are you on a retina machine?

[2015-05-29 20:41] clankill3r commented on #3327
yes, sorry I didn't mention.
OSX 10.10.3

I also tried with "processing.core.PGraphicsRetina2D" but that doesn't seem to work (not that I want retina pixels).

p.s. I love what you are doing :)

[2015-05-29 20:51] clankill3r commented on #3327
I did not now about P3D_2X untill today but this is the result with that:

![screen shot 2015-05-29 at 10 50 22 pm](https://cloud.githubusercontent.com/assets/738650/7892494/25c46b04-0655-11e5-8c21-92fdab6509b0.png)

[2015-05-29 20:55] clankill3r commented on #3333
I found that sentence really hard.
Anyway, I would prefer that processing doesn't double every pixel to make the image larger.
Cause that would also make a blobscanner slower for example.

[2015-05-29 20:58] codeanticode commented on #3327
Thanks!

This seems a duplicate of https://github.com/processing/processing/issues/3332, so I'm going to close it.

Just noticed that you are assigning values to width/height in draw(), you shouldn't be doing that since those variables are set internally by Processing.

[2015-05-29 20:58] #3327 closed

[2015-05-29 21:10] clankill3r commented on #3327
I assigned values to width and height to see if it fixed anything and I forgot to remove it before posting here. Anyway, I think this is animation is really cool :D
[code]

[2015-05-30 14:58] codeanticode opened #3335 "Finish manual mipmap generation in Texture class"
By replacing Bitmap with AWT's BufferedImage, making it work in npot textures (embed npot tex into larger pot tex?), subregions, and moving GLUtils.texImage2D (originally from Android SDK) into PGL. Actually, this code should go into PGL, so the Android implementation can use Bitmap, and desktop use BufferedImage.

[2015-05-30 15:59] codeanticode opened #3336 "Group shapes are broken in 3.0a9"
Running Demos/Performance/CubicGridRetained example gives a NullPointerException at shape(grid).

[2015-05-30 17:39] codeanticode commented on #115
fixed with https://github.com/processing/processing/commit/b92dc049ef08d04474aba4f250d75ff5f49e1b3a

[2015-05-30 17:39] #115 closed

[2015-05-30 22:00] codeanticode commented on #1185
cannot no longer reproduce this issue (tested on intel HD Graphics 5000 and geforce GT 750 M)

[2015-05-30 22:00] #1185 closed

[2015-05-31 00:24] codeanticode commented on #3332
fixed with https://github.com/processing/processing/commit/96d8859cb925d09b8789a0a960b43ccc20d5fc5e

[2015-05-31 00:24] #3332 closed

[2015-05-31 07:50] Akarshit commented on #2843
@alingedleft From the comments it looks that this issue has been fixed. Can someone close this.

[2015-05-31 21:59] codeanticode commented on #3336
fixed with https://github.com/processing/processing/commit/cc60f6ef36845de0d8c72f4e321a8ae5bd9bcf86

[2015-05-31 21:59] #3336 closed

[2015-05-31 22:38] codeanticode commented on #3334
fixed with https://github.com/processing/processing/commit/6789f4d005fdaf555107eb5bd4ae2acf0b155cf6

[2015-05-31 23:33] codeanticode commented on #2125
when setting a texture with RGB pixels, the alpha is set to opaque:

https://github.com/processing/processing/blob/master/core/src/processing/opengl/Texture.java#L989
https://github.com/processing/processing/blob/master/core/src/processing/opengl/Texture.java#L1019

[2015-05-31 23:33] #2125 closed

[2015-05-31 23:50] codeanticode commented on #160
https://github.com/processing/processing/commit/f32254764da178bfd2db4871e121415b0bed1e21

[2015-05-31 23:50] #160 closed

[2015-06-01 00:03] #2843 closed

[2015-06-01 00:06] benfry commented on #115
Nice! An oldie.

[2015-06-01 00:07] benfry commented on #160
Great to see these getting closed out! Nice work.

[2015-06-01 00:09] benfry commented on #3335
FWIW, JavaFX has its own Image class too, which may be a better bet than `BufferedImage`. Haven't looked into it to see how it does for scaling. Also note the work on scaling that's been done in `PImage`, based on an example from the *Filthy Rich Clients* book.

[2015-06-01 00:13] benfry commented on #3333
@REAS It should be half resolution, per other retina-oriented APIs on OS X and elsewhere. But with that, we probably need to add a way to actually load a real "retina" image (i.e. the nastily named `@2x` images you find on iOS/OS X).

Right now, it can probably be done manually:
[code]

[2015-06-01 00:14] benfry commented on #3320
Nope, not necessary, and slow.

[2015-06-01 00:20] #3329 closed

[2015-06-01 00:22] benfry commented on #3255
@codeanticode is this the same as https://github.com/processing/processing/issues/3334?

[2015-06-01 00:26] benfry commented on #3315
Hm, seems to be specific to Windows and Linux.

[2015-06-01 00:28] benfry commented on #3325
@joelmoniz That looks like you have Eclipse JARs somewhere in your CLASSPATH (or you're using a bad mode) that are conflicting.

The other part is indeed #3315.

[2015-06-01 00:31] codeanticode commented on #3255
It seems a different issue, with P2D/P3D the problem was that pixelWidth/pixelHeight were not initialized and stayed at 0 (irrespective of 2X). With JAVA2D, save() works, but don't have a retina machine to test JAVA2D_2X

[2015-06-01 00:31] benfry commented on #3255
@codeanticode but it's working with P2D_2X and P3D_2X with that fix?

[2015-06-01 00:36] benfry commented on #3318
Not sure if this is "can't fix" or "won't fix"... We're not working on 2.2.1 anymore, but even in 3.x, we're limited by the nightmares of Linux window managers.

[2015-06-01 00:36] #3318 closed

[2015-06-01 00:36] codeanticode commented on #3255
I cannot test 2X right now, but expect that the fix solves the issue on both retina and non-retina modes. I will just reopen it and test again tomorrow on retina.

[2015-06-01 00:37] codeanticode commented on #3334
need test on retina.

[2015-06-01 00:37] benfry commented on #3160
Incorporated for 3.0a10 with https://github.com/processing/processing/pull/3319

[2015-06-01 00:37] #3160 closed

[2015-06-01 03:38] codeanticode commented on #1272
Added a section in the wiki on [Advanced OpenGL](https://github.com/processing/processing/wiki/Advanced-OpenGL) chapter of the wiki on how to change the filtering mode. Unless we decide to add a new function to PApplet to set the filtering mode, I think we should close this issue, since not having such function means that we don't "officially" support the feature.

[2015-06-01 08:21] joelmoniz commented on #3315
Another test cases that causes this issue (from #3325):

Calling `size()` with only a `setup()` function, without `draw()`:
[code]

[2015-06-01 08:22] joelmoniz commented on #3325
Thank you. Indeed, there was something wrong with the JAR files somewhere, and an `ant clean` followed by a fresh build fixed the `java.lang.SecurityException`. I've added the rest of the information to #3315 in [this](https://github.com/processing/processing/issues/3315#issuecomment-107357495) comment before closing this issue.

[2015-06-01 08:22] #3325 closed

[2015-06-01 12:18] benfry commented on #1272
When `noSmooth()` is called, does it switch image smoothing to nearest neighbor?

[2015-06-01 13:00] codeanticode commented on #1272
no, but we could do that.

[2015-06-01 21:30] codeanticode commented on #1278
I went through the different use cases of the ortho() function, and I realize that my decision of using the upper left corner as the reference point (so ortho() is equivalent to ortho(0, 0, width, height)) is problematic due to two reasons: one, the automatic offset the renderer currently applies so that (0, 0, width, height) corresponds to (-width/2, width/2, -height/2, height/2) only works when

[2015-06-01 21:43] benfry commented on #1278
By "original" way do you mean OpenGL? GLU? Processing 1.x?

[2015-06-01 21:49] codeanticode commented on #1278
1.x, which followed gluOrtho2D() I believe.

[2015-06-01 21:50] benfry commented on #1272
@reas I think this is how you want it behaving, right? That `noSmooth()` makes scaled images pixelated?

[2015-06-01 21:51] benfry commented on #1278
That sounds like the correct solution. We should just verify that we're following `gluOrtho2D()` properly.

[2015-06-01 22:50] codeanticode commented on #1272
In the OpenGL renderer, scene antialiasing (smooth/noSmooth) and texture filtering/mipmapping are really independent things (although antialiasing probably affects image smoothing). To have noSmooth() setting nearest sampling, besides disabling antialiasing, connects these two in a way that an advanced user might find surprising, but I think makes sense in the context of the Processing API, and al

[2015-06-01 22:52] codeanticode commented on #1278
Yes, actually we should follow [gluOrtho()](https://www.opengl.org/sdk/docs/man2/xhtml/glOrtho.xml), which allows to set near/far planes.

[2015-06-01 23:02] codeanticode opened #3338 "backspace key is identified as delete in OpenGL renderers"
Pressing the backspace key in this sketch:

[code]

prints "delete". Tested on Mac OSX 10.9.5

[2015-06-01 23:37] codeanticode opened #3339 "window looses focus after maximizing (OpenGL renderers)"
As described in title, this happens with JOGL 2.3.1/NEWT window

[2015-06-02 03:39] GEORGESLAVRA opened #3341 "Unexpected error when start of run Processing"
processing.app.SketchException: unexpected char: 'i'
	at processing.mode.java.JavaBuild.preprocess(JavaBuild.java:386)
	at processing.mode.java.JavaBuild.preprocess(JavaBuild.java:192

[2015-06-02 03:45] liquidzym opened #3342 "launch Failed after building from source --windows"
not too sure what's happened here,it build successful,but it report some error message during the launching session,please to see the pic. i'm using jdk 1.8 64bit,windows 8,1

cheers
![p5_build](https://cloud.githubusercontent.com/assets/51957/7928100/d69c2628-091c-11e5-969b-0774fabc800f.png)

[2015-06-02 04:13] yousifucv commented on #1278
Hello again, I should have mentioned this earlier, but I think I fixed this issue.

In [PGraphicsOpenGL's ortho(float, float, float, float, float, float) function](https://github.com/processing/processing/blob/c59b92d52ef7f8386fd1985ccc3e437e41495abe/core/src/processing/opengl/PGraphicsOpenGL.java#L4653) there were unnecessary  translations.
There is no need to apply camera translation. Comment ou

[2015-06-02 07:03] joelmoniz commented on #3342
Are you using a contributed mode when using processing? I've seen this
error pop up when using contributed modes because they aren't fully
compatible with 3.0 yet.

[2015-06-02 07:21] liquidzym commented on #3342
i thought about this,but after empty the contributed mode such as JavaScriptMode, still got same result

[2015-06-02 10:51] aengelke commented on #3342
These errors typically come from an unclean build. You could try `ant clean` to force a recompilation of all files.

[2015-06-02 13:18] liquidzym commented on #3342
thxs,that's works!

[2015-06-02 13:18] #3342 closed

[2015-06-02 14:43] codeanticode commented on #3338
fixed with https://github.com/processing/processing/commit/b1e1bd5648df8e9514d365f73c1d86b7a3b22502

[2015-06-02 14:43] #3338 closed

[2015-06-02 14:55] codeanticode commented on #1278
@yousifucv yes you are right, thanks for the note! I removed those translations in code I didn't pushed yet. I'm doing some extra testing to make sure that Processing's ortho() is consistent with gluOrtho(), hopefully will be able to close this long-standing issue soon.

[2015-06-02 17:52] codeanticode commented on #3339
What happens is that when the window is maximized, the cursor first exists the window to be placed over the maximize button, but even tough the cursor falls back inside the window when it maximizes, no mouseEnter event is generated by NEWT. Looks like an upstream bug in JOGL, will check with them.

[2015-06-02 18:57] codeanticode commented on #2482
@nalcus can you confirm if this still happens in 3.0a9? Thanks!

[2015-06-03 03:54] codeanticode commented on #3012
@mschi performance of the background(PImage) function in P2D/P3D will be much better in the next release after 3.0a9 due to https://github.com/processing/processing/issues/160. However, it will still be slower than using image() because background(PImage) also copies the pixels of the source image into the pixels of the screen, which can be an expensive operation if resolution is high.

A trick to

[2015-06-03 03:54] #3012 closed

[2015-06-03 12:00] tillnagel opened #3347 "PShape.getChildren() returns also elements never added, potentially resulting in NullPointerExceptions."
Using a PShape group and adding other PShapes as children the internal array gets expanded when the prior length does not suffice. This may result in `null` elements when calling getChildren()

[code]

Currently, you have do iterate over the children with a counter.

[code]

Would be great, if you either make getChildren private (or such), or return only added children.

[2015-06-03 12:49] codeanticode commented on #2221
No updates from original poster and cannot reproduce, closing.

[2015-06-03 12:49] #2221 closed

[2015-06-03 12:49] codeanticode commented on #2482
No updates from original poster and cannot reproduce, closing.

[2015-06-03 12:49] #2482 closed

[2015-06-03 12:50] codeanticode commented on #3006
Fixed with https://github.com/processing/processing/commit/00fec711d8f2a5a482260f48805053edc346db94

[2015-06-03 12:53] codeanticode opened #3348 "Cannot set Processing icon for window sketch in OpenGL renderers"
GLWindow doesn't seem to offer any API analogous to Frame.setIconImages, need to bring this up to JOGL developers.

[2015-06-03 14:08] codeanticode commented on #3348
Actually, there is [a method](http://forum.jogamp.org/Custom-Icon-on-NEWT-window-tutorial-td4031412.html#a4032817) to set custom icons.

[2015-06-03 17:09] benfry commented on #3341
Need to see the code that's causing the problem, otherwise there's nothing here that we can use to even diagnose where there might be a bug.

[2015-06-03 17:17] xiatianyu commented on #3318
I just tested on 3.0a9 and the problem persists. In case anyone is
interested in taking a closer look, attached below is the error log.

`[/opt/processing-3.0a9/hs_err_pid3932.log]`
[code]

[2015-06-03 17:23] xiatianyu commented on #3318
I just tested on 3.0a9 and the problem persists. In case anyone is interested in taking a closer look, attached below is the error log.

`[/opt/processing-3.0a9/hs_err_pid3932.log]`
[code]

[2015-06-03 17:41] benfry commented on #1272
@REAS this is the discussion we've had in the past about a separate `imageSmooth()` function. I can't remember where we wound up on this... I think we discussed it, didn't have a perfect solution, didn't want to add API, and wound up forgetting about it.

[2015-06-03 17:46] benfry commented on #3318
Thanks for checking. Again, it's technically not something we can trigger (and it's happening inside the JVM itself), though it's also possible we're doing something naughty in terms of how the window is being opened (i.e. not from the right thread).

[2015-06-03 20:01] codeanticode commented on #3348
This is the API to use [NewtFactory.setWindowsIcons()](http://jogamp.org/deployment/webstart/javadoc/jogl/javadoc/com/jogamp/newt/NewtFactory.html#setWindowIcons(com.jogamp.common.util.IOUtil.ClassResources)).

[2015-06-03 20:17] codeanticode commented on #3348
Taken care of https://github.com/processing/processing/commit/b3304a428715e2cdf61252cbc5260df1716c2ccd

[2015-06-03 20:17] #3348 closed

[2015-06-03 21:35] codeanticode commented on #3084
@x3sp3d3s Do you still get these errors with the latest revision from git? If so, what OS are you on?

[2015-06-03 21:51] REAS commented on #3334
It's creating files fine on Retina, but it's cropping them by only rendering one quadrant with the _2X renderers.

[2015-06-04 00:31] mtsio opened #3350 "invalid warning"
When I have two tabs opened in a sketch and trying to delete the first from the left, I get this warning: "You cannot delete the last tab of the last open sketch."

[2015-06-04 07:35] REAS commented on #1272
I think maintaining the behavior of noSmooth() applying to images to keep the pixels crisp is a good solution -- mostly because it is how it has been working and I'm usually not in favor of adding new functions. I'm open to an argument counter to this.

[2015-06-04 08:09] shiffman opened #3351 "textFont() will override textSize()"
I'm not sure if this is a bug or a something to add to `textSize()` documentation, but `textSize()` will not be maintained if a call to `textFont()` is made afterwards, i.e.

[code]

I realize for the example above is somewhat nonsensical and should be written `textFont(f2, 14)` or `createFont("Georgia", 14);`.   However, I ran into this with a more complex scenario where there was a more legitima

[2015-06-04 11:03] StanLepunK opened #3352 "key problem with DELETE, BACKSPACE and CMD in P3D / P2D"
OSX 10.9 / iMac 2012 / Processing 309
There is problem with DELETE, BACKSPACE and CMD  in P2D and P3D.
CMD and DELETE  is not detected
BACKSPACE is switching with DELETE

P305 and P309
Plus DELETE and BACKSPACE return a strange sign
RETURN, TAB return nothing

[code]

[2015-06-04 12:46] codeanticode commented on #3352
Partially solved with https://github.com/processing/processing/commit/b1e1bd5648df8e9514d365f73c1d86b7a3b22502, need to look into CMD

[2015-06-04 15:13] benfry commented on #3351
If it's not in the documentation, it's a docs problem. The idea is that most of the time, you're doing `loadFont()` which has a specific size associated, or `createFont()` with a specific size, so rather than always having to re-set to the natural size of the font, changing the font also sets the size.

[2015-06-04 15:23] #3350 closed

[2015-06-04 15:23] benfry commented on #3350
Changed to "You cannot delete the main tab of the only open sketch."

[2015-06-04 15:31] shiffman commented on #3351
Thanks, that's what I started thinking after I posted the report. I'll file something in processing-docs to consider if we need to adjust documentation.

[2015-06-04 15:31] #3351 closed

[2015-06-04 15:59] benfry commented on #1272
The issue is that `smooth()` and `noSmooth()` can't be called mid-draw with OpenGL (and probably JavaFX). The smoothing is a property of the rendering surface so it can only be set once in the sketch. So the concern is that you may want to enable/disable image smoothing separately from that (and it's a runtime thing, not a property of the surface).

But I think this is why we punted—maybe just too

[2015-06-04 16:12] REAS commented on #1272
With that info, I do prefer to add a new function, do we need to follow the model of imageSmooth(), noImageSmooth()? Or is this something that could/should be covered with an example instead?

[2015-06-04 16:43] benfry commented on #1272
`smoothMode()`!

`hint(DISABLE_IMAGE_SMOOTHING)` in line with it being an edge case?

[2015-06-04 16:44] JakubValtar commented on #1272
Hi all, in my opinion changing the functionality of smooth() is a terrible idea (sorry).

Smooth() had always been about anti-aliasing, where more is better (if you have the performance). NoSmooth() often serves as an emergency performance boost which sacrifices the visual quality on the edges, but enables you to run the sketch at reasonable frame rate. Texture interpolation is a completely differ

[2015-06-04 17:37] benfry opened #3353 "contribs listed multiple times (because they're listed multiple times in contribs.txt)"
Help me @prisonerjohn, you're my only hope.

[2015-06-04 17:38] benfry commented on #3353
Quickly filing this per discussion; something for @Akarshit and @prisonerjohn to sort out.

[2015-06-04 18:22] benfry commented on #1272
Changing how `smooth()` behaves is off the table—we're just trying to sort out whether we support this image-specific scenario.

[2015-06-04 19:48] codeanticode commented on #3352
CMD properly detected via https://github.com/processing/processing/commit/94a0bbdc8fa77d84cc59567f17ab43516d952fa9

[2015-06-04 19:48] #3352 closed

[2015-06-05 01:27] REAS commented on #1272
This is sorted out now. We decided to return to the original functionality of smooth(), to set the "smoothing" of geometry and images together. If people want a different behavior, they can use syntax like this:

[code]

[2015-06-05 01:27] #1272 closed

[2015-06-05 01:39] mtsio opened #3355 "GNU is missing from Export frame."
In Export Options frame there is the option of exporting to 'Linux'. I think the correct term is GNU/Linux because Linux is only the kernel. The main reason though for changing it is to give credit to the GNU project for it's contribution.

[2015-06-05 14:11] alignedleft commented on #3355
Good idea, but adding GNU goes against the goal of minimizing jargon and unknown terminology as much as possible (in order to remain accessible to beginners).

[2015-06-05 14:48] codeanticode commented on #3334
Fixed with https://github.com/processing/processing/commit/824e8f2e219e7e1bcef7baab8da2375dab10ddfc

[2015-06-05 14:48] #3334 closed

[2015-06-05 14:50] codeanticode commented on #1278
@REAS, @alignedleft  where are the examples stored now so I can update the ones using ortho()? The reference also needs updating.

[2015-06-05 18:37] alignedleft commented on #1278
@codeanticode Example are under processing-docs/content/examples (although be aware that p5 adaptations are in progress, though that may not apply to 3D examples).  Reference page examples are in processing-docs/content/api_en/ XML files.

If you want to send me specific changes, I can apply them.

[2015-06-05 19:29] joelmoniz opened #3356 "Possibly provide the user a separate option of saving breakpoints?"
At present, all the changes a user has made in the sketch from the last save, as well as any breakpoints modified, are all saved if the user saves the sketch. Instead of this, maybe the user could be asked whether or not (s)he would like to save changes made to the breakpoints since the last sketch? Alternately, maybe an option for whether or not breakpoints are saved by default could be added to

[2015-06-05 23:10] REAS commented on #3355
Ben and I looked at this last night. I'm not sure what his opinion is. I am in favor or adding the GNU. We have it that way (GNU/Linux) on the homepage.

[2015-06-06 02:17] codeanticode commented on #2268
Fixed with https://github.com/processing/processing/commit/5e7703e1c3285677e839e3198c3590b9651b72c1, compilation errors are consistently thrown when calling shader()

[2015-06-06 02:17] #2268 closed

[2015-06-06 02:26] benfry commented on #3296
Alright, we're full steam ahead with `fullScreen()`.

[2015-06-06 02:26] #3296 closed

[2015-06-06 06:34] mtsio commented on #3355
I think the only place is that frame, so it isn't much of a change.
Also, the "Linux" is not very different from "GNU/Linux". If beginners
know already Linux it won't cause them any trouble.

Scott Murray:

[2015-06-06 16:46] benfry opened #3357 "smooth(), noSmooth() behavior"
Dearest @REAS, @shiffman, and @codeanticode,

I'm working through the `smooth()` changes described [here](https://github.com/processing/processing-docs/issues/251).

It's a little gross because if it's the primary drawing surface, everything happens in `PApplet`, but if offscreen, it needs to happen in `PGraphics`. This means that both need a `smooth` variable that is set to 0 (no smoothing), 1 (d

[2015-06-06 17:16] REAS commented on #3357
I think the good news with all scenarios is that if you're not changing the smooth() defaults, the code will remain as it has been since the default change to smooth() with 2.0. I'm working through the rest.

[2015-06-06 17:25] shiffman commented on #3357
I am not entirely sure I follow completely. . is the following understanding correct?

This used to be valid:

[code]

But now it has to be:

[code]

But this makes it very awkward for you to implement behind the scenes so you are thinking of changing it?

Or you cannot do any of the options above anymore all b/c you need to know what the smoothing should be the moment `createGraphics()` is called

[2015-06-06 17:28] shiffman commented on #3357
Oh oh, sorry I should have clicked through your link where more is explained.   I think you are right, to keep as is and now that `smooth()` is something more of a global thing that cannot be changed through out a sketch it makes sense that `createGraphics()` would inherit it.   If there's some workaround for those who need a different smoothness for `PGraphics` vs `PSurface` that might be nice, b

[2015-06-06 19:29] benfry commented on #3357
Thanks guys... I'll continue in this vein and see how it goes.

@codeanticode I'm also going to rename the `primarySurface` variable to `primaryGraphics` since that's what it is, to avoid confusion because we have something else actually called "surface" in the API now.

[2015-06-07 00:25] benfry opened #3358 "implement "Welcome" screen for Processing 3"
Per notes from @alignedleft:

- a summary of what’s new, plus a link to GitHub wiki page with details on “what’s new in 3”
- a warning that some Processing 2 sketches may not be compatible
- if a v2 sketchbook already exists, show a prompt to choose either creating a new Processing 3 sketch folder or use the existing v2 one, plus a link to GitHub wiki page with details
- a box which is checked by

[2015-06-07 05:33] codeanticode commented on #2592
starting with the next release, smooth()/noSmooth() will be callable only once during setup.

[2015-06-07 05:33] #2592 closed

[2015-06-07 05:38] codeanticode commented on #1278
@alignedleft The changes are the following:

* In the Basics|Camera|Orthographic example, the line

[code]

should be replaced with

[code]

* In the reference page for ortho(), the the example code should have

[code]

instead of

[code]

[2015-06-07 05:45] codeanticode commented on #3357
jumping late into the discussion... @benfry I agree with the direction you are taking, constraining the use of smooth/noSmooth to a single call before beginDraw() seems like a good solution to me.

However, just want to make one observation: the smooth() used to correspond to smooth(2), right? In fact,  a quality level of 1 in openGL represents the aliased setting with 1 sample, in other words no

[2015-06-07 14:07] benfry commented on #3357
Yes, that's correct, `smooth(1)` should be the appropriate default for the renderer... in Java2D, the default (bicubic) is 4, though you can drop it to 2 (bilinear) if you want. Even though OpenGL technically would see `smooth(1)` as `noSmooth()`, that's just too weird to foist on people, so you should override that.

[2015-06-07 14:42] REAS commented on #3357
Please check this out:
https://beta.processing.org/reference/smooth_.html

I think that I should mention the defaults, to confirm, that's `smooth(4)` for the default and JAVA2D_2X and `smooth(2)` for the OpenGL renderers. Or are you saying `smooth(1)` for OpenGL should be "2X" under the hood?

[2015-06-07 14:46] REAS commented on #2592
We've discussed this change at length and it's the result of the difference between how Java and OpenGL rendered back in 2001 in relation to how they do it in the present. We feel that we need to make smoothing something that is set once for each program.

[2015-06-07 14:49] codeanticode commented on #3357
Ok, but now the current smooth levels -0, 1, 2, 4, 8- don't make much sense. For example in OpenGL:

0 -> no smooth
1 -> default smoothing (2 samples)
2 -> 4 samples (?)
...

with some hardware supporting up to 16 samples, or even 32. Shouldn't be simply consecutive 0, 1, 2, 3, 4... with the appropriate interpretation depending on the renderer?

[2015-06-07 16:12] radames opened #3359 "EXC_BAD_ACCESS crash inside AppleIntelHD5000GraphicsGLDriver when starting 3.0a8+"
I'm using the Mac OSX 10.10.3 and both last alpha versions Processing 3.0a8 and 3.0a9 are crashing on  startup, although the version 3.0a5 works perfectly.

Both with same report,

[code]

[2015-06-07 17:14] benfry commented on #3357
The only smoothing levels that users will see is 2, 4, or 8 (or whatever the renderer uses). 0 and 1 are only used internally.

The numbers are specific to the renderer, so if you want 2 to mean "2x" and 4 to mean "4x", for OpenGL, then great. For Java2D, it's bilinear or bicubic, so those might be 2 and 3. There's no 2x or 4x or 8x, so it has to be renderer-specific, so consecutive levels really

[2015-06-07 17:18] benfry commented on #3357
@REAS please leave `smooth(0)` out of the reference. It's not useful and confuses things further. Also, you should mention that it's dependent on your machine's graphics capabilities (the card and the drivers) whether it supports 4x or 8x or whatever. Many won't be able to do that.

Should we make `smooth(2)` bilinear and `smooth(3)` bicubic for Java2D? (And therefore, `smooth(3)` will be the defa

[2015-06-07 17:24] benfry commented on #3359
Can you try running it from the "guest" account on your machine and see if it works?

What type of Mac is this on?

[2015-06-07 17:39] prisonerjohn commented on #3359
@benfry Do you think this is the same issue I'm having?

My stack trace is a little different:
[code]

[2015-06-07 17:45] benfry commented on #3359
It's a suspicion, but doesn't seem like it's crashing in the same spot, so I wanted to see if the same thing was happening from another account.

In both cases, I'm also wondering if it's a JDK bug—we've been moving to the latest JDK 8 with each release, so it may have more to do with that than anything we've actually changed.

On yours, try changing processing/build/build.xml to use:
[code]
Right

[2015-06-07 17:49] benfry commented on #3359
Also for @prisonerjohn, where's your original bug report? I can't seem to find it. Does your laptop also have Intel HD 5000 graphics?

[2015-06-07 17:55] prisonerjohn commented on #3359
#3285 is my original report, but it looks like it was a different issue.

My laptop has an Intel HD Graphics 4000, but it's never used. I'm always on the NVIDIA GeForce GT 650M.

[2015-06-07 18:00] prisonerjohn commented on #3359
Tried changing the JDK version values but still crashing:
[code]
Crash log is [here](https://dl.dropboxusercontent.com/u/477840/hs_err_pid6476.log).

[2015-06-07 18:00] radames commented on #3359
Hi @benfry , I've tried to open with the Guest account and had the same problem. I'm on osx 10.10.3 using Java 7 Update 75.

I'll try to compile it later

[2015-06-07 18:12] benfry opened #3360 "Hard crash on startup inside strlen call when using 3.0a8+ on OS X"
Originally from @prisonerjohn via https://github.com/processing/processing/issues/3285 and perhaps related: https://github.com/processing/processing/issues/3359
[code]

The full trace:
[code]

[2015-06-07 18:16] benfry commented on #3359
Alright, @prisonerjohn I've re-filed yours here: https://github.com/processing/processing/issues/3360. The error message shown in that other one has nothing to do with the hard crash, so I don't want to confuse things further. Let's continue the discussion over there.

This appears to be a separate issue.

[2015-06-07 18:22] benfry commented on #3360
Next thing to try while debugging this: replace the “Processing” binary with the one from a working 3.0a5. So something like this:

[code]
First line will replace that binary, second line will open the application directly. (Can't do an `ant run` since it'll nuke this file and re-write it with the new one.)

The other clue is that the code inside the native thing refers to the `PATH` variable on y

[2015-06-07 18:29] prisonerjohn commented on #3360
That copying the binary trick is working. Processing opens and reports build 0237 in the title bar.

And here's what's in my PATH:
[code]

[2015-06-07 18:50] benfry commented on #3360
Yeah, ok. I remember that re: the PATH.

But the binary trick is a good sign (since it's something we can go after...)

So I wonder if that's caused by https://github.com/processing/processing/pull/3170, which disables inertia scrolling.

...meaning that this may be about your scrolling settings after all. ;-)

I wonder if we can reset the trackpad settings on your account and see if that fixes it

[2015-06-07 19:45] benfry commented on #3359
@radames Don't worry about building, it's not necessary. But out of curiosity, can you try to replace the `Processing.app/Contents/MacOS/Processing` file in 3.0a9 with the one from 3.0a5 and try running that?

[2015-06-07 19:55] radames commented on #3359
@benfry yes I did the replacement and the 3.0a9 seems working fine, I've tried some examples using shaders and seems compiling and working.

[2015-06-07 20:37] radames commented on #3359
even the debug mode works fine!

[2015-06-07 22:00] clankill3r commented on #3314
I think it's up to you to deal with such a situation
for example:
 `map(id, 0, max(maxShapeNum-1, 1), 2, 5);`

[2015-06-07 22:24] liasomething commented on #3314
my point here was that it would just be _nice_ not to _have_ to deal with such a situation myself. :)

[2015-06-07 23:03] benfry commented on #3314
Hm, we don't throw errors for NaN anywhere in the API, so this would be a fairly huge shift to do it consistently. For instance, why would `map()` throw an error but `line()` or `vertex()` do not? (Answer: we probably would need to support all of them, and that's a lot of overhead.) As a rule, we only throw errors/halt the sketch for things that really mean the sketch can't continue.

But... I can

[2015-06-07 23:07] benfry commented on #3360
Ok, looks like those are stored in ~/Library/Preferences/.GlobalPreferences.plist. Maybe rename that and restart, so that a new one is created? (Better yet, rename it via sudo while logged into another account, or from single user mode, so it's not just rewritten when you restart.) Wonder if there's a setting in there that's causing the conflict.

[2015-06-07 23:33] benfry commented on #3359
Here are two versions of that Processing file. Can you try each and see if either or both work properly?
https://www.dropbox.com/s/t0eggec8o4s6v9s/alternates.zip?dl=0

Unzip that file, and use Processing-main to replace the Processing file at the location listed earlier. Try running, see if it works. Then do the same with the other.

Thanks!

[2015-06-07 23:34] benfry commented on #3360
In addition, here's something else that I'm trying over [here](https://github.com/processing/processing/issues/3359).

This link goes to two versions of that Processing file. Can you try each and see if either or both work properly?
https://www.dropbox.com/s/t0eggec8o4s6v9s/alternates.zip?dl=0

Unzip that file, and use Processing-main to replace the Processing file at the location listed earlier.

[2015-06-08 00:12] radames commented on #3359
@benfry I did try for both files neither of then worked, had the same crash message.
I assured the change the execute permissions.

[2015-06-08 01:12] benfry commented on #3359
Ouch, ok. That's the worst of the scenarios that could have happened. One version is the exact same code as 3.0a5 (just recompiled on 10.10.3). In the meantime, we'll roll back to the 3.0a5 version, at any rate.

[2015-06-08 01:23] benfry commented on #3359
Thanks for checking into it. On further digging, it looks like there were some other edits (and a likely culprit) since 3.0a5. Can you try [this version](https://www.dropbox.com/s/u3bvqnlrq0eeka9/alternate2.zip?dl=0)?

[2015-06-08 01:26] benfry commented on #3360
Nevermind, try this one: https://www.dropbox.com/s/u3bvqnlrq0eeka9/alternate2.zip?dl=0

[2015-06-08 01:38] benfry opened #3361 "_2X last call"
One more for @REAS @shiffman and @codeanticode:

So… With all these changes happening with smoothing and whatnot, do we need to revisit the _2X decision?

Basically, we’d have a method that sets retina/2x/hidpi mode (whatever we want to call it), and it’d work just like size(), fullScreen(), smooth(), and noSmooth() (It’d be moved to settings() and in Eclipse, you’d manually put it into settings()

[2015-06-08 02:10] codeanticode commented on #3361
I would go for a separate method to enable/disable 2x mode. I find the 2X extension not very satisfactory because it conveys the idea of different renderers for retina and non-retina situations.

[2015-06-08 02:15] REAS commented on #3361
Check out this snippet for the current reference for size:

[code]

It would be nice to just say we have the "default", P2D, and P3D has we have. So as far as I understand the discussion, I prefer having a new function to "enable high resolution." I don't have a good idea for its name yet.

[2015-06-08 02:16] benfry commented on #3361
And the piece I left out... ideas for what to call such a method?
* `pixelFactor(N)` to go with what we're using internally at the moment (along with `pixelWidth` and `pixelHeight`, the 1x or 2x version of `width` and `height`)
* `pixelDensity(2)` perhaps a better name? (we'd fix the internals as well)
* `set2x()` (we don't use `set` anywhere)
* `makeLookBetter()`
* `iveGotAnExpensiveComputer()`
*

[2015-06-08 02:17] REAS commented on #3361
don't forget `highrez()`

[2015-06-08 02:19] benfry commented on #3361
Mmm.. [deRezzed()](https://open.spotify.com/track/5X4ojuZG2mZ68EcLyBQ1D3)

[2015-06-08 02:22] REAS commented on #3361
I don't think `pixelFactor(N)` is intuitive and as you mention, we don't use `set` for features like this. The `pixelDensity(2)` option is clear. I'm thinking about how it's called High-DPI on Windows. How does the idea of a pixel transfer into the language around Retina displays, are they called points?

[2015-06-08 02:29] benfry commented on #3361
Yeah, I think it's all over the place. I haven't been able to find consistent references, thus the list. The "retina" name is just marketing, and a `highDPI()` method seems really awkward.

I'm also warming to `pixelDensity()`... Though I'm not sure if we'll ever see other pixel densities than 2 (at least in the lifetime of this API).

[2015-06-08 02:45] REAS commented on #3361
*`screenDensity(2)`
*`pixDensity(2)`
*`pixelDensity(2)`

At the moment, I'm in favor of `pixelDensity(2)`

[2015-06-08 07:03] radames commented on #3359
Same, problem with your last version.

[code]

Anyway it still working with the one file taken from Processing 3.0a5

[2015-06-08 08:20] shiffman commented on #3361
I vote `pixelDensity()`!  I really like separating this out from `size()`.  Since beginners begin with `size()` the less crazy/weird the docs page for that is the better.  Also, now we've eliminated yet another place where `JAVA2D` appears!

This is not for the core API and I'm probably polluting this thread, but is there a way to do something like:

[code]

or no b/c of the whole `settings()` thi

[2015-06-08 08:41] shiffman commented on #3314
Maybe this is less a question of dealing with `NaN` and more a question of how `map()` should deal with an invalid range.   If I understand correctly, the issue is:

[code]

What if we instead changed it to:

[code]

Maybe this is too much hocus-pocus and a bad idea.

In any case, I agree that as much as it would be nice I don't think we can add special error handling  for `NaN` everywhere in the

[2015-06-08 10:33] benfry commented on #3359
Nuts, ok. Thought we had it. Will continue looking...

[2015-06-08 10:49] benfry commented on #3361
Yeah, that's another plus for making it a method. Right now it would be:
[code]
but if we want this sort of use case, we probably need something like:
[code]
though that's not exactly self-explanatory.

[2015-06-08 10:51] benfry commented on #3361
Another plus for `pixelDensity()` is that this primarily affects how pixels behave—that they all change to 2x space. Certainly it looks nicer, but the pixel operations are where the weirdness happens.

[2015-06-08 10:57] benfry commented on #3361
We could also reconsider splitting high res visuals from whether pixel operations go high res, but I think that's pretty awkward for images and other times we hit pixels. The plus here would be that we could *always* use retina when available, and people would only specify whether they wanted pixel operations (get/set/filter/copy/etc) to happen in the 2x space. But this all sounds very messy: in t

[2015-06-08 11:19] radames commented on #3359
Let me know how can I help. One question, I'll be starting teaching some class this week and I'd like to use this last alpha version, do you think the trick of moving the file from the 3.0a5 is a good idea in order to try the new 3.0a9?

[2015-06-08 11:47] shiffman commented on #3361
I think that perhaps in the way that `smooth()` is now enabled by default, but wasn't in 1.0, since we haven't had a ton of retina testing that we should leave it off and require an explicit call to `pixelDensity()`.  And then we'll turn it on by default and have a long github thread about what we're breaking for Processing 6.0.

Writing this I'm perhaps changing my mind in that would we want firs

[2015-06-08 12:14] benfry commented on #3359
That's definitely a fix—I was hoping to have a new release out this past weekend but that was held up in part by this issue, since it's obviously quite serious (though only causes trouble for a small percentage of people). I'm still not sure why this is showing up on some machines and not others, but am hoping to find a better fix in the next 24-48 hours.

[2015-06-08 12:16] benfry commented on #3361
The big problem with default 2x is actually the same as smoothing in 1.0... It looks much better (obviously) but it's a huge performance difference on older hardware. Newer hardware it's more negligible, but we have a lot of labs, schools, etc that are using machines that are 3 and 5 years old or more.

[2015-06-08 12:40] radames commented on #3359
that's great! thanks!

[2015-06-08 15:42] benfry commented on #3357
Alright, this is wrapped... `smooth(3)` is bicubic in Java2D (the default) and `smooth(2)` sets it lower to bilinear. On OpenGL, the smoothing level refers to the oversampling/multisampling/fsaa or whatever it's using these days, so it'll be 2 (the default), 4, 8, 16 depending on how your card works.

But for 95% of users (and 99.99% of the time), the `smooth()` command can be all but ignored sinc

[2015-06-08 15:42] #3357 closed

[2015-06-08 15:55] alignedleft commented on #3361
@REAS always knows.

For what it's worth, I also support using `pixelDensity()`. It seems like an elegant solution to the problem. `pixelsDensity(2)` works for "Retina" displays, and one can even crank up the density further for the super-ultra-retina displays of the future. (@shiffman: perhaps ITP needs a new "Tiny Pixels" initiative to complement Big Screens?) If not called, we can have smart de

[2015-06-08 16:01] ciaron opened #3362 "Switching Mode causes an exception (3.0a8/a9)"
When switching mode from Java to Python, Javascript or Android mode, an exception occurs and Processing quits. The first line of the exception reads:

[code]

Python mode:
![python-mode-error](https://cloud.githubusercontent.com/assets/214666/8039170/3940a408-0e08-11e5-85b7-34c46841c1dc.png)

Javascript mode:
![javascript-mode-error](https://cloud.githubusercontent.com/assets/214666/8039174/3f2b43

[2015-06-08 16:09] REAS commented on #3361
I have been thinking about what happens with old code. For example, I might have a piece of pre-3.0 code that I want to "just work" on a Retina display. Maybe this code uses images and maybe `get()`, `set()`, and `pixels[]`. I should be able to write `pixelDensity(2)` in my setup and the code behaves the same. The images won't be retina, but I think it's the right approach.

Maybe we also have `im

[2015-06-08 16:12] REAS commented on #3357
I will referencify these decisions.

[2015-06-08 16:24] joelmoniz opened #3363 "Sketch window does not always display when running a sketch with a blank draw() function"
Sketch with a blank draw() function, often does not display, and the Run button needs to be pressed several times  (not necessarily an odd number of times), for the sketch to run, which in turn may cause the sketch to run without the Run button being (visibly) selected and turning green, as shown:

![image](https://cloud.githubusercontent.com/assets/4526417/8039430/b1308b24-0e1a-11e5-82f3-759ad788

[2015-06-08 16:37] benfry commented on #3361
Ah yes... @REAS can you open an issue for the image issues? That's another fella that we should think through, i.e. do we need to have something where we magically load 2x versions of images, or do we simply call `pixelDensity(2)` on the image which will mean "I know this is 2x, draw it smaller".

For what it's worth, the `pixelDensity()` solution is now implemented in the source and feels good to

[2015-06-08 17:01] REAS opened #3364 "How do images behave when pixelDensity(2) is set?"
See processing/processing#3361

Essentially, does the behavior of `get()`, `set()`, `copy()`, `blend()`, and `pixels[]` change when `pixelDensity(2)` is run in `setup()` or does another function get added to adjust image functions to the High-DPI world?

*Do we add a function like `imageDensity()`?
*Does this affect more than `get()`, `set()`, `copy()`, `blend()`, and `pixels[]`?

I think it's bes

[2015-06-08 17:04] REAS commented on #3358
@benfry Is this something you have have from here, or should, James, @alignedleft, or myself work up a UI diagram?

[2015-06-08 17:08] REAS opened #3365 "send list of installed Libraries, Modes, Tools, and Examples when update checking"
Should we add something to include the library/mode/tool list (and versions) when checking for updates? We’ve discussed it before, but haven't made a hard decision.

[2015-06-08 17:50] benfry commented on #3364
My general thoughts are as follows:
* Images load and may look a little ugly since `image()` draws them at the same on-screen size whether retina or not. This looks fuzzier on retina if it's not a high-res image. But this preserves the same code across different screens.
* The easiest way to support retina is to load images that are 2x the size, and they'll just be scaled down for 1x situations. S

[2015-06-08 18:02] x3sp3d3s commented on #3084
Sorry for the delay. The project is closed, to many errors and bugs.. Thx
for help!!

2015-06-03 23:35 GMT+02:00 codeanticode <notifications@github.com>:

[2015-06-08 18:09] #3084 closed

[2015-06-08 18:24] aengelke commented on #3362
It comes from the major changes to the PDE... these modes are not updated (yet).

[2015-06-08 18:42] benfry commented on #3361
Gonna close this, I think we're all on the same page. We can reopen if we need to revisit.

[2015-06-08 18:42] #3361 closed

[2015-06-08 18:48] benfry commented on #3358
I'm all set, thanks.

[2015-06-08 18:56] benfry commented on #3362
Duplicate of https://github.com/processing/processing/issues/3080

[2015-06-08 18:56] #3362 closed

[2015-06-08 19:46] joelmoniz commented on #3080
A tiny little update on this issue: @Manindra29 and I have managed to determine the exact cause of this error, and the set of changes that need to be made to avoid this issue. The issue can be resolved without any changes to the PDE, but with changes only to the modes themselves. Of course, this is only for the [Template Mode](https://github.com/martinleopold/TemplateMode) (for which I've submitte

[2015-06-08 19:55] benfry commented on #3080
Added a better error message for this for the next release (alpha 10 or beta 1, whichever it happens to be).

[2015-06-08 19:56] benfry commented on #3273
Closing as duplicate of https://github.com/processing/processing/issues/3080

[2015-06-08 19:56] #3273 closed

[2015-06-08 20:08] shiffman commented on #3364
This makes sense to me and I think is the right place to start.  I don't think we should try to have an automatic magic naming / loading system.  I'm not against the idea of a library to help manage auto-retina image loading, but I don't think we want it in core.

This solves it in my head for `image()`, `get()`, `set()`, `copy()`, `blend()`, however, I am completely confused as to what happens he

[2015-06-08 20:40] benfry commented on #3364
`width` and `height` stay the same, so that all non-pixel operations work.

For pixel operations, there are three variables: `pixelWidth`, `pixelHeight`, and `pixelDensity`. So the code changes to:
[code]

[2015-06-08 20:43] benfry commented on #3364
...but now I realize this is all folly, and I should have used `loadPixels("2X")` or `ploadPPixels("P2X")`.

[2015-06-08 21:14] benfry commented on #3365
I think it's a good idea and should be harmless. Users can turn it off by unsetting the "don't check for updates" preference. Which is also noted in the FAQ.

[2015-06-08 21:28] shiffman commented on #3364
Ah, perfect, thanks for rehashing this again, I needed to hear about this again for it to all make sense.

Just to make sure I've really got it, let's say you forget to deal with `pixelWidth`, etc.

[code]

The result will be:

![screenshot 2015-06-08 22 23 16](https://cloud.githubusercontent.com/assets/191758/8045724/33d9ea40-0e2d-11e5-88b9-a317d69fec79.png)

And just like `smooth()`, `pixelDensi

[2015-06-08 21:43] alignedleft commented on #3364
Do we want to be able to switch `pixelDensity()` in `draw()`? I thought the idea was for it to be set once in `setup()` and not change.

The web world now differentiates between "display pixels" (used for rendering) and "CSS pixels" (used for measurement.  To clarify, I understand that `width` and `height` and all the existing terminology would represent pixels for measurement purposes, and (on hi

[2015-06-08 21:48] shiffman commented on #3364
@alignedleft yes that is correct, set once in `setup()` and not change.  Apologies if my note was misleading, I was providing ***incorrect*** code to understand what we cannot do.

[2015-06-08 22:13] benfry commented on #3364
Right, so we don't want to change it, because it also affects the rendering surface. This is the issue I'm referring to [here](https://github.com/processing/processing/issues/3361#issuecomment-109949617) as far as splitting 1) the way that the rendering surface draws with 2) the handling of pixel operations.

Originally, they were separate, and we had `PGraphicsRetina2D` as the renderer and then `

[2015-06-08 22:30] benfry commented on #3361
Ok, one last item for the docs: `pixelDensity(2)` should be called *after* `size()` or `fullScreen()` (or otherwise setting the display. It needs the display to be set before running so that it can put up a warning for people who try to do retina on non-retina devices.

[2015-06-08 22:47] benfry commented on #3331
Fixed for 3.0a10.

[2015-06-08 22:47] #3331 closed

[2015-06-08 22:48] benfry commented on #3309
Should be fixed for 3.0a10.

[2015-06-08 22:48] #3309 closed

[2015-06-08 22:50] benfry commented on #3271
This issue was fixed for 3.0a9, or if not, the fix will be in 3.0a10.

[2015-06-09 10:47] alignedleft commented on #3358
I am working on wireframes for this.

[2015-06-09 13:16] benfry commented on #3358
No need to—it'll just be a web page to open up a window with a "get started" at the bottom. Y'all can go to town on the web page once it's all set.

[2015-06-09 13:45] benfry commented on #3333
Moving the discussion here: https://github.com/processing/processing/issues/3364

[2015-06-09 13:45] #3333 closed

[2015-06-09 13:47] benfry commented on #3305
Should be fixed for 3.0 alpha 10.

[2015-06-09 13:47] #3305 closed

[2015-06-09 13:49] #3264 closed

[2015-06-09 13:49] benfry commented on #3264
All set for 3.0 alpha 10.

[2015-06-09 13:51] benfry commented on #3326
Should be sorted out for 3.0 alpha 10.

[2015-06-09 13:51] #3326 closed

[2015-06-09 13:59] benfry commented on #3118
Thanks for reporting. Fixed for 3.0 alpha 10.

[2015-06-09 13:59] #3118 closed

[2015-06-09 14:00] benfry commented on #3082
Alright, this should now be fixed with major updates/fixes/changes that I put in 3.0 alpha 10. Phew!

[2015-06-09 14:00] #3082 closed

[2015-06-09 14:01] benfry commented on #2573
@codeanticode Is this officially set?

[2015-06-09 14:01] benfry opened #3367 "smoothing is no longer working with P2D and P3D"
In the current source, everything is showing up aliased. Need this before we can get alpha 10 out the door.

[2015-06-09 15:31] codeanticode commented on #3367
fixed with https://github.com/processing/processing/commit/fec548b82deed49bd7b90af56fcac46b7c79636c

[2015-06-09 15:31] #3367 closed

[2015-06-09 15:32] codeanticode commented on #2573
Yes.

[2015-06-09 15:32] #2573 closed

[2015-06-09 15:33] codeanticode commented on #1278
@yousifucv if you have the chance to run some tests using the latest revisions from, let me know if you find any other issues with orthographic projection. Thanks a lot!

[2015-06-09 16:06] benfry commented on #3367
Thanks!

[2015-06-10 12:19] joelmoniz opened #3369 ""Mode Problems" dialog does not display properly when an incompatible mode is selected"
When an incompatible mode is selected, the error trace on the dialog that appears displays horizontally rather than vertically:

![image](https://cloud.githubusercontent.com/assets/4526417/8082109/c7ef44b4-0f8b-11e5-932d-e1db6ad7b76e.png)

[2015-06-10 12:36] #3369 closed

[2015-06-10 13:06] StanLepunK opened #3371 "Processing crash with opening sketch with bad name."
P 3.0a10 / OSX 10.9
When I try to open a sketch with aname different of the folder sketch, Processing crash. May be it's normal, but it's a problem when you've open an other sketch unsaved, you lost your work.
![capture d ecran 2015-06-10 a 15 01 30](https://cloud.githubusercontent.com/assets/3332269/8083017/01cc3a98-0f82-11e5-9904-45b471ad90d1.png)
![capture d ecran 2015-06-10 a 15 01 50](https:/

[2015-06-10 15:35] codeanticode commented on #1278
@alignedleft I already updated the example and reference.

I no one has any further comments, I will close this issue in the following days.

[2015-06-10 15:55] clankill3r commented on #257
While the gates of hell are still open I have to say something about this:

etc. etc. etc.

This is not the case if the class will be structured like this:
[code]

Here is an example that works in the pde.

[code]

I think doing it like that would be really great cause it would allow for a particle library for example that can still work with PVector.

[2015-06-10 16:04] benfry commented on #257
That's far, far too complicated for the target audience of `PVector`. And we never use templating anywhere in the API, because it's much too obtuse for beginners (relative to its actual benefits).

The class is there for something simple. Immediately past that, people can make their own versions of it (the code is of course available), or subclass it in more basic ways.

[2015-06-11 01:51] jddamas opened #3373 "Nevermind"
nevermind

[2015-06-11 01:51] alignedleft commented on #3365
@REAS to clarify:  We currently just check for updates to the IDE.  Are you proposing also auto-checking for updates to all installed contributions?

I think this would be great, but it would require auto-downloading contribs.txt every time the IDE is opened (or once a week, or once per whatever time period is set).  Is @benfry OK with that additional hit to the server?  This would also involve mo

[2015-06-11 01:52] jddamas commented on #3373
Also, the reference page referenced on the error leads to a 404 page does not exist.

[2015-06-11 01:54] alignedleft opened #3374 "Add reference page for pixelDensity()"
See @benfry's final comments in #3361.

[2015-06-11 01:55] #3374 closed

[2015-06-11 02:13] #3373 closed

[2015-06-11 11:36] rala72 opened #3375 "Re-sizing ccreen not the expected size"
Processing 2.2.1
Windows 7

    if (width==screenX) {
      size(displayX, displayY);
      frame.setSize(width, height);
      borderMaxX=displayX-borderX;
      borderMaxY=displayY-borderY;
    } else {
      size(screenX, screenY);
      frame.setSize(width, height);
      borderMaxX=screenX-borderX;
      borderMaxY=screenY-borderY;
    }

full code:
http://txt.ralaweb.bplaced.net/report/proce

[2015-06-11 11:44] benfry commented on #3365
Yeah, we're already doing that, it's the only way to keep the contribs up to date.

The thing to be implemented is to send a list of the user's currently installed modes/libraries/tools (and versions?) so that we understand what people are using and where to focus our efforts on getting things updated/fixed/improved.

[2015-06-11 12:44] eric-brechemier commented on #3365
@benfry There should be a different checkbox for the submission of user's config, separate from the permission to check for updates.

For example, Firefox has currently two checkboxes in `Preferences > Advanced > Data Choices`, each associated with a link to 'Learn More':

* [Enable Firefox Health Report](https://www.mozilla.org/en-US/privacy/firefox/#health-report)
* [Enable Crash Reporter](https

[2015-06-11 14:43] benfry commented on #3365
Firefox also has 10x as many preferences as us. It's not like this is sharing personal information, and if people want to shut it off, they can.

[2015-06-11 14:58] eric-brechemier commented on #3365
@benfry I personally feel uncomfortable with this change: while the [FAQ](https://github.com/processing/processing/wiki/FAQ#why-is-processing-connecting-to-the-network) states that the check for updates sends a uniquely identifying number, which is arguably a limited breach of privacy when used in isolation, sharing the list of Libraries, Modes, Tools, and Examples that I installed over time could

[2015-06-11 15:01] benfry commented on #3365
The feature doesn't exist yet, so the FAQ hasn't been updated, nor has the phrasing of the text used in Preferences.

[2015-06-11 15:36] eric-brechemier commented on #3365
@benfry I am aware of that :) I do not expect the FAQ to describe a future implementation. While I feel OK with the current behavior as it is described in the FAQ, I am wary of the extension of the data collection in the name of "checking for updates".

[2015-06-11 15:49] REAS commented on #3365
We feel that this information is important for the development of the software, so I think people who are uncomfortable with it can and should flip the switch in the preferences.

[2015-06-11 18:14] alignedleft commented on #3358
@benfry I'm not sure I understand how this will work as a web page, but here are two concepts for the in-app welcome screen.

![screen shot 2015-06-11 at 11 13 41 am](https://cloud.githubusercontent.com/assets/1034002/8114659/fd535588-102a-11e5-8c56-1639e3ade067.png)

![screen shot 2015-06-11 at 11 14 02 am](https://cloud.githubusercontent.com/assets/1034002/8114665/00f8d65e-102b-11e5-8898-493ceb4

[2015-06-11 19:03] alignedleft commented on #1278
@codeanticode I didn't see those edits, so I went ahead and applied them. This should be all set, but I will let you close the issue.

[2015-06-11 22:04] alignedleft commented on #3365
On the web side, we probably need a PHP script or other way to receive and log the IDs of the installed contributions. Does that sound correct, @benfry? We could even consolidate things, so instead of one check for IDE version and one for all contributions, all values are returned from a single call to the server.

[2015-06-12 10:54] clankill3r commented on #3375
Can you bring this question to the forum:
http://forum.processing.org/

[2015-06-12 11:04] clankill3r opened #3377 "Rendering differences in OpenGL between 3.0a5 and 3.0a10"
mac os x 10.10.3
processing 3.a10

without OpenGL:
![screen shot 2015-06-12 at 12 50 54 pm](https://cloud.githubusercontent.com/assets/738650/8128770/7e794abe-1102-11e5-914d-e972669ac952.png)

with OpenGL: (P2D and P3D look the same so 1 image)
![screen shot 2015-06-12 at 12 50 28 pm](https://cloud.githubusercontent.com/assets/738650/8128780/9ab66a72-1102-11e5-8394-04bc553ac850.png)

-A lot of lin

[2015-06-12 11:40] clankill3r opened #3378 "clear() is broken"
https://processing.org/reference/clear_.html

Instead of a transparent background it results in a black background now.
The code from the link above is good to reproduce the problem.

Mac os x 10.10.3
processing 3.a10

older processing:
![screen shot 2015-06-12 at 1 38 59 pm](https://cloud.githubusercontent.com/assets/738650/8129320/7238f32a-1108-11e5-974c-13e463f0eacf.png)

current processing:
![

[2015-06-12 14:01] StanLepunK opened #3379 "Fail to load SVG in P3D"
Procesing 3.0a10, 3.0a9, 3.0a8
OSX 10.9 / iMac 2012
[code]
Problem to load.
the consol return:
ClassCastException: processing.opengl.PGraphics3D cannot be cast to processing.opengl.PGraphics

for Processing 3.0a7
[code]
Problem to read
the consol return: NullPointerException

Work fine with file.obj, P2D and Processing 3.0a5.

@codeanticode The war versus openGL continue !

[2015-06-12 14:24] shiffman opened #3380 "sketches using the default renderer not grabbing focus by default"
I believe they should?   Otherwise the user has to alt-tab out of the sketch and find the stop button.

I'm testing with this code:

[code]

Testing on Mac OS X 10.10.3

[2015-06-12 14:25] shiffman opened #3381 "fullScreen(SPAN) only showing up on display 1"
This code:

[code]

I'm only seeing the results on display 1.  Using macbook pro OS X 10.10.3 with some casio projector via HDMI.   Same true for `P2D` and `P3D`.

[2015-06-12 14:32] benfry commented on #3381
What's your display arrangement like? I've tested this quite a bit with 10.10.3 and it was working correctly. It was fixed the day before the release, so also make sure your repo is all up to date.

[2015-06-12 14:33] benfry commented on #3380
It's probably a focus problem. If you click in the window it should work. (But certainly a bug since it should be grabbing focus by default.)

[2015-06-12 14:52] codeanticode commented on #3377
The actual rendering was not changed from 3.0a5 to 3.0a10, would you post a simple test skecth that shows the discrepancies between the two versions?

[2015-06-12 14:53] codeanticode commented on #3379
Thanks for the report, will look into it.

[2015-06-12 15:33] codeanticode commented on #3378
which renderer are you using?

[2015-06-12 19:11] benfry commented on #3379
@codeanticode This may be due to the changes I made to remove the several copies of `loadShape()` that were sprinkled around OpenGL.

[2015-06-12 19:48] codeanticode commented on #3379
yes, thanks for the reminder. It is now fixed with https://github.com/processing/processing/commit/f0f95585235b9043a82c7f862bd6c2c8547f8fbf

[2015-06-12 19:48] #3379 closed

[2015-06-12 20:02] clankill3r commented on #3378
Good point. I tested and it happens in the default as well P2D and P3D.

[2015-06-12 20:05] clankill3r commented on #3377
Maybe the problem was also there in 3.0a5.
I didn't use OpenGL for quite some time.
Maybe it's also due the strokeWeight I used.
Anyway, I will make a bare bones example asap!

[2015-06-12 20:20] codeanticode commented on #1278
Hi Scott, sorry I did the chances but forgot to push them :-) And then I pushed a conflicted file :-O but everything is fixed now!

[2015-06-12 20:20] #1278 closed

[2015-06-12 20:46] shiffman commented on #3380
Confirmed that ESC does indeed quit the sketch after you click in.  Updating the title of this bug report.

[2015-06-12 20:48] shiffman commented on #3381
It was clearly working in that the circle appeared half on display 1. But I didn't see the second half of the window on display 2.  I came across while teaching a workshop and showing new 3.0 features.  So I wasn't able to dig into it too deeply.  I'll try to again soon. It was a standard setup: mac laptop connected to projector, mirroring turned off, laptop was display 1, projector display 2, res

[2015-06-13 14:29] benfry commented on #3381
Is it possible that you didn't have the projector plugged in when you started Processing? Trying to figure out where I might start looking into this.

[2015-06-13 14:31] benfry commented on #3375
This isn't a bug, please use http://forum.processing.org for programming questions.

[2015-06-13 14:31] #3375 closed

[2015-06-13 14:35] shiffman commented on #3381
yes, I believe that was the case!

[2015-06-13 21:07] #2739 closed

[2015-06-13 21:24] #2617 closed

[2015-06-13 21:24] benfry commented on #2617
Fixed for beta 1.

[2015-06-13 21:25] benfry commented on #2738
Fixed for the next release (beta 1?)

[2015-06-13 21:25] #2738 closed

[2015-06-13 21:27] slambert commented on #2617
Exciting! Thanks.

[2015-06-13 21:31] benfry commented on #2617
Workaround in the meantime is that if you call `textFont()` again inside `draw()`, it should work properly. (I recommend using alpha 10, which also has a lot of updates for retina support and this sort of thing.)

[2015-06-13 21:39] codeanticode opened #3382 "implement better way to select GL profile"
Right now, a GL profile can be set by using the static field PGL.profile like so:

[code]

(see [this sketch](https://github.com/codeanticode/pshader-experiments/blob/master/TerrainTess/TerrainTess.pde) for a complete example). This is obviously not a good solution, and although setting the GL profile is a feature only of interest to advanced users, the focus given to full-screen desktop applicati

[2015-06-13 23:23] benfry commented on #3382
Let's not use the `{ PJOGL.PROFILE = 4; }` syntax anywhere public. It's absolutely dreadful form.

If this has to be done, write a custom `settings()` method and call it from there (and in doing so, move `size()` and the other methods that are automatically moved into `settings()` there as well).

Since it's for advanced users anyway, they can start understanding the way that `settings()` works.

[2015-06-14 00:46] benfry commented on #3308
At the moment, that loop exists as a convenience to not show a window until `setup()` (the first frame) has finished. If that method takes a while, and we show the window before it's done, we run the risk of a blank window until the first frame is complete.

In Java2D it's working (in a10), but how can we get around these issues for OpenGL? Even if we need to show the frame for GL so that it has a

[2015-06-14 04:58] JukePlz commented on #3378
May be related to #3317

[2015-06-14 07:01] JukePlz opened #3383 "Drag and Drop & "Add File" broken for .pde files in 3.0a10"
This was working fine on Processing 2.x, now dragging a .pde file into the editor will return an error. The file is added correctly to the sketch folder but the editor doesn't refresh the changes and pops up this dialog:

![drag_ _drop_problem_2015-06-14_03-59-47](https://cloud.githubusercontent.com/assets/8497884/8147606/361cbef6-124a-11e5-9cf9-fc310a780b30.png)

This also prints into the console

[2015-06-14 10:28] GKFX commented on #2760
Just to say I'm doing this now.

[2015-06-14 12:11] rapatski commented on #3222
Hey guys, I'm running into this issue running the newly released 3.0a10 upon load of a sketch. Choosing Yes recursively prompts another dialog, choosing No resumes normal behaviour until the IDE loses focus and gains focus again - prompting the dialog again. Tried deleting my (heavily customised) preferences file but to no avail; a fresh preferences file elicits the same behaviour. Debugger disabl

[2015-06-14 12:16] rapatski commented on #3222
OK, narrowed down the issue only to occur on sketches stored on my secondary FAT32 formatted partition. The same sketch stored on the main HFS+ partition seems to work fine.

[2015-06-14 12:36] GKFX commented on #3303
@matiasw Can you test a sketch like the following on your machine, to see if your bug is the same one I'm seeing? Correct images are saved to the sketch folder when exported Linux→Linux or Linux→Windows, but there's no visible window, so you have to kill it. Window displays fine in the PDE.
[code]

[2015-06-14 13:12] clankill3r commented on #3377
Here is one to start with:
The text doesn't appear.
If i make the size a bit smaller like 1000, 1000 then it appears so this might be monitor size related.
My monitor is 1680x1050.

[code]

Update: I figured that the content is pushed away upwards if the window is to large:

![screen shot 2015-06-14 at 2 59 38 pm](https://cloud.githubusercontent.com/assets/738650/8148635/2f285d42-12a6-11e5-8bfd-05

[2015-06-14 13:13] clankill3r commented on #3377
2nd. About the lines:

In this sketch the line is drawn 50% of the time in P3D and 100% of the time in the default renderer.

[code]

[2015-06-14 13:18] pvrs12 commented on #3222
I'm sure this has to do with this code
[code]
I don't know if it is possible to detect the partition type that a file is stored on, but I'm sure that's the issue here

[2015-06-14 15:16] neilcsmith-net opened #3384 "Concurrency issues in OpenGL renderer"
I'm currently trying to track down an occasional issue in Praxis LIVE when PGraphicsOpenGL and/or PShader instances are disposed of.  Every now and again this breaks rendering entirely.  That this isn't consistently repeatable would point to a concurrency issue.

A possible cause might be the finalize*() methods in PGraphicsOpenGL. The comments correctly recognise that finalization happens on a se

[2015-06-14 21:57] matiasw commented on #3303
@GKFX I could export and run that sketch fine with Processing 3.0a5 on Debian Sid. I got a visible window, same as when running the pde from the IDE, and was able to exit from that with Esc/Stop button in the IDE.
Under 3.0a10, I get no window running from the IDE, but the sketch runs and the frames are saved fine, as you say. Exporting, the OS X option is grayed out. Running the exported Linux64

[2015-06-15 06:00] Bektash opened #3385 "Editor Height"
Using 3.0a10, Windows 8.1, and screen size 1920x1080. Changing 'editor.window.height.default' to any value above 710 pixels increases the height of the console to about half of the PDE window height.

[2015-06-15 06:45] mmayo888 opened #3386 "Exceptions thrown when AndroidMode is added"
Platform: Mac OS X 10.10.3
Processing version: latest build from github

If I choose "Add Mode..." and select "Android Mode 3.0.1" from the menu, the AndroidMode files download but they fail to install. Instead, the following exception is thrown:
[code]
If anyone has a solution for this problem, that would be great thanks
Mike

[2015-06-15 07:03] mmayo888 commented on #3386
apologies this is a duplicate of:
https://github.com/processing/processing-android/issues/108

Mike

[2015-06-15 07:03] #3386 closed

[2015-06-15 11:45] benfry commented on #3222
Please open a separate issue for this.

[2015-06-15 12:36] rapatski opened #3387 ""Your sketch has been modified..." appearing on OS X when sketches are stored on FAT32 volumes"
With any sketch that stored on my FAT32 partition, Processing (3.0a10) prompts the "Your sketch has been modified externally..." dialog whenever the sketch's IDE window gains focus.

![screen shot 2015-06-15 at 13 32 03](https://cloud.githubusercontent.com/assets/1821058/8159941/6a9a9c74-1363-11e5-8f9a-443f2d560f8c.png)

[2015-06-15 12:41] benfry commented on #3381
Tested adding and removing the display and it's still working fine for me. There was a bug in the preferences window that I just fixed, but I can't get `fullScreen(SPAN)` to break.

[2015-06-15 12:45] benfry commented on #3387
If someone is interested in looking into this, the issue is that the time reported by the file system is out of sync, since there are resolution differences between FAT32 and HFS+ and the rest. Need to take a look at the time deltas to see if it's something specific that we can pinpoint (the way that OS X-specific 1000L check works in the source) or if we just need to expand the time window in gen

[2015-06-15 13:33] shiffman commented on #3381
let's close this for now and I'll re-open if I (or someone else) can reproduce?

[2015-06-15 14:36] benfry commented on #3381
Ok, though any chance you can get access to that projector again and see if you can reproduce?

[2015-06-15 18:08] prisonerjohn commented on #3353
Some more information on this:

In the current setup, if a contribution is listed in more than one category, it is duplicated in the contribs.txt file with two different ID numbers. See an example of this [here](https://github.com/processing/processing-docs/blob/master/contrib_generate/sources.conf#L162) and [here](https://github.com/processing/processing-docs/blob/master/contrib_generate/sources.

[2015-06-15 20:13] alignedleft commented on #3353
This idea sounds great to me. @Akarshit is this something you could help us implement while you are working on the CM?

[2015-06-15 20:48] shiffman commented on #3381
Sadly no, it was a one-time workshop at a school, won't be headed back there anytime soon.  Will check on another projector with the same laptop soon though.

[2015-06-15 21:02] benfry commented on #3383
PDE X doesn't work with Processing 3 at all. Are you really running PDE X somehow?

[2015-06-15 21:12] benfry commented on #3125
Should be fixed in alpha 10.

[2015-06-15 21:12] #3125 closed

[2015-06-15 21:57] benfry commented on #2963
I think I like:
* `attrib()` for the default fellas
* `attribColor()`
* `attribPos()` (or position? or?)
* `attribNormal()`
With the idea being that it helps self-document the code (which helps with reading and debugging). So instead of a one-time init function that sets the type, this does it automatically behind the scenes the first time it's used.

[2015-06-15 23:41] benfry opened #3388 "Whither “frame” in 3.0"
Ok, @REAS @shiffman @codeanticode... outside of the [attrib() discussion](https://github.com/processing/processing/issues/2963), I think this is the last item to wrap on API for 3.0.

In the past, there's been a magic variable called `frame` that gives you access to the `JFrame` object in `PApplet`. With 3.0, that no longer exists, so we need to figure out how we'd like to deal with it. The Java2D

[2015-06-16 00:56] benfry commented on #53
This one's been implemented.

[2015-06-16 00:56] #53 closed

[2015-06-16 00:58] benfry commented on #320
Closing this, since we're moving away from the syntax being so similar as different languages are used. p5js is our focus instead of processing.js, and that's not identical code. Android and desktop versions of Java are different enough that we're not just talking about a single implementation variable being the only different between the two.

[2015-06-16 00:58] #320 closed

[2015-06-16 01:06] benfry commented on #498
Not going to pursue this—we don't mess with `.java` files in any other way, and I'm not comfortable with breaking that general contract. The notion of adding libraries to the classpath based on `import` statements is unique to Processing, and makes sense to be used in connection with `.pde` files.

And there's a simple workaround, where users can add the necessary import to any `.pde` file itself.

[2015-06-16 01:06] #498 closed

[2015-06-16 01:15] #773 closed

[2015-06-16 01:16] benfry commented on #1622
@codeanticode is this done easily with JOGL? I suspect JavaFX can do it as well, though Java2D won't really do it properly.

[2015-06-16 01:26] benfry commented on #3381
Realized what this probably is... In System Preferences > Mission Control, there's an option called "displays have separate spaces". It's selected by default on recent versions of OS X, and probably breaks `fullScreen(SPAN)`.

![screen shot 2015-06-15 at 9 20 23 pm](https://cloud.githubusercontent.com/assets/1623101/8173992/607cec74-13a4-11e5-863c-fdb6886910bb.png)

I already had a note in my todo

[2015-06-16 01:42] benfry commented on #3371
I can't reproduce this. What are the steps to make this error happen?

[2015-06-16 01:43] benfry commented on #3341
This may be fixed in 3.0 alpha 10. If not, please re-file with an explanation of the problem and how to reproduce it.

[2015-06-16 01:43] #3341 closed

[2015-06-16 01:46] benfry commented on #3355
“Linux” is the short name that's appropriate here as @alignedleft points out. We use GNU/Linux in some others where the length makes sense, but I'd like to avoid the software becoming a place for a holy war over naming, where we sacrifice clarity for ideology.

[2015-06-16 01:46] #3355 closed

[2015-06-16 01:51] #3347 closed

[2015-06-16 02:02] benfry commented on #3303
Need something that actually demonstrates the problem. I can't see your code, and I'm not sitting at your machine, so I have nothing to work from. What's a short sketch that reproduces the problem?

[2015-06-16 02:04] benfry commented on #3294
I don't understand what this is, but I suspect it's preprocessor issues that were sorted out in alpha 10.

If not, please file a new bug with 1) a title that says what's broken, 2) a sketch that shows the problem, and 3) an explanation of why it's a problem.

[2015-06-16 02:04] #3294 closed

[2015-06-16 05:28] RetainCountZero opened #3389 "Processing 3.0a10 recognizes keyboard input only after a click into the sketch window"
Processing 3.0a10 seems to recognize any keyboard input only after the frame has at least been clicked once.
To reproduce the issue, try the following simple sketch:

    // setup
    void setup() {
      size(320, 200, JAVA2D);
    }

    // draw
    void draw() {
      line(0, height/2,width, height/2);
    }

    // keyboard events
    void keyPressed() {
      println("You pressed key: " + key

[2015-06-16 05:59] monkstone commented on #3388
This discussion interests me for ruby-processing, I have created a fairly functional version of [ruby-processing-3.0](https://github.com/monkstone/ruby-processing-3.0) ie ruby-processing using processing-3.a10. I needed some way of setting the sketch title, otherwise I got `org.jruby.proxy.processing.core.PApplet$Proxy1` in the window title. So under the hood I accessed surface and supplied the us

[2015-06-16 06:15] REAS commented on #3388
I think that I'm in favor of the `surface.setTitle()` approach as I understand it. For the first question, I'm in favor of option (1) in practice, but in favor of (4) in principle.

[2015-06-16 07:56] matiasw commented on #3303
I'm using the test sketch that's posted above.
With 3.0a10, no window but the frames get saved fine. Same behavior in exported app and IDE. Under 3.0a9, the sketch works completely in both the IDE and as an exported app.

[2015-06-16 08:17] JukePlz commented on #3383
To clarify, what I meant by PDE X is the new, default "Java" mode that ships with 3.x but this also seems to happen with the fallback "Java (2.0)" mode so I may be mistaken about that.

I will test on other Windows computers later to see if this is somehow specific to my system, my first suspect to cause something like this would be large file paths or special characters in them but I don't know e

[2015-06-16 09:01] shiffman commented on #3388
I don't think we want to pollute the core reference with these new methods so I'm in favor of `surface.setTitle()` over `setTitle()` etc.

In another dasy and age, I might have said that these are superfluous and a wiki page for how to dig into Java to do this stuff is fine, but in that Processing these days is more of a place for desktop application development I think it is nice to implemenent t

[2015-06-16 09:59] shiffman commented on #3381
Yup, indeed that setting is turned on for my machine.   Apologies that I'm not in my normal day-to-day life where I could easily check with a secondary display.

[2015-06-16 10:14] benfry commented on #3383
Fixed for the next release.

@joelmoniz This was in your "Add File" progress code... You can't run that stuff on another thread and just hope it finishes in time for it to be used. For data folder items it's no big deal, but a .pde file is used immediately by the environment, so you can't do that from a thread without waiting for the copy to finish.

[2015-06-16 10:14] #3383 closed

[2015-06-16 10:31] joelmoniz commented on #3383
Oops, sorry about that. I had not realized that this segment would be run when the user tries to drag and drop something in, nor had I thought about adding a .pde file. My bad :(

[2015-06-16 10:42] benfry commented on #3386
It's actually [this one](https://github.com/processing/processing/issues/3080), but thanks for the report. I've changed things up so that we can get better error messages about what's going on here.

[2015-06-16 10:47] benfry commented on #3080
@joelmoniz Probably better to start a 3.0 mode template as a foundation repo, with the help of @prisonerjohn

[2015-06-16 11:26] benfry commented on #3381
Marking this for beta since I think it's going to be fairly common (since it's the default on OS X).

[2015-06-16 12:00] benfry commented on #3381
Fixed for beta 1.

[2015-06-16 12:00] #3381 closed

[2015-06-16 12:51] benfry commented on #3303
@matiasw the sketch posted by @GKFX works fine for me from the PDE and when exported as an application on Ubuntu 14.04 (64-bit) with the code in the current source (and presumably, alpha 10).

Try exporting the Java VM along with your application and see if that fixes it.

[2015-06-16 12:58] #3378 closed

[2015-06-16 12:58] benfry commented on #3378
Fixed for 3.0b1.

[2015-06-16 13:08] benfry commented on #3255
Working with the current version of the source.

[2015-06-16 13:08] #3255 closed

[2015-06-16 13:21] benfry commented on #3317
Fixed for 3.0 beta 1, same issue as https://github.com/processing/processing/issues/3378

[2015-06-16 13:21] #3317 closed

[2015-06-16 13:22] benfry commented on #3028
Fixed since 3.0a6.

[2015-06-16 13:22] #3028 closed

[2015-06-16 13:26] benfry commented on #2510
Now working in 3.0a10. Updated for the 3.0 API changes:
[code]

[2015-06-16 13:26] #2510 closed

[2015-06-16 13:36] benfry commented on #3388
Thanks gents. I will proceed with option one and the surface variable. I'd been leaning toward option two but I may not have, uh, sold it very well.

[2015-06-16 13:40] shiffman commented on #3388
Oh oh, I see. Yes, actually better to not let the code run and require the change.  I think that's better as  don't want to map `frame` for the rest of our lives, especially given we'll be soon mapping both `frame` and `surface` for `highDensityVRLens8Xarea` soon enough.  As long as we can throw a nice warning with a clear explanation and instruction, I am all in favor of users requiring update co

[2015-06-16 13:54] matiasw commented on #3303
Same results: no window, frames are saved ok.

[2015-06-16 15:00] benfry commented on #3388
I'm fine either way, what do you guys think? The second will be more of a motivation to upgrade but could be a nuisance if people have to move between 2.0 and 3.0. The second option is less code and cleaner, but the first is nicest to users.

[2015-06-16 16:11] REAS commented on #3388
I am OK with (2) particularly if we can give a nice bit of information or a link to info. I don't have enough experience with this case to have a hard opinion. How does this relate to @monkstone's question about ruby-processing?

[2015-06-16 16:13] GKFX commented on #53
@benfry No it hasn't. "Copy as HTML", "Find next", "Find previous" and "Use selection for find" aren't done. I'll get on with it now.

[2015-06-16 16:23] cnoblejr opened #3390 "No sketch window OS X 10.10.3"
Tried old versions and 3.0 versions -- same thing.  Just beginning.  Have iMac 21.5" and Cintiq tables.  Sketch window is NOT visible on the Cintiq.  Tried mirroring displays, turned the Cintiq off -- still no sketch.

Can't even get started.

C

[2015-06-16 16:45] neilcsmith-net opened #3391 "Implement pre-multiplied alpha (aka. fix blending, etc.)"
At the bottom of this pull request (https://github.com/processing/processing/pull/2601) @benfry mentioned opening an issue about implementing pre-multiplied alpha, which I don't think was ever done? I certainly dropped the ball on following up.  It would be great if an official image mode for this was added (I'm currently sub-classing the GL renderer to achieve this).  Otherwise multiple layering

[2015-06-16 17:29] joelmoniz commented on #3080
Sure, I'd love to help out!

[2015-06-16 17:48] monkstone commented on #3388
Regarding setting sketch title I'm cool with any proposal (because I've got a working solution thanks to jruby ability to make `surface` available via `:field_accessor` and `setTitle` can then be used in all modes). But I'm interested if we can somehow call the window to close (like `frame.dispose`), for ruby-processing watch mode (without a System.exit).

[2015-06-16 19:44] shiffman commented on #3388
go with your gut @benfry I support both options!

[2015-06-16 21:06] benfry commented on #3388
`dispose()` should never be called on the Frame—whether by a language/host like Ruby or by a user with inside a sketch. Doing so won't shut down the renderers, the thread, the drawing surface, etc. This is why `exit()` exists, because it takes care of safely winding down the rendering thread and any other internal housekeeping. Any further discussion on that can happen elsewhere; it's not part of

[2015-06-16 21:11] benfry commented on #3390
Sounds like something better handled on the forum: http://forum.processing.org. There's nothing here that I can even begin to debug.

[2015-06-16 21:11] #3390 closed

[2015-06-16 21:40] benfry commented on #3364
Are we all set here? I'm not sure if there's anything that needs to change from our current setup, without causing more problems than it solves.

I think the one change would be to add the ability to call `pixelDensity(2)` on an image, which would make a 200x200 pixel source image into an image that had width/height 100x100 and pixelWidth/pixelHeight of 200x200, and then draw things accordingly. B

[2015-06-16 21:42] benfry commented on #3360
There's a workaround in 3.0a10 for this (rolling back to an older, buggier native app), but we still need to figure out what's going on here.

[2015-06-16 21:42] benfry commented on #3359
There's a workaround in 3.0a10 for this (rolling back to an older, buggier native app), but we still need to figure out what's going on here.

[2015-06-16 21:51] cnoblejr commented on #3390
Thx Ben, I’ll give it a shot.

C
On Jun 16, 2015, at 4:11 PM, Ben Fry <notifications@github.com> wrote:

Closed #3390 <https://github.com/processing/processing/issues/3390>.

—
Reply to this email directly or view it on GitHub <https://github.com/processing/processing/issues/3390#event-332540123>.

[2015-06-16 23:32] benfry commented on #3261
Another interesting point here is that the plugin can live inside Processing.app, under Library/QuickLook. No installation necessary.

[2015-06-17 00:05] benfry commented on #3356
Yeah, need to do this. But also requires reworking how pde.properties is handled, because this is the first real state information that's being added, and we need to make sure it doesn't get removed or rewritten when the breakpoints have been added.

Or maybe we put breakpoints in a separate file. Hm...

[2015-06-17 04:50] REAS commented on #3364
Yes, I think. To clarify, we will document `pixelWidth`, `pixelHeight`, and `pixelDensity` as Processing variables, like `width` and `height`

[2015-06-17 05:30] monkstone commented on #3388
@benfry I'm not proposing a dispose to be called from within the sketch, agreed this should be discussed elsewhere, as with issue with JAVA2D, which for the moment I'm hoping just goes away (as it sometimes just works). The watch mode listens for changes to a running sketch (on disk), closes the existing sketch including with frame.dispose and re-fires the changed version in the same thread.

[2015-06-17 05:39] shiffman commented on #3364
re: your question about `pixelDensity(2)` on an image I think we haven't had enough (any really) user testing of how these new concepts and capabilities will affect users so we should keep it as simple as possible and add only the global methods / variables.

[2015-06-17 10:31] joelmoniz opened #3393 "contributions.txt download progress bar still visible after download"
When a Contributions Manager dialog is opened (for example, to install a Library), and contributions.txt file finishes downloading, and another Contributions Manager dialog different from the first is opened (for example, this time to install a Tool), the progress bar is visible in the Tool Manager at the bottom right corner, although it is hidden in the Library Manager and the contributions.txt f

[2015-06-17 10:50] neilcsmith-net commented on #3391
To follow up with a simple, quick sketch that demonstrates the issue - comment out renderer as appropriate.

[code]
Result : incorrect OpenGL behaviour top, correct (seamless) Java2D behaviour below.

![blendtest](https://cloud.githubusercontent.com/assets/3975960/8205214/7ae0fb76-14e6-11e5-9eb5-1c3a5df2df58.png)

Incidentally, I believe that pg.clear() shouldn't be required, but P2D gives another

[2015-06-17 11:17] kasperkamperman opened #3394 "error message caused by curly bracket in a println string"
The code below give the following error: Found a { that's missing a matching }

[code]

[code]

The error warning algorithm doesn't seem to see that the curly bracket in the String is not part of the code. At least with multiple lines that do this.

Processing 3.0a10
OSX 10.10.3

[2015-06-17 12:01] radames commented on #3359
yes, I'm already using it, thanks! so far it's been ok! some of my students are using the same version for windows and they're facing some problems, but still need to help them to report it here!

[2015-06-17 12:17] JakubValtar commented on #3391
First of all P2D and Java2D use exactly the same blending function. Just initial colors and alpha channels are different, that's why your examples behave the way you observe.

You are correct in that Blend mode being `glBlendFunc(SRC_ALPHA, ONE_MINUS_SRC_ALPHA)` ignores the destination alpha, so if destination has 0 alpha, the destination color will still bleed into the result because (1 - SRC_ALP

[2015-06-17 12:40] benfry commented on #3394
Nuts, that's probably the new `size()` parsing. Will fix asap.

[2015-06-17 13:07] neilcsmith-net commented on #3391
You're right about Java2D surface being opaque in 3.0a10. This is a regression from 2.2.1 where it is transparent.  In either version, the output of that sketch in Java2D mode is the same!  It does not change the fact that blending in OpenGL is broken - the colour should be seamless in P2D and it is not.

The output of drawing (255,0,0,127) over (0,0,0,0) should be (255,0,0,127) assuming you want

[2015-06-17 14:04] JakubValtar commented on #3391
Please don't use 2.2.1 Java2D renderer as a reference. It was broken to such a degree that source and destination colors were swapped and random bits from memory were used as destination alpha.

Java2D and P2D now use the same blending function, so they are both broken. I believe this is the best we can do without pre-multiplied alpha.

To sumarize, we have:
- issue: PGraphicsJava2D off-screen buf

[2015-06-17 14:22] neilcsmith-net commented on #3391
I'm actually using expected behaviour as the reference!

Why do you believe this is the case?

Java2D default blending uses SrcOver, which is equivalent to -

1. multiply colour by alpha if necessary
2. equivalent of glBlendFunc(ONE, ONE_MINUS_SRC_ALPHA)
3. divide out alpha component if necessary (which is how you get back to 255,0,0,127 in my example)

P2D is doing glBlendFunc(SRC_ALPHA, ONE_MINU

[2015-06-17 14:48] alignedleft commented on #3393
Thanks, @joelmoniz.

I think we are doing away with this progress bar altogether as part of the CM UI redesign. I'm assigning this to @Akarshit for tracking purposes.

[2015-06-17 14:53] alignedleft commented on #3358
Here are updated concepts with revised wording, after some discussion with @REAS:

![p3 welcome screen concept 1](https://cloud.githubusercontent.com/assets/1034002/8210230/e28c8180-14c5-11e5-807b-3c0ea5965341.png)
![p3 welcome screen concept 2](https://cloud.githubusercontent.com/assets/1034002/8210234/e5b6c186-14c5-11e5-828f-4a2e94ec3172.png)

[2015-06-17 15:10] JakubValtar commented on #3391
Ah sorry, I forgot we are using SRC_OVER AlphaComposite instead of PImage blending function like the rest of blending modes. It is indeed not the same but still closest we can get with this color model.

It is a feature request because current color model is deliberately used with it's limitations and benefits in mind. You request something else which also has it's pros and cons.

[2015-06-17 15:45] neilcsmith-net commented on #3391
Fair enough!  Not my call, but it's frustrating when almost every bug report on here around blending is because of this issue.  I don't see what benefit justifies the bug above.

I'll keep maintaining my OpenGL renderer subclass for now to ensure my application doesn't break, but happy to get involved and/or push stuff back upstream when there's an active effort to fix this.

Nice title change! :-

[2015-06-17 16:19] REAS commented on #3358
I think they are great! What is the links?

Read about what's new in 3.0 -- [https://raw.githubusercontent.com/processing/processing/master/build/shared/revisions.txt] or is this also a new document?
What changed? -- https://github.com/processing/processing/wiki/Changes [Needs to be updated.]
"Read more about it" -- is this something new?

[2015-06-17 16:29] alignedleft commented on #3358
@benfry insinuated the links would point to new wiki pages, specific to 3.0.  I think these pages could be different from revisions.txt (less detailed) and also not the "something used to work and now it doesn't" page, although we could link to both of those.  I think we need two new wiki pages:

- What's new in 3.0 (high-level, not the nitty gritty of revisions.txt)
- Sketchbooks in 3.0 (explains

[2015-06-17 17:01] REAS commented on #3358
OK, agreed. I think "What changed?" should be the updated Wiki page. The other two pages will be entirely new. So, I think you or I should write them and Ben will do a technical review. Would you like to or shall I?

[2015-06-17 19:10] benfry commented on #3358
Yeah, revisions.txt is only for per-release changes—we'd never say "what's new? read these 1,533 lines to see what might have changed!" (actual count of lines since 2.2.1)

I think we update the [changes wiki page](https://github.com/processing/processing/wiki/Changes) to include what's in 3.0, the way we have with other releases. Or we can make a new page for 3.0 (or replace that page with only t

[2015-06-17 19:48] alignedleft commented on #3358
@REAS I'll take an initial stab at writing the wiki pages.

@benfry given that, it sounds much easier to use the wiki (vs. internal reference).  Let's not add anything else to your plate right now.

[2015-06-17 21:40] Bryce-Summers opened #3395 "Memory Leaks on Tool Exiting"
I have noticed that Processing 3 increases its system memory consumption when tools are opened, but it does not decrease its memory consumption when tools are closed.

My repeatedly opening and closing tools, I was able to have Processing go from taking up ~187, 276 K memory to taking up ~400, 000 K. If I continued in this manner, Processing 3 would have continued to use up more and more memory.

[2015-06-17 21:48] benfry commented on #3395
This is likely a red herring unless you're actually running out of memory. The garbage collector doesn't bother running until it actually needs to.

We don't have any PApplets in tools in the current release (3.0a10), so it also sounds like you're using an old version.

[2015-06-17 21:48] #3395 closed

[2015-06-17 22:35] Bryce-Summers commented on #3395
The PApplet is in the tool that I am currently developing.
I was just noting that bad things happened before I remembered to stop my PApplet on tool closure.

[2015-06-18 05:53] JukePlz opened #3396 "Enhancements to xxxxMode and textSize."
Currently these functions are hard to track and make it a pain to make portable method collections using them, there is no straightforward way to check the current state of this modes inside the main program without hacky solutions.

I propose the following changes.

- Make xxxMode (ellipseMode(),rectMode(),imageMode(),shapeMode(),colorMode(),textureMode(),blendMode()) and textSize() return the mo

[2015-06-18 10:23] shiffman opened #3397 "resizing PDE window from bottom-right corner moves (x,y) position of PDE"
Testing a10 and current source build, Mac OS X 10.10.3, Retina.

When I try to resize the PDE window from the bottom-right corder, the whole PDE jumps to a default position in my screen's window.  (Am I explaining this in an understandable way?)

[2015-06-18 10:41] undefinedMethod opened #3398 "Linux rsync build issue"
Issue with rsync as a Linux build dependency.

Attemped build on ArchLinux fails as rsync is required on the system to clean up the build before end of compilation. Rsync wasn't on my system and needed to be installed.

Build with Apache Ant executes fine after rsync installation. Maybe needs to be added to the Linux dependencies list or flagged up to users who may have issues building the source

[2015-06-18 12:06] benfry commented on #3397
Hm, not seeing anything like that. You sure you don't have something installed that's messing with window layout on your system?

[2015-06-18 12:10] benfry commented on #3396
Please don't mix unrelated requests in a single report.

textSize() is already included in push/PopStyle().

The xxxMode() functions are primarily intended to be set once per sketch, and when not, to have low overhead. Just call the xxxMode() function again if you need a specific mode.

[2015-06-18 12:10] #3396 closed

[2015-06-18 12:19] shiffman commented on #3397
Hmmm, I don't think so but will investigate!

[2015-06-18 14:13] codeanticode commented on #2335
Fixed since 3.0a10, probably by https://github.com/processing/processing/commit/43166615f1e4a0fa2d97a8d9e5f35becc24ee775. Tested on Windows 8.1.

[2015-06-18 14:13] #2335 closed

[2015-06-18 15:04] Akarshit opened #3399 "Missing scrolling in Sketch->Import library..."
When the no of libraries increase the height of the screen there is no way to go to those libraries which are not visible. OS - Ubuntu

[2015-06-18 15:53] alignedleft commented on #3399
@Akarshit can you post a screenshot? It's not clear to me what this means.

[2015-06-18 16:03] codeanticode commented on #3308
fixed with https://github.com/processing/processing/commit/8707194f003444a9fb8e00bffa2893ef0c2492c6

[2015-06-18 16:03] #3308 closed

[2015-06-18 16:09] Luxapodular opened #3400 "Loading Fonts in Initializer NullPointerExceptionError 3.0a10"
Hello All,
While working on processing.py, one of Jonathan Feinberg's unit tests for loading in the initializer rather than the setup function caused a NullPointerException error. I tracked the error back to processing 3.0a10. Here's the code which causes the error

[code]

while the "equivalent" code below runs with no errors.

[code]

seems to run all the way back to the ```die()``` and ```dispo

[2015-06-18 16:28] codeanticode opened #3401 "P2D and P3D windows behave strangely when larger than the screen size"
JOGL's [GLWindow](https://jogamp.org/deployment/webstart/javadoc/jogl/javadoc/com/jogamp/newt/opengl/GLWindow.html) has a peculiar way of handling sizes that are larger than the display: if the window's height surpasses the display's height, then the window's height is capped at the display's. In addition to that, the canvas is attached to the lower left corner so the contents come out of the view

[2015-06-18 16:29] codeanticode commented on #3377
Issue 1: canvas pushed up if window's height larger than screen's height. This is due to the way JOGL handles its native GL window. I just opened a separate issue about this: https://github.com/processing/processing/issues/3401

Issue 2: OpenGL has always renderered lines in this way. The problem is that you are using a sub-pixel line strokes, and the sampling sometimes loses the geometry if antia

[2015-06-18 16:29] #3377 closed

[2015-06-18 16:35] joelmoniz commented on #3399
Is this issue similar to #2535?

[2015-06-18 17:42] codeanticode opened #3402 "Dead link in wiki FAQ"
Under the "I know Java, is this Java? How do I use it that way?" section, discussion area links to
https://processing.org/discourse/yabb2/YaBB.pl?board=Integrate, which is no longer working.

[2015-06-18 18:03] codeanticode commented on #3384
Not sure how the resource disposal is causing the concurrency errors you are observing. It would be very useful to have a simple sketch that reproduces the issue, even if it is only some of the time, or at least a log of the error.

Just a quick note on how GL resources get deleted: the deleteFinalized*() methods are always called when a new resource of the same kind is created, so this ensures th

[2015-06-18 18:15] benfry commented on #3399
Yes: https://github.com/processing/processing/issues/2535

[2015-06-18 18:15] #3399 closed

[2015-06-18 18:16] benfry commented on #3402
This goes in processing-docs, not here...

[2015-06-18 18:16] #3402 closed

[2015-06-18 18:18] benfry commented on #3400
That's a bug in the code. You can't use `loadFont()` until `setup()`.

[2015-06-18 18:18] #3400 closed

[2015-06-18 18:19] benfry commented on #3308
That's great news.

[2015-06-18 18:26] benfry commented on #3384
The `dispose()` is a `PGraphics` method since it's necessary to do disposal, and it's handled by the `PSurface`.

Generally speaking, we should (and do) bend over backwards to not put the burden on users to call `dispose()` methods. It's a bad thing to add now, and on our side, it can lead to lazy implementations rather than fixing issues that we should be sorting out ourselves.

[2015-06-18 18:30] neilcsmith-net commented on #3384
On 18 June 2015 at 19:03, codeanticode <notifications@github.com> wrote:

Unfortunately, as with most concurrency issues, it's not generally
reproducible.  It's an occasional error - I'll work on getting an accurate
log for you if possible.  However, in tracing through the operations in the
code that happen when the bug is triggered, there's an obvious race
condition in finalization.

Just a quick

[2015-06-18 18:52] benfry commented on #3384
No, you're not hearing me: `dispose()` methods have no place for our target audience.

[2015-06-18 19:12] codeanticode commented on #3382
fixed with https://github.com/processing/processing/commit/445cb17ff76c2018e556410fddb28e695b93a583

[2015-06-18 19:12] #3382 closed

[2015-06-18 19:27] benfry commented on #3380
Fixed for the next release.

[2015-06-18 19:27] #3380 closed

[2015-06-18 19:28] benfry commented on #3389
Fixed: https://github.com/processing/processing/issues/3389

[2015-06-18 19:28] #3389 closed

[2015-06-18 19:30] neilcsmith-net commented on #3384
@benfry That would have been difficult! :-) Sorry, problem of replying via email - hadn't even seen your post when I replied to Andres.

I quite understand your viewpoint, hence suggesting WeakReference as an alternative as well. There is a minor issue that it's impossible to know when the Java object will be GC'd and release the GL resources as there's no pressure on Java memory.  This is related

[2015-06-18 20:06] joelmoniz commented on #2945
Ah, thank you. I'm almost done working on this, and should be able to file PR by tomorrow. Could you please clarify one small point for me? Does the sketchbook menu refer to File>Sketchbook, or to Sketch? I did some profiling, and the former does not seem to affect the start time at all, since the first time the sketchbook is actually walked searching for sketches is [here](https://github.com/proc

[2015-06-19 05:19] joelmoniz opened #3403 "Trying to import a contributed library adds in a blank import statement"
When trying to add import statements corresponding to a contributed library via `Sketch>Import Library...>(contributed library)`, only an import statement of the form `import .*;` gets added.

[2015-06-19 06:12] Akarshit opened #3405 "Not all updates are showing up when contribution.txt is not already present."
When running updates manager for the first time(without contribution.txt) it looks like this
![screenshot from 2015-06-19 11 39 18](https://cloud.githubusercontent.com/assets/7762605/8248062/2c449fca-1678-11e5-8603-83691555dd93.png)
and when running it the second time(with contribution.txt already downloaded) it looks like
![screenshot from 2015-06-19 11 40 34](https://cloud.githubusercontent.com/

[2015-06-19 09:25] shiffman opened #3406 "visually distinguish warnings from errors in the console"
Note the following code:

[code]

Produces one warning and one error.  These are distinguished in the editor with a yellow squiggly line and a red one.  However, in the console they appear equally as errors (though the tab is not colored red if only the warning is there.)   I see we have a preference to "show warnings" but should they also be visually distinctive if shown?

[2015-06-19 09:31] shiffman opened #3407 "import suggestions box needs design review"
The following could use a visual and interaction design upgrade to fit better with the overall PDE look and feel.  In particular, its placement is inconsistent and where/how to click is not clear.

![importsuggestions](https://cloud.githubusercontent.com/assets/191758/8250733/4cd252d2-166e-11e5-87f5-ad959547dd32.png)

[2015-06-19 09:46] shiffman opened #3408 "Erroneous "unexpected token if""
The following code:

[code]

correctly states `Missing left curly bracket "{"` on line 1 in the error console, however, upon running it states `unexpected token if` for line 2 in the red error bar.

![screen shot 2015-06-19 at 10 43 49 am](https://cloud.githubusercontent.com/assets/191758/8250957/3d1dc6b2-1670-11e5-9116-f719f26493fc.png)

If you give it some time (close to a minute later?), eventu

[2015-06-19 13:15] benfry commented on #2945
Sorry, I misspoke. It's for the methods that walk the sketchbook... These are for 1) getting the list of sketches (to put in the sketchbook window, in the past this was a menu, which is what I was referring to in the previous comment), 2) getting the modes, libraries, and tools. If you have a large sketchbook, or a lot of libraries installed, all or some of these can take a very long time to load.

[2015-06-19 13:29] benfry commented on #3407
Yep, thanks for posting. I'll put this on the list for James.

[2015-06-19 13:30] benfry commented on #3408
Yeah, this is because different preprocessing code is used by the live checking than the one used when you hit Run. Not sure how we square these—usually the latter is better, but this is a case where the former is giving us something more useful.

[2015-06-19 13:40] joelmoniz commented on #2945
Ah, thank you. As far as I could see, the walking is done just-in-time, when the user actually opens the Sketchbook window. I've profiled the code too, and though I had several large sketches (1+ GB each), this doesn't affect start time at all (the method call doesn't even show up on the profiler). I'll look into this a little more and make sure that this is indeed so.

There is one problem I'm fa

[2015-06-19 13:42] benfry commented on #3406
Yes, we should. I'll add it to the list.

[2015-06-19 14:07] joelmoniz commented on #3353
I think this might already be supported by the CM, since when it [parses the `category` field](https://github.com/processing/processing/blob/master/app/src/processing/app/contrib/Contribution.java#L247), it splits it up based on commas, and returns a List of Strings of valid categories?

[2015-06-19 15:57] alignedleft commented on #3405
For what it's worth: I understood from @prisonerjohn that contributions.txt (or contribs.txt) should already be bundled with the IDE when it's downloaded.  So, in theory, there would always be that pre-loaded, cached (but perhaps out-of-date) version available to the app. Of course, when a network connection is available, we want to download the latest copy and replace the cached one.

[2015-06-19 19:50] #3310 closed

[2015-06-19 19:51] benfry commented on #3310
Fixed for the next release (alpha 11? beta 1?)

[2015-06-19 23:44] mckennapsean opened #3409 "processing-java command line mode not working on Mac"
On a Mac when you run the `processing-java` command for a sketch, the Commander java application runs... and stalls, doing nothing. There is no output visible in any terminal window, so not sure how to debug it (or I would). No sketch window opens, and you have to kill the `processing-java` command to close the application.

Using the latest source, 3.0a10, and 3.0a9, me and [one other person](htt

[2015-06-20 02:18] benfry commented on #3409
Bummer... I could really use some help on this, especially a maintainer who was committed to making sure the command line version worked. For all the noise about it, I wish the people who use the command line version would do more to help out.

[2015-06-20 02:21] benfry commented on #3398
ArchLinux is billed as a super stripped down version of Linux. It's not something we support, and when someone uses it and sees rsync is missing will presumably do exactly what you did, and install rsync. I'd rather not get into covering every possible exception case in the build instructions. This one explains itself as it happens.

[2015-06-20 02:21] #3398 closed

[2015-06-20 02:23] benfry commented on #3397
Or maybe post a video of it if you can reproduce? I just can't get it to do anything like this, and 90% of my development time is on 10.10.3 w/ retina.

[2015-06-20 06:10] monkstone commented on #3401
[code]
Spooky weird, kind of wonderful though. On linux (Mint-17.1) original sketch refuses to run, so I modified as above. Window then displays to maximum available height (but scaled) ie lines to corners. Same true when I [maximise sketch (scaling but does no affect ellipse screen 1920x1020).]
(http://martinpblogformasswritingproject.blogspot.co.uk/2015/06/opengl-behaviour-processing-30a10-on.ht

[2015-06-20 12:05] benfry commented on #3315
I believe I've got this working again for the next release (a11).

[2015-06-20 12:06] #3315 closed

[2015-06-20 12:06] benfry commented on #3316
Now fixed for a11.

[2015-06-20 12:06] #3316 closed

[2015-06-20 12:06] benfry commented on #3303
Fixed for a11.

[2015-06-20 12:06] #3303 closed

[2015-06-20 12:40] GKFX opened #3411 "Java 8 features not working"
When I try to use a lambda expression in Editor.java, I get the message
[code]
Is this right? The compiler asks me to install Java 8 if I'm on Java 7, but then doesn't use its features.

[2015-06-20 13:38] aengelke commented on #3315
Just tested: JAVA2D is working, FX2D isn't (but that's another issue: `size() cannot be used here...`).

[2015-06-20 13:40] aengelke commented on #3316
@benfry This is not fixed on the latest commit on Linux. The sketch still sometimes doesn't show.

[2015-06-20 13:42] aengelke opened #3412 "Error on size() when using FX2D due to stage inset issues"
This sketch:

[code]

This error when running (a window appears): `size() cannot be used here ...`

[2015-06-20 18:19] benfry commented on #3412
FX2D isn't finished yet or announced and is broken in many ways.

In this case, the window's insets aren't properly being handled when sizing the FX Stage.

[2015-06-20 18:21] benfry commented on #3411
I don't know how we can be any clearer about this:
https://github.com/processing/processing/wiki/Supported-Platforms

[2015-06-20 18:21] #3411 closed

[2015-06-20 18:23] benfry commented on #3315
FX2D isn't finished yet, and is completely unsupported.

[2015-06-20 18:39] benfry commented on #3388
Ok, going with warnings for most methods that have equivalents in surface (option 2) though there are a couple situations where it has to halt, like `setUndecorated(boolean)` which is just unsupported. Should be all wrapped up for alpha 11.

[2015-06-20 18:39] #3388 closed

[2015-06-20 22:11] codeanticode commented on #2963
I like your idea. I would go with attribPosition(), although is somewhat long, because we don't use pos anywhere else, and we do use position as the built-in attribute to transfer the xyz coords to the vertex shader.

[2015-06-21 04:36] federicobond opened #3413 "ArithmeticException: / by zero when using textFont()"
It fails in `PFont.getDefaultSize` because `density` is 0.

[2015-06-21 08:23] paul59 opened #3414 "Sketch name not visible in menu"
The name of the sketch isn't visible on the Sketch menu unless the mouse is hovered over it.

![](http://s21.postimg.org/5uslxdg9z/grab.jpg)

3.0 alpha 10, Linux Mint 17 xfce

Maybe a window manager issue?

EDIT I forgot to mention my Java version: Java(TM) SE Runtime Environment (build 1.8.0_45-b14)

[2015-06-21 08:37] joelmoniz commented on #3414
Interesting. I don't seem to be getting this issue on Windows 8.1:

![image](https://cloud.githubusercontent.com/assets/4526417/8271025/298768b2-1812-11e5-887b-b17801392f57.png)

[2015-06-21 11:55] paul59 opened #3415 "Can't use 'Esc' to close sketch unless window clicked"
Processing 3 alpha 10, Linux Mint 17 xfce, Java 1.8.0_45:

Sketch windows don't respond to 'Esc' (to close) unless I click in the client area first, even though the window appears to have focus.

No such problem on versions 2.x

[2015-06-21 12:03] paul59 opened #3416 "keyboard shortcut for switching tabs on Linux conflicts with other window manager features"
The default shortcut is Ctrl + Alt + Left/Right but on Linux systems this is usually intercepted by the window manager for switching desktops.

I'm not sure about Windows these days (and no idea about Mac!) but is Ctrl + PgUp/PgDn not feasible (the usual shortcut for  tab movement in browsers, spreadsheets, editors etc)?

[2015-06-21 12:08] joelmoniz commented on #3416
With regards to Windows (8.1), it seems that this shortcut makes everything displayed on the monitor rotate by 90 degrees (counter/)clockwise.

[2015-06-21 12:35] aengelke commented on #3416
On GTK+, the default is Alt+1, Alt+2, ..., Alt+0

[2015-06-21 12:36] aengelke commented on #3415
Duplicate of #3389, which is fixed.

[2015-06-21 17:39] #3415 closed

[2015-06-21 17:42] benfry commented on #3413
Under what circumstances? I need some guess at what code causes this error.

[2015-06-21 17:52] #3413 closed

[2015-06-21 17:52] benfry commented on #3413
Fixed for alpha 11.

[2015-06-21 17:55] benfry commented on #2963
Works for me. I'm planning to push out an alpha 11 sometime today (or tomorrow), which is hopefully the last alpha before the first beta.

[2015-06-21 17:57] benfry commented on #3414
Looks like a window manager problem, and therefore out of our control. The menu works fine in Ubuntu 12.04 and 14.04.

[2015-06-21 17:57] #3414 closed

[2015-06-21 17:59] benfry commented on #3416
We're following what browsers (Chrome, in particular) use for switching tabs on a per-platform basis.

So what's used on Linux?

[2015-06-21 18:14] paul59 commented on #3416
Not sure about Chrome but Firefox uses Ctrl+PgUp/PgDn (as do many other applications).

[2015-06-21 18:17] paul59 commented on #3416
Just checked - *Chromium* uses the same ctrl+pgup/pgdn so I guess Chrome does too.

[2015-06-21 18:30] codeanticode commented on #3384
Ok, I found a better way to do resource disposal without relying on finalization, see the section "An Alternative to Finalization" in [this article](http://www.oracle.com/technetwork/articles/java/finalization-137655.html). Implementing it now, should solve the issues you have described since the glDelete*() functions are always called in the animation thread, and relies on weak references.

[2015-06-21 18:49] neilcsmith-net commented on #3384
Great!  I meant to share a link to that article with you. ;-) It's pretty much the suggestion at the top - the places I use that pattern I'm tending to use the "explicit" get() check rather than the "implicit" queue check - either would suit though.

Still think that making dispose() public (even if non-official API) would be a good move - GC is just not deterministic.

This should solve the concu

[2015-06-21 18:58] codeanticode commented on #2963
I'm working on https://github.com/processing/processing/issues/3384 right now, but will be great if we can include this into alpha 11.

[2015-06-21 19:50] benfry commented on #3363
I can no longer replicate this with the current source, after making a lot of changes to threading for #3315, #3303, and #3363. Fingers crossed...

[2015-06-21 19:50] #3363 closed

[2015-06-21 22:53] federicobond commented on #3413
Thanks! Sorry for not answering earlier. I was away from the computer.

[2015-06-22 03:08] benfry opened #3417 "SVG currently broken for Java2D"
LoadDisplaySVG example is broken because of in-progress reworking of PShape.

[2015-06-22 03:37] #3417 closed

[2015-06-22 09:59] StanLepunK opened #3418 "include name of sketch when asking user “Save sketch before closing?” "
Suggestion for the managing of the sketch unsaved when you close Processing.
May be that's be better if when you close Processing, Processing return the name of the file is not saved and ask if the user want save it, and after go to the next file unsaved.
![capture d ecran 2015-06-20 a 16 27 36](https://cloud.githubusercontent.com/assets/3332269/8279543/d1667820-18d5-11e5-95ae-7f4e8d64c6ec.png)

[2015-06-22 11:32] shiffman commented on #3397
I'm not sure what was going on but I can no longer reproduce this with the latest build from source.

[2015-06-22 11:32] #3397 closed

[2015-06-22 11:46] benfry commented on #3418
Processing already asks if you want to save. Are you saying that the dialog box should include the name of the sketch?

[2015-06-22 12:21] StanLepunK commented on #3418
Exactly, I think that's can be good that the dialog box include the name of the sketch. Sorry for my english.

[2015-06-22 12:27] prisonerjohn commented on #3353
Ok, that's great! I'll make the changes on my end and report back.

[2015-06-22 15:46] benfry commented on #2954
Just an update here...
* No need to deal with ExperimentalMode any more.
* It should be `examples.properties` not `examples-package.properties`.

[2015-06-22 15:49] benfry commented on #2953
Ok, I think we're ready to move ahead on this for the new `contribs.txt` used by 3.0. Will the change break 3.0a5? Regardlesss, I think we should move forward with it. We need to move on from a5 and a11 should get us there.

And as mentioned in that other post, it should be `examples` not `examples-package` for all relevant places that a file/tag/whatever is used.

[2015-06-22 16:21] joelmoniz commented on #2954
@benfry Ah yes. I'd forgotten to update the title name. I had (completely) renamed `examples-package` to `examples` in [this](https://github.com/processing/processing/commit/31a186ace3318d20fb88730a58cc95519548b9ab) commit (as a result of [this](https://github.com/processing/processing/issues/2953#issuecomment-63330444) discussion).

[2015-06-22 16:35] joelmoniz commented on #2954
@benfry It seems that contributed examples have been removed altogether from the Examples window. When adding them back in, under what heading do I list them? Here's what I see at present:

![image](https://cloud.githubusercontent.com/assets/4526417/8286992/fff09dea-191d-11e5-9685-9f0ce2cbde25.png)

So shall I add in one more folder at the bottom, that shows contributed examples? And what should i

[2015-06-22 18:41] #3403 closed

[2015-06-22 18:42] benfry commented on #3403
Now cleaned up in the current source with some additional tweaks.

[2015-06-22 18:47] benfry commented on #2954
The base issue here—examples not compatible when they don't specify `compatibleModesList` is now fixed.

Also, that entry in the .properties file is now `modes`, in keeping with the brief naming used everywhere else.

[2015-06-22 18:47] #2954 closed

[2015-06-22 19:02] joelmoniz commented on #2954
@benfry : Thank you. Should I open another issue for the contributed examples not being visible in the `Examples` window? I have a fix ready as well, but am unsure about how to title this in the JTree.

[2015-06-22 19:43] benfry commented on #2954
If there's an issue with that, yes.

[2015-06-22 20:07] joelmoniz opened #3420 "Contributed examples do not display in the Examples window"
At present, contributed examples do not seem to be displaying in the `Examples` window:

![image](https://cloud.githubusercontent.com/assets/4526417/8286992/fff09dea-191d-11e5-9685-9f0ce2cbde25.png)

[2015-06-22 20:09] benfry commented on #3420
And you're sure about this—are there any legitimate examples packages to even test against?

[2015-06-22 20:38] joelmoniz commented on #3420
Yeah. When I was testing out the Examples Manager for bugs, I'd created an examples package [here](https://github.com/joelmoniz/G4P_Examples) that consisted of code stolen, ummm... I mean borrowed, from the G4P library. It even contains a fake contributions.txt that I used to use to ensure that the Examples Manager unpacked, installed, displayed, updated downloaded examples properly. This package

[2015-06-22 20:45] shiffman commented on #2953
Ok, I have redone my examples package, hopefully correctly.  It's quite possible I made a mistake.  Here are the new URLs for `contribs.txt`.

http://shiffman.net/p5/examples/natureofcode.txt
http://shiffman.net/p5/examples/natureofcode.zip

[2015-06-22 20:52] joelmoniz commented on #2953
@shiffman : Could you please change the structure to:

[code]
etc.
[code]

Everything looks perfect once this is done :) :

![image](https://cloud.githubusercontent.com/assets/4526417/8292668/f43f0fee-1941-11e5-9555-0ed604e7b959.png)

[2015-06-22 21:16] shiffman commented on #2953
changed! (i think).  Let me know if I've done it correctly.

[2015-06-22 21:19] joelmoniz commented on #2953
Thanks! Looks fantastic :)

[2015-06-22 21:21] benfry commented on #2953
Cool, Also, `authorList` has now changed to `authors` (though `authorList` still works to keep compatibility)

[2015-06-22 21:23] shiffman commented on #2953
got it, fixing for whenever i do an update (but won't bother to reupload now)

[2015-06-23 00:44] #3365 closed

[2015-06-23 16:05] benfry commented on #2953
With the PR from @joelmoniz, are we all clear to close this one?

[2015-06-23 18:22] mrfrankism opened #3425 "Extra Byte being written by processing PrintWriter"
There is an extra byte added when you use the write function of the PrintWriter library in processing.
for example..

PrintWriter writer;
writer = createWriter(filepath.txt);
writer.print(char(165));
this would actually print two bytes which would be the equivalent of 194 and then 165.

I know that it prints two bytes because if you were to read from that same text file and printed it to the conso

[2015-06-23 19:43] mckennapsean commented on #3409
Okay, I was able to get sketches running by playing with [`Commander.java`](https://github.com/processing/processing/blob/master/java/src/processing/mode/java/Commander.java).

A few lines of code were stalling in that file: *e.g.* [`Preferences.init()`](https://github.com/processing/processing/blob/master/java/src/processing/mode/java/Commander.java#L225) since `Color` was not working in [Prefere

[2015-06-23 22:38] benfry commented on #3425
That's not a bug, as stated in the reference, the file is written using [UTF-8](https://en.wikipedia.org/wiki/UTF-8), which uses two bytes to write character 165.

[2015-06-23 22:38] #3425 closed

[2015-06-24 03:04] #3111 closed

[2015-06-24 03:07] Manindra29 commented on #3111
A local variable was shadowing a critical local variable. Relieved to see it was not something major.

[2015-06-24 03:13] Manindra29 commented on #3278
This occurs because presently there's no way for the eclipse compiler to differentiate between:
`int(4.0)` and `PApplet.parseInt(4.0)`. All 'int()' are replaced with `PApplet.parseInt()` during the preprocessing stage, and at the moment, no book-keeping is done to keep track of which parseInt calls replaced int() calls.

Tldr; it's one of the corner cases for error checking. If this is a relativel

[2015-06-24 03:30] Manindra29 commented on #3408
Another option can be to gray out the Run button if Java Mode reports compilation errors?

[2015-06-24 05:51] Manindra29 commented on #3416
The standard shortcut for switching between tabs I believe is Ctrl-Tab (next tab) and Ctrl-Shift-Tab (previous tab). This is standard across Chrome, Safari, Firefox, IE, Sublime Text.

Using Pg Up/Down is not intuitive for macbook keyboards (since they don't have a page up/down buttons)

[2015-06-24 06:23] Manindra29 commented on #3394
`((?<![\\])['"])((?:.(?!(?<![\\])\1))*.?)\1` can match all quoted strings ([source](http://www.metaltoad.com/blog/regex-quoted-string-escapable-quotes)). Might be useful here.

[2015-06-24 06:34] Akarshit opened #3426 "Update processing/build/formatter.xml for Eclipse"
The formatter is out dated and it would help to update it including the latest style guideines from [here](https://github.com/processing/processing/wiki/Style-Guidelines)

[2015-06-24 06:43] Akarshit opened #3427 "Getting Error: 500 from server when downloading contribs"
`java.io.IOException: Server returned HTTP response code: 500 for URL: http://download.processing.org/contribs`
Getting this error when fetching the link though the link works fine in browser

[2015-06-24 06:53] Manindra29 commented on #3313
Which version of Linux was this observed on? I couldn't reproduce this on Ubuntu 14.04 (JDK 1.8u45), latest master.

[2015-06-24 07:08] Akarshit commented on #3313
I am not sure about this issue, it stopped happening automatically.
It might have been there because of some unclean state i guess because i even observed it in 2.2.1 on my system, but everything is working fine now so i think it would be safe to close this

[2015-06-24 07:08] #3313 closed

[2015-06-24 09:27] shiffman commented on #3278
Ah, I see it's probably of an edge case but in theory it will pop up anytime there's an error at `int(__)`. Do we have the same issues with errors around `color()`?  My concern here is the use of `PApplet` which will cause confusion. So two ideas are:

* Grab the token before `PApplet.parseInt()`.  In this case it would then say `Error on ","`.
* Just change it to say `Unknown error` (or something

[2015-06-24 09:32] shiffman commented on #2953
I'm not seeing the nature of code examples show up in 238 (built from source).  I deleted `contribs.txt` and restarted just in case.  Did I miss something?

[2015-06-24 12:48] benfry commented on #2953
Oh, maybe @prisonerjohn still needs to turn them on in `contribs.txt`.

[2015-06-24 12:51] benfry commented on #3408
Hm, that's an interesting idea.

[2015-06-24 13:17] benfry commented on #3427
Try now?

[2015-06-24 13:55] mrfrankism commented on #3425
Ohh sorry see i didnt know that thank you for the clarification i will look into it more

[2015-06-24 14:29] benfry commented on #3427
And just fixed another problem. Hopefully we're set.

[2015-06-24 15:04] benfry commented on #3394
We have to match both quoted *and* unquoted cases, i.e. `P3D` or `"processing.opengl.PGraphics3D` so it's even worse than that.

[2015-06-24 16:30] Manindra29 commented on #3394
Then maybe try to match all the expected quoted strings, save any if found,
and then replace all quoted strings with spaces to avoid this issue?

There may be a simpler way though.
On Jun 24, 2015 8:04 AM, "Ben Fry" <notifications@github.com> wrote:

[2015-06-24 17:34] Akarshit commented on #3427
@benfry Yes it's working now, could you tell me what the error was, because it was working fine in the browser ?

[2015-06-24 17:34] #3427 closed

[2015-06-24 17:47] gtitaev opened #3428 "Change temp path"
If you can't fix it #1896 for 2 years.
Can you change the temp path from **"%TEMP%\"** to **"%TEMP%\Processing\"**?
For Windows platform.

[2015-06-25 07:42] Akarshit commented on #3405
@alignedleft Ok, i was talking about the case when the user deletes the contributions.txt from system because of some weird reason. But i guess that would be a very rare case and the updates would show when he restarts Processing, so i am guessing it would be safe to close this issue.

[2015-06-25 07:42] #3405 closed

[2015-06-25 09:47] Akarshit opened #3429 "Error during installation of any contribution"
The file is getting downloaded but not getting installed, i have checked the permissions of the folder also. Is anyone else getting similar error ?

[2015-06-25 10:31] cdaein opened #3430 "save() used inside a thread in P2D fails"
Processing 3.0a10, Mac OSX Yosemite.

Sameple code:

[code]

error message:
[code]

when I save without P2D inside a thread, it works.
when I save with P2D inside draw(), it works.

when I save with P2D inside a thread, it fails.

[2015-06-25 12:34] benfry commented on #3430
You cannot use the drawing surface from a thread. That's not a Processing bug but a fact of life with OpenGL.

[2015-06-25 12:34] #3430 closed

[2015-06-25 12:35] #3428 closed

[2015-06-25 12:44] prisonerjohn commented on #2953
I do, and will do that today.

On Wednesday, June 24, 2015, Ben Fry <notifications@github.com> wrote:

--
--
Elie Zananiri
@prisonerjohn

[2015-06-25 14:07] benfry commented on #3427
Just a bug in the server-side code that handles recording what contribs are in use. I had used the wrong syntax for escaping inputs to the database.

[2015-06-25 14:20] benfry commented on #2953
Thanks Elie, that'd be great.

[2015-06-25 14:22] benfry commented on #3429
I'm seeing that as well.

[2015-06-25 15:42] poqudrof opened #3431 "contributions to come: JavaCV and TUIO"
Hello,

I just read the processing "How to contribute" guide, and I found that I did some the elements in the TODO list.
The smallest contribution is small edit of [TUIO Processing](https://github.com/potioc/ProcessingTUIO) to be more flexible, and it is updated and pushed on maven.

The largest contribution is the integration of JavaCV in Processing. So here is a few "soon-to-come" contributions

[2015-06-25 15:57] poqudrof commented on #3179
Hello, I had a look into this issue for quite some time. Integrating Batik looks much more difficult than rewriting a SVG player in Processing and OpenGL.
If you want "better support", you can have a look in my [Processing fork](https://github.com/poqudrof/processing/releases/tag/2.2.1-svg). It supports the images as links in the SVG and embedded. I compiled it for Linux only, you can replace your

[2015-06-26 00:12] prisonerjohn commented on #2953
Ok just added Dan's NoC examples and they're showing up in the Contribution Manager. I was able to install the package successfully but it's not showing up in the list. Am I looking in the right place?

![screen shot 2015-06-25 at 8 11 12 pm](https://cloud.githubusercontent.com/assets/119702/8368302/70b6117c-1b76-11e5-8ef1-892721c3508a.png)

[2015-06-26 04:36] joelmoniz commented on #2953
I think that's because of #3429?

[2015-06-26 05:12] shiffman commented on #2953
I can confirm that I'm seeing an "error during installation"

![screen shot 2015-06-26 at 6 11 59 am](https://cloud.githubusercontent.com/assets/191758/8371114/4f86010c-1bca-11e5-8ae7-930e3349d9dd.png)

[2015-06-26 08:32] shiffman commented on #3286
I'm seeing the tooltip error again.  I haven't pinpointed it precisely, but I believe it's appearing during error checking (I was changing things quickly in code and lots of errors were appearing/disappearing.)  Should I re-open?

[2015-06-26 08:39] Manindra29 commented on #3286
This is unlikely to have anything to do with the error checking. This is being caused due to a bug in the tooltip handling for variable/methods tooltips.

[2015-06-26 08:57] shiffman commented on #2682
This is set for 3.0.

[2015-06-26 08:57] #2682 closed

[2015-06-26 09:21] JukePlz opened #3433 "Error console should throw warnings for filesystem functions used before setup()"
The following code works with absolute paths, but not with relative paths even if the file locations are correct:

[code]
image.png is any valid png image for processing.

This happens because the environment sets the working directory for the sketch only after setup().
This behavior is probably by design as function usage should only be done in or after setup/draw, but since the error message onl

[2015-06-26 09:34] shiffman opened #3434 "change undefined constructor error message for clarity"
The following code

[code]

produces two errors:

[code]

I propose changing the first constructor related error message to:

[code]

I think the full path of the inner class `sketch_150626b.Thing()`, though accurate, is confusing and unnecessary.  And since we're using "does not exist" with functions, we might as well be consistent.

[2015-06-26 09:51] shiffman opened #3435 "Tweak mode broken (re: new settings() function)"
I believe the new `settings()` function has broken Tweak mode with recent 3.0 revisions.  @galsasson, can you take a look or advise?

![screen shot 2015-06-26 at 10 50 23 am](https://cloud.githubusercontent.com/assets/191758/8374938/28455c6a-1bf1-11e5-9edb-f3e5233ad0df.png)

(FYI in 3.0, `size()` is moved to `settings()` in the preprocessor, a bit more here: http://beta.processing.org/reference/se

[2015-06-26 10:22] shiffman opened #3436 "displayDensity() not functioning properly?"
This works for me:

[code]

However, this fails:

[code]

`IllegalStateException: pixelDensity() cannot be used here`

And the following

[code]

`d cannot be resolved to a variable`

[2015-06-26 10:23] shiffman commented on #3436
Update, moving everything to `settings()` works fine.

[code]

[2015-06-26 11:50] benfry commented on #3436
Hm, that's not good. I'll take a look.

[2015-06-26 11:51] benfry commented on #3435
Is this only when tweak mode attempts to mess with `size()`, or perhaps that's all the time with tweak mode?

[2015-06-26 11:59] shiffman commented on #3435
All the time.  I couldn't get to the point of tweaking anything.  I think tweak mode does its own preprocessing with `size()` and that's conflicting with the new `size()` moving to `settings()`.  But I am speculating not looking at the code.

[2015-06-26 12:01] benfry commented on #3286
@Manindra29 are you working on this one?

[2015-06-26 12:09] benfry commented on #3429
@Akarshit Can you look into this one? It's much higher priority than the status panel, and I have very limited (and expensive) internet connectivity so I can't test downloading things.

[2015-06-26 12:11] benfry commented on #3435
Ouch, ok. We'll probably need to have tweak explicitly ignore the `size()` and `fullScreen()` methods.

[2015-06-26 12:47] #3436 closed

[2015-06-26 12:48] benfry commented on #3436
Now fixed, though we'll probably need to add the "no variables" caveat to the reference. There isn't a good way to make this work:
[code]

[2015-06-26 13:08] shiffman commented on #3436
That's actually from the reference, will open a processing-docs issue

[2015-06-26 13:09] shiffman commented on #3436
Does this mean you can't say

[code]

either?  But it's ok if you go ahead and use `settings()`?

[2015-06-26 13:34] #3394 closed

[2015-06-26 14:54] neilcsmith-net opened #3437 "Add matrix options for PImage uniforms in PShader"
Tangentially related to work in #2963 it would be useful to be able to set a texture matrix (and offset?) from a PImage uniform on a PShader, in a similar way to how these are set up for the default texture -

https://github.com/processing/processing/blob/master/core/src/processing/opengl/PShader.java#L1348

Could be done explicitly -

[code]
or automagically
[code]

[2015-06-26 15:28] benfry commented on #3436
Added notes to the docs item.

[2015-06-26 15:55] #3429 closed

[2015-06-26 17:09] prisonerjohn commented on #3353
I made the changes to the build_listings script (and updated the field names). An entry now looks something like this:
[code]

I'm not sure what I need to do to get this updated list at http://processing.org/contrib_generate/contribs.txt, paging @REAS @alignedleft

[2015-06-26 21:17] joelmoniz commented on #3363
Thank you very much! I can no longer reproduce this issue on Windows 8.1.

[2015-06-26 22:58] REAS commented on #3353
There's a "Pull Latest Changes" in Generate, that updates the entire site from GitHub.

[2015-06-26 23:37] alignedleft commented on #3353
@prisonerjohn Let me know if you want me to update this on the main site (or just beta).

[2015-06-27 00:09] alignedleft commented on #3358
I started writing pages on [Changes for 3.0](https://github.com/processing/processing/wiki/Changes-in-3.0) and [Multiple Sketchbooks](https://github.com/processing/processing/wiki/Multiple-Sketchbooks).

[2015-06-27 00:32] alignedleft commented on #2953
#3429 has been closed. @Akarshit could you test this? I wonder if something broke with the Examples installer during the process of creating the unified CM window.

[2015-06-27 00:40] Manindra29 commented on #3286
No, I'm not at the moment.

[2015-06-27 00:47] Manindra29 commented on #3434
I'll take this one.

[2015-06-27 01:26] benfry commented on #3358
Thanks, I've added those to the GUI.

[2015-06-27 01:27] benfry commented on #3363
That's great news, thank you!

[2015-06-27 05:42] Akarshit opened #3439 "PDE not opening with latest build"
Getting
[code]

[2015-06-27 08:27] omerjerk commented on #3439
I'm also getting this error.
This is hindering my work on the android mode. Please fix it asap.
Thanks.

[2015-06-27 12:17] #3439 closed

[2015-06-27 12:17] benfry commented on #3439
Now fixed.

@omerjerk demanding that I fix “asap” is a little too much.

[2015-06-27 12:58] omerjerk commented on #3439
I myself tried to fix it but couldn't figure out the problem.

[2015-06-27 18:22] Akarshit commented on #3439
@benfry
Haha +1 to you, couldn't stop myself from commenting.

[2015-06-27 19:00] Akarshit opened #3440 "CM doubts and status"
@alignedleft
I am opening this because I think there are more people involved in CM than us so they can also point out if we missed something.

Things left
* ~~display the progressbar that hides behind the label showing version.~~
* ~~Make the error Panel.~~
* do something(or don't do anything) when a contribution that is not compatible is clicked.
* convert the list to table
* handle the special

[2015-06-28 10:03] Grahack opened #3441 "color(0, 0, 0, 0) should be transparent but isn't"
Or am I missing something?

Thanks.

[2015-06-28 20:33] REAS commented on #3441
We need to know which version of Processing, OS, and renderer. Please provide this information and a short code example to test.

[2015-06-29 13:24] galsasson commented on #3435
This should be an easy fix.
I will take a look toward the end of the week.

[2015-06-29 14:03] tillnagel commented on #3441
Might be related to #2339.

See also https://github.com/processing/processing/wiki/Troubleshooting#color0-0-0-0-is-black

[2015-06-29 14:51] tillnagel opened #3442 "loadImage from URL and without suffix may not load image correctly."
Loading images from a URL (always containing a dot e.g. "processing.org") where the image does not have a suffix (e.g. ".png") results in the image not being loaded: "Could not find a method to load".
Providing "unknown" as second parameter works - e.g. loadImage("processing.org/myImage", "unknown") but now the potential transparency is not handled anymore. Now, when a) I don't know the image suff

[2015-06-29 14:56] codeanticode commented on #3437
You can set a PImage uniform with the current API. The usage example you mentioned:

[code]

is supported, all you need is to define the imgMatrix uniform in the shader code.

[2015-06-29 15:04] neilcsmith-net commented on #3437
How?!  How do you get access to the information to set up the correct matrix (as the link above) without accessing Texture, which AFAIK is not meant to be a part of the public-facing API?

[2015-06-29 15:09] codeanticode commented on #3437
Sorry, I overlooked the fact you were also asking about the texture matrix. Processing automatically computes a texture matrix to apply to the default texture (you can access it through the texMatrix uniform), if you want to specify your own texture matrix, you would need to compute it an pass it as a PMatrix3D or 2D:

https://processing.org/reference/PShader_set_.html

[2015-06-29 15:14] neilcsmith-net commented on #3437
I'm *only* asking about the texture matrix. At the moment, you can set a PImage as a uniform, but there's no way to set up the associated texture matrix without accessing Texture to do what that PShader code is doing here -

https://github.com/processing/processing/blob/master/core/src/processing/opengl/PShader.java#L1348

I believe one benefit for #2963 would be for multi-texturing, for which thi

[2015-06-29 15:33] codeanticode commented on #3437
Ok, I got your point. We would need to discuss the possibility of adding this feature. While I understand it could be useful in some situations, it is something that would mostly benefit advanced users, who are would probably know how to construct their texture matrix anyways.

[2015-06-29 15:43] neilcsmith-net commented on #3437
How do you get the information to construct the matrix without accessing Texture though (eg. to get invertedY value)?

It relates to a comment by @JakubValtar in #1988 too.

[2015-06-29 15:46] codeanticode commented on #3437
You can use the PGraphics.getCache(PImage) method to get the Texture object backing the PImage, in case you want to do advanced manipulations of the GL-level information.

[2015-06-29 16:01] neilcsmith-net commented on #3437
Yes, *I* can, but I'm not sure it's ideal for the target audience.  I agree with @JakubValtar in that issue - "Especially for shader beginners, inverting is very confusing when mixing PGraphics and PImage"  This is, IMO, *an option* for negating that problem, if making people pass through multiple texture varyings.

Incidentally, an even easier, but breaking, way to fix that would be to have all t

[2015-06-30 07:44] clankill3r commented on #3441
may also be related to:
https://github.com/processing/processing/issues/3317
which is fixed for next processing

[2015-06-30 11:47] codeanticode opened #3443 "modes extending Java mode should load their parent's JAR"
Modes such as REPL and Android extend JavaMode.jar, and thus their loader is unable to resolve this dependency unless JavaMode.jar is added explicitly to the [loader's creation](https://github.com/processing/processing/blob/master/app/src/processing/app/contrib/LocalContribution.java#L164).

[2015-06-30 13:37] Grahack commented on #3441
Sorry for the lack of details.
It happens with processing.js 1.4.8 and processing 2.2.1 (on my Debian box processing-java says 0227).
Here is a snippet:

    void setup() {
      size(200, 200);
      fill(color(0, 0, 0, 0));
      rect(50, 50, 100, 100);
    }

See it live here:
http://www.openprocessing.org/sketch/204197

[2015-06-30 13:54] alignedleft commented on #3441
processing.js is a separate project that is no longer being developed, and we can't support it here. See: processingjs.org

The open processing link you sent actually looks correct to me: the rect is transparent.

Also, Processing 2.2.1 is not supported at this point; please test with the latest 3.0 alpha.  We want to fix things for 3.0.

Why are you using `color()` to calculate a `color` value fo

[2015-06-30 14:14] aengelke commented on #3441
Actually, this is the problem described here: https://github.com/processing/processing/wiki/Troubleshooting#color0-0-0-0-is-black

[2015-06-30 14:19] alignedleft commented on #3441
Thanks, @aengelke.

[2015-06-30 14:19] #3441 closed

[2015-06-30 14:21] alignedleft commented on #3358
@benfry how can I trigger the new welcome screen, to take a look at it?

[2015-06-30 14:28] alignedleft commented on #3440
@Akarshit thanks for documenting all of this, but this is a huge thread, so I don't want to respond to everything at once. Let's take one at a time.

For the first concern, the description in the lower panel should always reflect what *selection* the user sees in the upper panel. So, if you select a library, then switch to another tab (say, "modes"), now there is no selection above, so the descrip

[2015-06-30 14:46] Grahack commented on #3441
Thanks all, and sorry for the noise.
Happy hacking!

[2015-07-01 07:34] Akarshit opened #3445 "Installing contributions gives error"
The stack trace is as follows
`java.lang.NoClassDefFoundError: processing/app/Editor
	at java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.lang.Class.privateGetDeclaredConstructors(Class.java:2671)
	at java.lang.Class.getConstructor0(Class.java:3075)
	at java.lang.Class.newInstance(Class.java:412)
	at processing.app.contrib.ToolContribution.<init>(ToolContribution.java:62)
	at proce

[2015-07-01 07:40] joelmoniz commented on #3445
I think that the source if the error might be that the Editor (along with
several other classes) were shifted from processing/app to
processing/app/ui, which means that the imports of all the tools have to be
updated/changed ( there might be an error in ToolContributions file as
well, but I'm definitely sure that the first will cause a problem).

[2015-07-01 07:45] Akarshit commented on #3445
@joelmoniz Yes i guessed that but i opened this so that the people who have moved the stuff will handle this, as it might require some changes.

[2015-07-01 08:48] bobvk opened #3446 "calling Class.newInstance() or Constructor.newInstance() always throws an InstantiationException"
I'm unable to create a new instance for a class in processing 2.2.1.

If I'm just doing something wrong, my java isn't what it used to be, please enlighten me, all help would be greatly appreciated!

     void setup() {
        Object o;
        o = Tester.class.newInstance(); //always throws :(
     }
     public class Tester {
       public Tester() { }
     }

Thanks for an awesome play/dev env

[2015-07-01 09:39] aengelke commented on #3446
This is no issue with Processing. To create a new instance of class, just do `Tester myTester = new Tester();`.

[2015-07-01 09:58] bobvk commented on #3446
Hi aengelke,
If u had that option I would.
Im working on a dynamic programming problem, the example i gave was the most simple reproducable example i could construct.

the actual call is within a loop over a HashMap<String,Class>, instantiating any class in that (dynamically filled) hashmap at runtime.

The hashmap is filled via reflection, but i can't hardcode as you propose since the actual list

[2015-07-01 11:21] aengelke commented on #3446
I guess the reason for the exception is that the class (`Tester` in this case) is nested. Processing wraps the whole code you write in tabs which name does not end with`.java` in one class named as your sketch. Two ideas to fix: Make the class `static` OR put the class in a new tab named `Tester.java`.

It looks like an issue in your code, resulting from doing advanced Java programming, and is not

[2015-07-01 11:51] bobvk commented on #3446
Ok, that makes sense! I'll try your suggestions and comment back if I manage to get something working, you've been a great help.

Worst case I'll include processing as a lib in a regular java app, but as I'm also occasionally targeting processingjs I'm trying to avoid that.

Thanks!

[2015-07-01 11:51] #3446 closed

[2015-07-01 13:03] tillnagel opened #3447 "Transparency problem when using OpenGL-based renderer for PGraphics"
When creating a PGraphics to draw on, and then displaying that onto the main canvas, transparency seems off for OpenGL-based renderers (P2D, P3D, OPENGL).

I saw #90 and looked through the referenced bug reports, and think this is related but not the same. I tried blendModes, changing mentioned GL-hints, re-ordering the draw calls of the objects, and translating the objects on the z-axis, but all

[2015-07-01 13:49] galsasson commented on #3435
Ok, after taking a look, I'm not sure what's wrong.

Tweak mode is not doing anything with size. The only thing it does is adding code to the end of the setup() function. It adds two function calls right before the closing bracket of the function:
tweakmode_initAllVars();
tweakmode_initCommunication();

Also, some code is being added to the beginning of the first pde file, maybe thats forbidden no

[2015-07-01 17:56] eric-souther commented on #3208
Looks like this was fixed in 3.0a8., however no matter what I change with size or fullScreen now when I run tweak mode in 3.0a10 on OS X 10.10.3 I get this error "IllegalStateException: fullScreen() cannot be used here, see https://processing.org/reference/fullScreen_.html" All I have in setup is fullScreen(P3D), and in draw a background and ellipse.

[2015-07-01 18:27] neilcsmith-net commented on #3447
Looks like #3391 to me!

[2015-07-01 20:24] prisonerjohn commented on #3353
OK, this is ready on my end.
I built and ran Processing locally and used http://beta.processing.org/contrib_generate/contribs.txt to get the list, it seems to be working fine.

[2015-07-02 02:25] alignedleft commented on #3353
@prisonerjohn should we close this issue then? Do you want/need me to regenerate contribs.txt on the live site?

[2015-07-02 08:17] jondo opened #3448 "Feature: Option to automatically save sketches when launching them"
I would like to have such an autosave to make it easier to use version control software.

I am a Processing newbie, currently using Processing 3.0a5.

[2015-07-02 08:24] tillnagel commented on #3391
@neilcsmith-net Care to share your OpenGL renderer subclass, or some pointers on how to work-around this for now?

[2015-07-02 09:53] jondo opened #3449 "Processing should notice when a loaded sketch file is changed on disk"
When there are unsaved changes, the user should be warned, otherwise a reload should be offered (or optionally done automatically).

Automatic reload would make it easier to switch between different versions with version control software.

[2015-07-02 09:55] joelmoniz commented on #3448
Processing provides an option to do this, although it is disabled by default. To enable this:

1. Go to `File>Preferences` (or `Ctrl+,` on Windows).
2. Double click on the file link below the line "More preferences can be found at".
3. Close processing, open up the preferences.txt file in the folder just opened via 2
4. Set the `pdex.autoSave.autoSaveEnabled` property to `true`, and processing sho

[2015-07-02 10:00] jondo opened #3450 "Reloading an open sketch does not work"
Create and save a sketch with the Processing IDE, then edit and save the sketch file with a text editor while leaving the Processing IDE open.
Now reopening the sketch file in the Processing IDE should load the edited file. Instead, it does nothing.

This would be useful when using version control software. Currently (3.0a5) I have to reopen the sketch GUI window instead.

[2015-07-02 10:04] aengelke commented on #3449
This was implemented by @pvrs12. There is the `editor.watcher` preference in the config file. (See the preference window to see where the file is located on your system.)

[2015-07-02 10:05] aengelke commented on #3450
This is (nearly) the same as your bug #3449.

[2015-07-02 10:12] jondo commented on #3448
This works, thank you!

[2015-07-02 10:12] #3448 closed

[2015-07-02 10:21] jondo commented on #3449
Should this already be contained in version 3.0a5? I see `editor.watcher=true`, but there is neither a warning nor an automatic reload when a sketch file is changed externally.

[2015-07-02 10:22] jondo commented on #3450
The difference to #3449 is: When automatic reload is off (or when it [does not work](https://github.com/processing/processing/issues/3449#issuecomment-117991873)), I still want to be able to manually reload the file without closing it.

[2015-07-02 10:39] neilcsmith-net commented on #3391
@tillnagel It's all up in the Praxis LIVE repositories - https://github.com/praxis-live

In particular look at [PGLGraphics](https://github.com/praxis-live/praxis/blob/master/praxis.video.pgl/src/net/neilcsmith/praxis/video/pgl/PGLGraphics.java) and the revised implementations of `blendModeImpl()` and `colorCalc()`.  Incidentally those methods are forks of the Processing ones which isn't reflected

[2015-07-02 16:16] prisonerjohn commented on #3353
Yes and yes, unless someone wants to have a second look first.

[2015-07-02 17:01] alignedleft commented on #3353
At a glance, this looks OK to me. @Akarshit could you double-check this fix? (I think just click the URL above and scan for duplicates.)

Once we have another set of eyes on it, I can update the live site and close this issue. Thanks!

[2015-07-02 17:07] Akarshit commented on #3353
@alignedleft ya sure

[2015-07-03 09:38] shiffman opened #3453 ""Library not installed properly" error message inconsistent in P2D/P3D vs. JAVA2D"
I discovered this while developing a library that requires native files.  If my library is not configured properly and I run an example in `JAVA2D`, the result is:

<img width="893" alt="screen shot 2015-07-03 at 10 31 41 am" src="https://cloud.githubusercontent.com/assets/191758/8496668/f0a6a7a4-216e-11e5-815e-e4f5df85a369.png">

If I change the example to `P2D` or `P3D`, the result is the scarie

[2015-07-03 13:21] galsasson commented on #3435
This is a modified example of a test code I always use, can someone tell me whats wrong with this code?
Size is the first command in setup() but I get "IllegalStateException: size() cannot be used here".
This was working until now.

[code]

[2015-07-03 13:28] shiffman commented on #3435
A couple quick tests, I think that the `class
[code]

[2015-07-03 13:29] shiffman commented on #3435
A couple quick tests, I think that the `class` definition just needs to be below `setup()`.  This works for me:

[code]

[2015-07-03 13:39] galsasson commented on #3435
Thanks @shiffman !
If thats the issue, I will just add the class definition to the end of the first pde, this is not a big deal.
I guess that as a result of the change in the preprocessor a class definition is forbidden now before the setup function?
I just wonder if there is anything else that can go wrong as a result of the change in the preprocessor.

[2015-07-03 14:18] benfry commented on #3442
Just pass a legitimate extension as the second parameter to `loadImage()`. That's what it's there for, and is already an edge case that we support. The idea that you don't know the type is an edge case of an edge case, which is too narrow a use case to further muck up the code.

[2015-07-03 14:20] #2760 closed

[2015-07-03 14:28] benfry commented on #3445
Duplicate of https://github.com/processing/processing/issues/3080

[2015-07-03 14:28] #3445 closed

[2015-07-03 15:03] #3435 closed

[2015-07-03 15:03] benfry commented on #3435
Fixed for alpha 11.

[2015-07-03 15:08] benfry commented on #3358
It's in `build/shared/lib/welcome/index.html`. It'll just be that page, but opened to 400px wide (or so).

Are you up and running with Processing inside Eclipse? If so, it's possible to run from there, but I'm guessing you're not?

[2015-07-03 15:31] alignedleft commented on #3358
@benfry thanks! No, I'm not set up with Eclipse. (Though I've heard such nice things about getting it set up.) I can install it if that helps. Can I help style this with CSS, images, anything? I don't understand how it will be rendered from within the Java app.

[2015-07-03 16:06] benfry commented on #3358
Ok, just posted an updated version so that you can debug. (You're at least building from Git on the command line, right?)

The screen is now (temporarily?) available as an item under the Help menu. Nobody will ever look there, so it's a safe place to debug this. Ha ha ha. Ahem.

When you select it, it reads the copy of the HTML from `build/shared/lib/welcome/index.html` and shows the window. You s

[2015-07-03 16:16] benfry commented on #3443
I've added comments about the right approach to #3444.

[2015-07-03 17:32] bobvk commented on #3446
Just for future visitors, simply sticking your classes in .java named files didn't do the trick :) the search goes on, time to hook this up to a debugger
![image](https://cloud.githubusercontent.com/assets/3190353/8503106/270104ac-21ba-11e5-9456-857b231c032e.png)

[2015-07-03 20:01] benfry commented on #3358
@alignedleft Is this something you'll be able to take care of in the next few days? I'd like to turn this on for alpha 11 (since it'd be good to test it before the beta 1), but I don't think we should until it's had some design love.

[2015-07-03 21:41] alignedleft commented on #3358
Thanks! Makes sense, and yes, I can take care of this in the next few days, and *yes* I am using git and the command line, thank you very much. :)

[2015-07-04 03:01] galsasson commented on #3435
Thanks @benfry

[2015-07-04 14:35] KevinWorkman commented on #3446
Here's my full answer: http://stackoverflow.com/a/31184583/873165

But I just wanted to note that putting your classes into .java files does indeed work (as I showed in the above link), but it looks like you forgot the .java part in your screenshot.

[2015-07-04 18:48] benfry commented on #3446
Please keep coding questions like this to forum.processing.org. It's not a bug and doesn't belong here.

[2015-07-05 19:39] Munzey commented on #3080
Im getting this error with the 3.0alpha build (running on Ubuntu 14) after installing a contributed tool. For example, after installing Color Selector Plus and restarting the pde:
[code]
the pde still works fine, but obviously the installed tool is missing from the tool bar.

[2015-07-06 04:28] #3434 closed

[2015-07-06 04:38] alignedleft commented on #3358
@benfry This is so cool! I can write HTML and CSS, then just reopen the welcome screen.  It's like making a real web page! :)

Here's the current state so far. Can you point me toward the new P3 logo file? Then I want to see if I can get the font and images correct.

![screen shot 2015-07-05 at 9 35 53 pm](https://cloud.githubusercontent.com/assets/1034002/8515760/1788abc4-235e-11e5-8e1a-e3fa97e44

[2015-07-06 06:38] mckennapsean commented on #3409
Now fixed!

Started working between d8dd354 and 240dde4.

[2015-07-06 06:38] #3409 closed

[2015-07-06 14:13] jondo opened #3455 "Sketches should be saved with Windows newlines on Windows"
Version 3.0a5 saves with Unix newlines there.

[2015-07-07 06:24] RomainAuroro opened #3456 "THE open() FUNCTION"
I tried the following line of code:
open("Processing/TO_ADD_A_LONG_LIST_OF_SONGS_TO_SONG_LIST/NAME OF PLAYLIST.txt");

when i run it the .exe file in the folder is running instead of the .txt file stated last. In other words if i try to open a file in a folder that has an executable, then the executable is chosen over the file. And i cant put the file somewhere else cause its going to be used late

[2015-07-07 10:15] jondo commented on #2681
Does version 3.0a5 provide autocompletion? It seems not.

[2015-07-07 10:50] jondo opened #3457 "The PDE find dialog should be initialized with the current selection"
(I am currently using version 3.0a5.)

[2015-07-07 12:56] shiffman commented on #2681
autocompletion was temporarily broken in earlier alphas  see #3111.

[2015-07-07 12:59] shiffman commented on #2681
@Manindra29, I propose we close this issue and I could open a new "enhancement" issues for "obtaining argument names" someday, but this is a larger endeavor that likely won't happen for 3.0.

I believe the last code completion "to do" item is #2951.

[2015-07-07 13:01] shiffman commented on #3254
This behavior is no longer occuring in current build from source (0238).

[2015-07-07 13:01] #3254 closed

[2015-07-07 13:17] calebccff opened #3458 "Won't open - 3.0a10"
When I run it a sketch, most of the time it doesn't load, by making all my functions print their function name and displaying the frame count draw() stops anywhere between 10 and 30 frames and the sketch window never opens, it gives the impression that Processing encounters an internal error with running draw() and stops, there is no error message. Hopefully this will be fixed by the next update.

[2015-07-07 13:29] joelmoniz commented on #3458
I think this is the same as the issue [here](https://github.com/processing/processing/issues/3363), which has now been fixed (although this was after the 3.0a10 release, I think, which means that the next release won't have this issue). Could you please check if this issue occurs in the current build?

[2015-07-07 13:52] alignedleft commented on #3456
Can you please specify all of the actual filenames involved?

Are you saying that you are trying to trigger opening of a file called "NAME OF PLAYLIST.**txt**" and instead a program called "NAME OF PLAYLIST.**exe**" is being opened?

Also, to clarify, `open()` is for opening files with your OS's usual behavior, not for loading data into a sketch, as with `loadStrings()`.  See:  https://processing.

[2015-07-07 14:58] rcrawfordEMX opened #3459 "open() function does not exist in 3.0a10"
When attempting to call the open() function in 3.0a10, the following error occurs:
"The function "open(String)" does not exist".  The function works fine in 2.2.0.  Anyone else have this issue?

[2015-07-07 20:51] RomainAuroro commented on #3456
I know that open() is for opening files with your OS's usual behavior. The thing is i when i run open("Processing/TO_ADD_A_LONG_LIST_OF_SONGS_TO_SONG_LIST/NAME OF PLAYLIST.txt");
it opens the sketch file its self. that is, it opens: TO_ADD_A_LONG_LIST_OF_SONGS_TO_SONG_LIST.pde
i was wondering if its because part of the .pde file name is located in the path.

[2015-07-07 20:55] alignedleft commented on #3456
What version of Processing and what OS (and version) are you using?

Also, if you try using an absolute path to the file (e.g. `/Users/romain/file.txt`) does it behave differently?

[2015-07-07 20:59] RomainAuroro commented on #3456
No it doesn't. And i don't want to use that cause if i transfer the folder somewhere else on the computer it worst wont find the .txt file.  I'm using the latest version 2.2.1 and Windows 8.1

[2015-07-07 23:34] JukePlz commented on #3459
Not a bug, as of 3.0a10 the open() function has been renamed to launch()

commit 997407328125cd9719658d371d1cf2e8c71fcbd1

[2015-07-07 23:55] JukePlz commented on #3456
I was just testing this (Win7x32, Proc. 3.0a5) and it seems the trigger for the "opening itself" problem is having "Processing" as a folder inside the sketch and using it in the path name for open().

Still, after changing that folder name I can't get it to open a text file in a situation like this bug report. Nothing happens at all, and it seems directly using the windows command line from the wo

[2015-07-08 02:33] alignedleft commented on #3456
Thank you both. Please test with 3.0a10 and let us know what you find:  http://processing.org/download

Note that `open()` has been renamed to `launch()` going forward. See: #3459

[2015-07-08 09:17] ameyabap opened #3460 "AppBundler: Can we keep classpath jar files outside Contents/Java? Is there any way to refer them from Info.Plist?"
I used <classpath file="MyApp.jar"/> in build.xml and packager copies jar file into Contents/Java folder. Is it necessary that all classpath jar files should be preent in Contents/Java?
Is there any way so that instead of keeping jar files in Contents/Java, I can keep them some other path outside such as /Application/MyApp/lib? I think this was possible with Apple's 1.6 JarBundler. Can I add somet

[2015-07-09 07:24] JukePlz commented on #3447
Probably a duplicate of #3317 or related to it.

[2015-07-09 18:28] benfry commented on #3460
Please use forum.processing.org for questions.

[2015-07-09 18:28] #3460 closed

[2015-07-09 18:30] #3443 closed

[2015-07-09 18:32] benfry commented on #3459
This was noted on the revisions page, and is part of avoiding confusion with Python and other modes.

[2015-07-09 18:32] #3459 closed

[2015-07-09 18:33] benfry commented on #3456
The [revisions](https://raw.githubusercontent.com/processing/processing/master/build/shared/revisions.txt) cover incremental changes between releases, and are especially important to read for pre-releases.

[2015-07-09 18:33] #3456 closed

[2015-07-09 18:36] benfry commented on #3358
From the welcome folder, the icon/logo will be `../icons-pde-XXXX.png` depending on what you're looking for.

[2015-07-10 19:11] benfry commented on #3080
@Munzey Exactly. Just like the topic of this page says, the Tool you're trying to use needs to be updated for 3.0.

[2015-07-12 16:41] gerbyzation commented on #3387
this is happening to me as well but I'm storing my sketches on my main drive in my Macbook

[2015-07-13 05:31] codeanticode commented on #2963
last bits implemented in https://github.com/processing/processing/commit/a99c094521bf24527eec01ac7c675c9b9e4db04a

[2015-07-13 05:31] #2963 closed

[2015-07-13 14:47] benfry commented on #3387
@gerbyzation That's a different issue, and likely already fixed in the current source.

[2015-07-13 16:01] gerbyzation commented on #3387
@benfry oh, sorry!

[2015-07-14 11:04] benfry commented on #3387
@gerbyzation But if you still see the problem in the next release, please file a new issue and let us know!

[2015-07-14 12:57] benfry commented on #3458
Duplicate of #3363, #3315, #3316, or #3303. Fixed for the next release.

[2015-07-14 12:57] #3458 closed

[2015-07-14 13:00] benfry commented on #3450
The current behavior is the norm for most applications.

[2015-07-14 13:00] #3450 closed

[2015-07-14 13:39] jondo commented on #3450
You could try to be less broken than others.
Notepad++ does this correctly, b.t.w..

[2015-07-14 15:19] benfry commented on #3442
On closer look, doing the "unknown" check makes sense.

[2015-07-14 15:20] #3442 closed

[2015-07-15 14:05] benfry opened #3464 "Contribution Manager looking really rough"
@Akarshit what's going on here? This is a huge step backwards from the previous version. I'm trying to get alpha 11 out and it can't go out looking like this... cc @alignedleft

(Also FYI, I moved the icon files around to keep them in line w/ how we handle all other assets. The `icons` directory is for the app's icons.)

<img width="787" alt="screen shot 2015-07-15 at 10 02 52 am" src="https://clo

[2015-07-15 17:54] Akarshit commented on #3464
@benfry I think i understand what's the problem here. Working on it.

[2015-07-15 22:17] sci4me opened #3466 "Current version of Android Mode not compatible with Processing 2.2.1"
I am using Processing 2.2.1 and I am trying to install the Android Mode. At the bottom of the mode manager, it says "Error during download and install." in red. Here is the stacktrace:

[code]

[2015-07-16 02:51] aidan-fitz opened #3467 "A way to attach libraries to a sketch?"
An issue I'm having with my sketch is that it requires an external library, so I have to somehow include the library with [my sketch on GitHub](https://github.com/aidan-fitz/AudioProcessing/tree/master/ChiptuneMaker). However, users have to move the libraries to their `sketchbook` folders manually for this to work, and I don't want that. Is there a better way to make my sketch self-contained and w

[2015-07-16 07:26] aengelke commented on #3467
You can try to place the jar files in the `code` folder of a sketch.

[2015-07-16 09:50] benfry commented on #3467
Please use forum.processing.org for questions.

[2015-07-16 09:50] #3467 closed

[2015-07-16 15:10] #2904 closed

[2015-07-16 15:18] codeanticode commented on #2904
We will add a section in the wiki explaining the workarounds discussed in this thread.

[2015-07-16 15:35] codeanticode commented on #3029
Fixed on 3.0a10.

[2015-07-16 16:01] #3029 closed

[2015-07-16 16:03] codeanticode commented on #2928
no updates, seems fixed from my own tests (Demos|Tests|EmbedFrameTest needs to be updated to use the latest API change in PApplet though). Closing.

[2015-07-16 16:03] #2928 closed

[2015-07-16 16:04] codeanticode commented on #2775
I would say so. @teo1978 @monkstone do you still see these issues in 3.0a10?

[2015-07-16 16:09] codeanticode commented on #3281
It is not very clear from your description what the problem is. Could you give us more details, or add a screenshot demonstrating the issue? Thanks!

[2015-07-16 16:12] monkstone commented on #2775
Still seen o Archlinux with 3.0a10:-
[code]

[2015-07-16 16:35] JakubValtar opened #3469 "Nested beginDraw() / endDraw() calls"
I propose using stack for PGraphics which would work the same way as the transformation matrix stack. `beginDraw()` would push active PGraphics on the stack before activating new one and `endDraw()` would pop the previous PGraphics off the stack and activate it.

[2015-07-16 16:41] benfry commented on #3469
Mmmm... No way that we can make this work across renderers (think PDF and others).

[2015-07-16 18:29] JakubValtar opened #3471 "Links in error bar are not selectable nor clickable"
I would like to get to the address without typing it by hand into my browser.

I would also like to google the whole error text without typing it by hand.

![message](https://cloud.githubusercontent.com/assets/3177098/8731576/532d80e4-2bc6-11e5-9412-9263bdec5b0b.png)

[2015-07-16 18:38] JakubValtar commented on #3401
Can't reproduce. It works as expected on my Windows 8.1 64bit. Window size is capped by the screen size, size of the sketch is automatically adjusted, `width` and `height` correctly reflect the actual size of the sketch.

When the `size()` is in `setup()` and width or height is greater than the size of the screen, the sketch freezes and I get `IllegalStateException: size() cannot be used here, see

[2015-07-16 19:11] benfry commented on #3358
Now implemented. Though we need to write text for the non-sketchbook version.

[2015-07-16 19:11] #3358 closed

[2015-07-16 19:20] JakubValtar commented on #2235
Original code example works great in current HEAD when you export with ENABLE_DEPTH_SORT hint. Should we sort by default when people export to PDF from P3D, or should we explect people to enable the sorter themselves?

[2015-07-16 19:22] clankill3r opened #3472 "cursor(CROSS) breaks when using surface.setTitle"
When setting the title with either frame or surface the custom cursor breaks.

tested in processing 3.0a10
OS X 10.10.4

Important detail: It only seems to happen with a title that is changing!

[code]

[2015-07-16 19:32] StanLepunK commented on #3281
In this screenshot we can see a step on the line, may be that's be good to add "anti-aliasing" ?
Test on Processing 3.0a10 / iMac 2012 / OS 10.9
![capture d ecran 2015-07-16 a 21 29 42](https://cloud.githubusercontent.com/assets/3332269/8733074/ded345d0-2c01-11e5-8992-22735bb57ff9.png)

[2015-07-16 19:33] JakubValtar commented on #2483
Can't reproduce on my integrated Intel HD Graphics 4600.

[2015-07-16 19:50] JakubValtar opened #3473 "OpenGL sketch flickers when draw() is missing or empty"
Looks like double buffering issue.

[code]

[code]

[code]

[2015-07-16 21:56] hamoid commented on #2483
My current laptop (Intel HD 4000) shows all the examples above correctly on Arch Linux and Processing 3.0a5. I guess this can be closed. Should there be a note somewhere mentioning that old GPUs may behave in strange ways?

[2015-07-17 04:55] joelmoniz opened #3474 "Welcome screen does not display when building from latest source on Windows"
When building on latest source, the Welcome screen does not display. However, an exception is thrown with the following stack trace:

[code]

OS: Windows 8.1

[2015-07-17 06:27] tiwawan opened #3475 ""Enable complex text input" does not work on Linux"
OS: Ubuntu 14.10
Processing version: 3.0a11

I enabled "Preferences>Enable complex text input" and restarted Processing. Then, I tried to input Japanese, but I couldn't.
![processing-jpn_complex](https://cloud.githubusercontent.com/assets/4486076/8741692/b0c75d2a-2c97-11e5-9915-1a6f947b7d68.png)

On Windows, it looks working well, though the unfixed text is shown doubly(left one of below image).
!

[2015-07-17 07:03] codeanticode opened #3476 "ArrayIndexOutOfBoundsException error when enabling depth sorting in P3D"
This code:

[code]

gives the following error when adding the depth sort hint (tested on 3.0a11):

[code]

[2015-07-17 07:12] codeanticode commented on #3473
I don't see flickering on Mac OSX, seems to be specific to Windows.

[2015-07-17 07:24] codeanticode commented on #3466
What version of the android mode did you try to install?

The latest version of the mode that would work with 2.2.1 is [232](https://github.com/processing/processing-android/releases/tag/android-232), which you can download manually and unzip inside your sketchbook/modes folder.

@prisonerjohn the mode manager in 2.2.1 simply tries to download the latest available mode, even though if it is not co

[2015-07-17 13:15] benfry commented on #3466
Yes, it'll use the latest version—the thing to do would be to have a different link if you were maintaining the 2.x version. But 3.0 alpha 11 has been posted, so let's get Android Mode updated (again) for 3 and have folks move to that. (Let's not waste time we don't have updating the 2.x version.)

[2015-07-17 13:15] sci4me commented on #3466
It seems that the version I was trying to get was 238. Sure enough, 232 works a treat.

[2015-07-17 13:16] benfry commented on #3474
Have you done an `ant clean`?

[2015-07-17 13:16] benfry commented on #3474
Oh, crap—that's a debug problem. !@#$

[2015-07-17 13:47] #3474 closed

[2015-07-17 13:51] benfry commented on #3440
@alignedleft Structurally this is all possible (and seems to be implemented), but at the moment, I think @akarshit took the wireframes to be design comps, not wireframes, so the design needs work at the moment (that's covered at #3464). Though I could have James work on the design so that it's consistent with his work on the editor.

[2015-07-17 14:19] #3476 closed

[2015-07-17 15:38] codeanticode commented on #3466
@sci4me great, thanks for let us know

@benfry Of course, I agree with not updating the 2.x version. Perhaps we can simply add a note somewhere in the processing-android wiki saying that users wishing to use the android mode on 2.x should manually download and install 232. The [latest mode available](https://github.com/processing/processing-android/releases/tag/latest) is the one for 3.0 alpha 11

[2015-07-17 15:38] #3466 closed

[2015-07-17 15:45] benfry commented on #3449
It's available in the current release, 3.0a11.

[2015-07-17 15:45] #3449 closed

[2015-07-17 16:13] benfry opened #3478 "Implement 2x versions of the Contribution Manager icons"
We'll need double-size images for the files in lib/manager. As with other components, these should include -1x and -2x in their names.

In the code, select the necessary size based on `Toolkit.highResDisplay()`. You can see the implementations in other UI classes such as `EditorFooter.java` for an example.

[2015-07-17 16:14] benfry commented on #3478
cc @Akarshit

[2015-07-17 20:38] Akarshit commented on #3478
Thanks @benfry for pointing that out.

[2015-07-18 15:55] REAS commented on #3478
If possible, it would be best for @alignedleft or James to do this, they have the excellent design skillzz.

[2015-07-18 16:01] alignedleft commented on #3440
@benfry Thanks. I'm communicating with Akarshit offline. I'm working on mockups and will post them in thread #3464 for comments.

@Akarshit I really appreciate that you documented all these concerns, but it is difficult in terms of workflow to have them all captured in a single GitHub issue, as it means we can't track them separately.  Some of these concerns should be regular questions (which you

[2015-07-18 16:09] alignedleft commented on #3478
I will make the icons, but @Akarshit I'll need your help to implement them. I'm working on mockups for the CM now. The icons in the wireframes were just rough concepts.

[2015-07-18 16:36] alignedleft commented on #3478
@REAS Do you know who designed the new console and errors tab icons?

[2015-07-18 19:00] benfry commented on #3478
Those were done by James.

[2015-07-18 20:45] REAS commented on #3478
@alignedleft I'll send you James' email address over email.

[2015-07-18 23:22] Munzey commented on #2063
I am also having the same issue; have been using 2.2.1 and its always the same (shifts north and east) on sketches , and now when building with 3.0a10  it will also shift (sometimes) south and east by a much larger margin. Anything over a quarter of my screen size and it will happen. running Ubuntu 14.10 unity

[2015-07-18 23:24] alignedleft commented on #3353
Thanks, @Akarshit and @prisonerjohn.

I've updated the live site and tested 2.2.1 and the current 3.0a build, and it looks OK to me. If you see any problems, please log a new issue.

[2015-07-18 23:24] #3353 closed

[2015-07-18 23:28] alignedleft opened #3481 "CM updates dialog box doesn't open CM"
I can't reproduce this, so for what it's worth:

In the current 3.0a build, today I ran `ant run`, and the app opened, and the welcome screen displayed. Then, just as I dismissed the welcome screen, a gray dialog appeared, with text like "One or more contributions have been updated. Would you like to view the Contributions Manager?" (or something to that effect).  I clicked "yes" or "OK" (not canc

[2015-07-18 23:45] alignedleft opened #3482 "Finish Contributions Manager UI design"
For #3464 and other issues, we need to finalize the visual design of the new Contributions Manager.

I've started on mockups, but before I go further, I would like your input on whether or not this general approach matches the new editor stylistically. I've reached out to James by email, but in the meantime have lifted color values and approximated other design elements.

Would appreciate comments

[2015-07-19 00:00] alignedleft commented on #3358
@benfry for what it's worth, I tried:

- Using CSS to set the font-family to 'Source Sans Pro', but to no effect. Perhaps this HTML renderer doesn't support web fonts? (Likely.)
- Adding a reference to the P3 icon, but it fails to load (see screenshot).

![screen shot 2015-07-18 at 4 55 43 pm](https://cloud.githubusercontent.com/assets/1034002/8763997/46de6c46-2d6e-11e5-9e10-b11ae6a3cf1f.png)

[2015-07-19 08:52] Akarshit commented on #3482
I think it would be worth looking at this screenshot, most of the libraries have long description(even if we take only the first line) so the CM won't look as clean(with the default font size).
![screenshot from 2015-07-19 14 15 56](https://cloud.githubusercontent.com/assets/7762605/8765236/30e3980e-2e21-11e5-88a6-4c96cc53ed80.png)

[2015-07-19 12:20] hamoid opened #3483 "P2D, P3D on Linux causes IllegalStateException: size() cannot be used here"
[code]

On 3.0a10 and 3.0a11 I get this error:

[code]

I'm running 64bit ArchLinux with recent Intel graphics. Maybe someone could try on Ubuntu?

On 2.2.1 and 3.0a5 it works fine.

[2015-07-19 12:24] hamoid opened #3484 "Transparency in textures only work from one side (P3D)"
Test program:

[code]

When the planes rotate, transparency only works from the front. When seen from the back, one plane covers all others, as its texture had a white background (no transparency).

Is this expected? Is there any way to get double sided transparency?

[2015-07-19 12:29] hamoid commented on #3484
Maybe a duplicate of https://github.com/processing/processing/issues/90 ? If so, I'm sorry about that. I did try finding it.

[2015-07-19 14:23] hamoid commented on #3484
Apparently three.js does not have this issues. I mention it here in case someone wants to study how they did it. A demo with double sided transparency in three.js: http://codepen.io/hamoid/pen/rVrQNN?editors=001

[2015-07-19 14:24] jsfa11 opened #3485 "delay(int) too long"
Is this known, or can it be verified?
The delay function is exaggerating the delay length. I want a short delay, but I have found that  delay(100) (intended 100millisecond delay) generates a ~3 second delay in Processing 3.0a11, but not Processing 2 versions. This also occurs when using Thread.sleep(100).

[2015-07-19 14:29] jsfa11 opened #3486 "editor.window.height.default=700 with console resize"
Changing the default editor size causes the console to resize with the entire value. The code space remains at the smaller size.

[2015-07-19 17:17] benfry commented on #2063
This is an area of active development, so the only version worth testing is 3.0a11. Is it still broken there?

[2015-07-19 17:17] benfry commented on #3358
Oh, it looks like it had picked up the font properly, did it not?

The image thing is fixable. Do you still want the icon to work there?

[2015-07-19 17:20] benfry commented on #3486
https://github.com/processing/processing/issues/3385

[2015-07-19 17:20] #3486 closed

[2015-07-19 17:34] Munzey commented on #2063
if only it was on mavenCentral (would make life much faster :sweat_smile:)

[2015-07-19 17:38] benfry commented on #2063
I'm trying to help you. No need to respond by wasting my time.

[2015-07-19 18:31] Munzey commented on #2063
sorry my attempt at humour was bad. so I checked out 3.0a11 and still same problem. Tried out the offending sketch on a machine running Ubuntu14.04 with no problems.

[2015-07-19 18:38] Munzey commented on #2063
on a side note, when running the ant build script, i got an error that tools.jar was missing (was looking for it at the level of the jdk, `java-oracle-8/libs/tools.jar`), used jdk instead.

[2015-07-20 07:26] Corrado972 opened #3487 "Zero length string passed to TextLayout constructor"
Hello,
I have just run my sketch with Processing v3.0a11 under Windows 7 64 bit.

This row called in draw():
text(testo, myX, myY, myW, myH);

Fail with the error "Zero length string passed to TextLayout constructor" but "testo" isn't empty, it's equal to "Assprz from G5 67509: 5 min ".

With the previous release the execution is without errors.

Bye

[2015-07-20 07:32] Corrado972 opened #3488 "Could not createInput() for ... sketchbook.html"
Hello,
when I run Processing v3.0a11 under Windows 7 64 bit, before load a sketch, the following error appear:

Could not createInput() for C:\Program Files\processing-3.0a11\..\..\..\..\..\shared\lib\welcome\sketchbook.html
java.io.FileNotFoundException: C:\Program Files\processing-3.0a11\..\..\..\..\..\shared\lib\welcome\sketchbook.html (Impossibile trovare il percorso specificato)
	at java.io.F

[2015-07-20 07:50] Akarshit opened #3490 "Unable to open PDE on linux"
When i try to run Processing, first i get a error message saying that java mode is not compatible and needs to be updated, then another message that it is unable to switch modes hence needs to be closed. Here is the stack trace after the second message.
`ava.lang.NoSuchMethodError: processing.app.ui.EditorFooter.addPanel(Ljava/lang/String;Ljava/awt/Component;)V
	at processing.mode.java.JavaEditor.

[2015-07-20 12:04] benfry commented on #3490
Have you tried `ant clean`?

[2015-07-20 12:08] benfry commented on #3488
Already fixed for the next release: https://github.com/processing/processing/issues/3474

[2015-07-20 12:08] #3488 closed

[2015-07-20 12:12] benfry commented on #3487
Works fine here. Please share some code that actually shows the problem.

<img width="820" alt="screen shot 2015-07-20 at 8 11 24 am" src="https://cloud.githubusercontent.com/assets/1623101/8775514/005623f0-2eb7-11e5-9a9d-5da14cea79c9.png">

[2015-07-20 14:00] toniholzer opened #3491 "Missing seperate mode administration for v2.0 and v3.0"
Add the moment it seems that installing or updating modes in Processing v3.0alpha use then same file path as version 2.2.1  (used directory path is  "..\processing\_sketches_\modes\...").
Isn't it wrong to use a directory within the (variable) sketch path?

Modes should be stored in a version spezific file directory like e.g. the existing path
      "..\processing\processing-3.0a11\modes !!!

A si

[2015-07-20 15:55] codeanticode opened #3492 "mode properties are not properly downloaded by the CM"
When trying to install the latest release of the Android mode using the CM in 3.0 alpha 11, I get the following message

"This item is not compatible with this version of Processing"

after downloading, so the mode does not get installed. f you download the mode package manually you can see that the properties file reads:

[code]

However, the mode files left in a temporary subfolder after the fai

[2015-07-20 16:22] Corrado972 commented on #3487
I have a very complex sketch that I cannot post here because it's not public.

The setup() method opens many JDBC connections then, in the end, start a thread that execute many query over the connections.

The draw() method create this string:
  String testo = normalizzaTipoJob(info.tipoJob) + ": " + getTempo(info.esecDaMin) + " ";

The two methods normalizzaTipoJob and getTempo returns a string.

[2015-07-20 16:56] #3223 closed

[2015-07-20 17:07] Akarshit commented on #3490
No, forgot that.
It is working fine now.

[2015-07-20 17:07] #3490 closed

[2015-07-20 17:32] alignedleft commented on #3482
@Akarshit Yes, thanks. My dummy text above doesn't reflect the real data. I'd like for text that doesn't fit to be abbreviated with an ellipsis ("…"), as you have done above. Then selecting that line will reveal the full description in the lower panel (as you have it working now).

[2015-07-20 17:35] alignedleft commented on #3492
@Akarshit can you look at this?

[2015-07-20 17:38] Akarshit commented on #3492
@alignedleft looking into it

[2015-07-20 17:43] alignedleft commented on #3491
I believe that the same sketchbook folder is used (whether you are building locally, running a downloaded alpha version, or a stable release) *unless* you have told 3.0 to create a new, 3.0-specific sketchbook folder (via the new Welcome screen). @benfry can confirm this is the intended behavior.

[2015-07-20 17:44] alignedleft commented on #3487
If you can't reproduce the problem in a simpler sketch, then perhaps the problem is not occurring where you expect. If you can isolate the issue, we can look into it and address it.

[2015-07-20 17:51] alignedleft commented on #3481
Was able to test this again now, and it has been fixed. Thanks, @Akarshit!

[2015-07-20 17:51] #3481 closed

[2015-07-20 18:00] Akarshit commented on #3492
The properties file doesn't contain the imports because of [this](https://github.com/processing/processing/blob/master/app/src/processing/app/contrib/AvailableContribution.java#L352). It looks like this is by design so mabe @benfry can help me with this.
Regarding why installation is not working i am still working on it.

[2015-07-20 18:09] alignedleft opened #3494 "<img> not rendered in Welcome screen"
`<img>` reference in new Welcome screen is broken, and the icon doesn't display.

![screen shot 2015-07-20 at 11 06 15 am](https://cloud.githubusercontent.com/assets/1034002/8783250/7ce31082-2ecf-11e5-9056-7d79c955deb1.png)

The icon to display is the 64x64 image here: https://github.com/processing/processing/tree/master/build/shared/lib/icons

The HTML referencing the image is here: https://githu

[2015-07-20 18:29] alignedleft commented on #3440
@Akarshit I'm closing this, as I think we are already handling most of these concerns through other issues (and with the pending clarification of visual styling for the CM). If you have any outstanding concerns, please email me directly or open a new issue. Thanks!

[2015-07-20 18:29] #3440 closed

[2015-07-20 18:29] Akarshit opened #3495 "A little spacing issue with characters spacing in Welcome screen on Ubuntu"
There is a small spacing issue. I have drawn a circle(ish type of thing) where there is inconsistency.
![welcome](https://cloud.githubusercontent.com/assets/7762605/8783674/fe2cd248-2f3a-11e5-8f23-bf48965bd0da.png)

[2015-07-20 18:39] alignedleft commented on #3495
Interesting. I wonder if this is an issue with how the OS renders this particular typeface. If that's the case, we have limited control over this and probably can't fix it.

[2015-07-20 20:34] Akarshit commented on #3492
I am unable to figure out exactly why this is happening. But [this](https://github.com/processing/processing/blob/master/app/src/processing/app/contrib/ModeContribution.java#L87) line is throwing Exception. But the loader is pointing to the jar file inside the temporary folder that is getting created and the className is the correct name of the class in binary format. @benfry if you could help me

[2015-07-20 20:43] #2937 closed

[2015-07-20 20:59] hype opened #3497 "processing-java cannot be installed on OS X 10.11 El Capitan"
after a day of poking and prodding - I cannot get processing-java to work on the newest version of OSX 10.11 El Capitan. it would seem that /usr/bin and /usr/sbin have been set to READONLY - so trying to install processing-java from the app obviously fails.

so I tried again, clicked "no" which added processing-java to my home directory, where I moved it into my Documents/Processing directory... I

[2015-07-20 21:17] JakubValtar commented on #3229
I can't reproduce this issue, tried 3.0a7 and 3.0a11. I think we can close this. Processing 3.0a7 was based on LWJGL and we already switched from that, so this is probably no longer valid.

If this is still an issue for you, please let us know in a comment.

[2015-07-20 23:22] JakubValtar commented on #3484
Hi @hamoid, sadly this is how rendering transparent textures works. If you draw the front texture first, then you won't be able to draw anything behind it.

We have experimental depth sorting in latest alpha which should help with your problem. You can enable it with `hint(ENABLE_DEPTH_SORT);`. However, depth sorting does not work with PShape yet, so I suggest drawing the textures (or even the cir

[2015-07-21 05:06] retard232 opened #3498 "null pointer error in code directly from tutorial page on the processing website"
![failure](https://cloud.githubusercontent.com/assets/13429040/8793377/e0facbd2-2fc9-11e5-8097-f3745dab9fae.jpg)
![failure 2](https://cloud.githubusercontent.com/assets/13429040/8793400/277bfce8-2fca-11e5-8873-2fb7c5f936ab.jpg)

there is a problem with the tutorials on the base page for this program, as a null pointer error happens when the code is copied which stopped the tutorial dead for me.

[2015-07-21 09:33] aengelke commented on #3498
Did you added the images to the sketch? Also, at which line the exception is thrown?

[2015-07-21 09:38] retard232 commented on #3498
Yeah the images were added to the sketch, the error is in the 22nd line or (pixels[loc] = color(r,g,b);) line. not sure what the problem is at all

[2015-07-21 10:17] aengelke commented on #3498
This is a bug in your code; you are missing a `loadPixels();` at the beginning of the draw function.

[2015-07-21 10:46] retard232 commented on #3498
Thanks heaps, allready there is so much going on here wasnt aware 2 loadpixels were required. Think i deleted the 2nd one after i copied it